---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/datacite/datacite/milestones?state=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1513422438'
      Etag:
      - '"4d4b466c7098d28e44e673135ed612b8"'
      X-Github-Media-Type:
      - unknown, github.v3
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/datacite/datacite/milestones/31","html_url":"https://github.com/datacite/datacite/milestone/31","labels_url":"https://api.github.com/repos/datacite/datacite/milestones/31/labels","id":2880649,"number":31,"title":"DOI
        registration functionality in DOI Fabrica","description":"","creator":{"login":"mfenner","id":23151,"avatar_url":"https://avatars0.githubusercontent.com/u/23151?v=4","gravatar_id":"","url":"https://api.github.com/users/mfenner","html_url":"https://github.com/mfenner","followers_url":"https://api.github.com/users/mfenner/followers","following_url":"https://api.github.com/users/mfenner/following{/other_user}","gists_url":"https://api.github.com/users/mfenner/gists{/gist_id}","starred_url":"https://api.github.com/users/mfenner/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mfenner/subscriptions","organizations_url":"https://api.github.com/users/mfenner/orgs","repos_url":"https://api.github.com/users/mfenner/repos","events_url":"https://api.github.com/users/mfenner/events{/privacy}","received_events_url":"https://api.github.com/users/mfenner/received_events","type":"User","site_admin":false},"open_issues":11,"closed_issues":1,"state":"open","created_at":"2017-11-01T13:34:29Z","updated_at":"2017-12-14T15:26:11Z","due_on":"2018-01-30T08:00:00Z","closed_at":null},{"url":"https://api.github.com/repos/datacite/datacite/milestones/30","html_url":"https://github.com/datacite/datacite/milestone/30","labels_url":"https://api.github.com/repos/datacite/datacite/milestones/30/labels","id":2594080,"number":30,"title":"New
        DOI registration form web interface","description":"The current DataCite Metadata
        Store (MDS) provides a simple interface to create new DOIs via web. This new
        tool will provide Members and Data Centers the opportunit[...]
