---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/datacite/datacite/milestones?state=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1500809631'
      Etag:
      - '"bf8c55058a29fb9150ab6bd9d82311e7"'
      X-Github-Media-Type:
      - unknown, github.v3
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/datacite/datacite/milestones/15","html_url":"https://github.com/datacite/datacite/milestone/15","labels_url":"https://api.github.com/repos/datacite/datacite/milestones/15/labels","id":2564125,"number":15,"title":"New
        user roles and permissions","description":"Design and implement a new model
        for user accounts. It will provide a centralised interface to access all DataCite
        services (via web or API) and more granular access control. Read more about
        Single Sign-on [here](https://en.wikipedia.org/wiki/Single_sign-on ).","creator":{"login":"mfenner","id":23151,"avatar_url":"https://avatars0.githubusercontent.com/u/23151?v=4","gravatar_id":"","url":"https://api.github.com/users/mfenner","html_url":"https://github.com/mfenner","followers_url":"https://api.github.com/users/mfenner/followers","following_url":"https://api.github.com/users/mfenner/following{/other_user}","gists_url":"https://api.github.com/users/mfenner/gists{/gist_id}","starred_url":"https://api.github.com/users/mfenner/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mfenner/subscriptions","organizations_url":"https://api.github.com/users/mfenner/orgs","repos_url":"https://api.github.com/users/mfenner/repos","events_url":"https://api.github.com/users/mfenner/events{/privacy}","received_events_url":"https://api.github.com/users/mfenner/received_events","type":"User","site_admin":false},"open_issues":5,"closed_issues":7,"state":"open","created_at":"2017-06-06T07:21:02Z","updated_at":"2017-07-16T18:08:37Z","due_on":"2017-09-26T07:00:00Z","closed_at":null},{"url":"https://api.github.com/repos/datacite/datacite/milestones/29","html_url":"https://github.com/datacite/datacite/milestone/29","labels_url":"https://api.github.com/repos/datacite/datacite/milestones/29/labels","id":2581531,"number":29,"title":"Launch
        support website","description":"This new service will provide help, documentation
        and support about all DataCite services. It will also include outreach materials,
        best practices, guides and other resources. DataC[...]
