---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/datacite/datacite/milestones/10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1500809631'
      Etag:
      - '"5228d6ff1e7d23bf104d689de8b12ac6"'
      Last-Modified:
      - Fri, 14 Jul 2017 06:41:22 GMT
      X-Github-Media-Type:
      - unknown, github.v3
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/datacite/datacite/milestones/10","html_url":"https://github.com/datacite/datacite/milestone/10","labels_url":"https://api.github.com/repos/datacite/datacite/milestones/10/labels","id":2564092,"number":10,"title":"Develop
        new DOI Registration Service","description":"The current DataCite Metadata
        Store (MDS) will be renovated to become a new DOI Registration Service, including
        all the functionalities needed to manage members, data centers, prefixes,
        and registration. The service will provide stats, checks and reports.","creator":{"login":"mfenner","id":23151,"avatar_url":"https://avatars0.githubusercontent.com/u/23151?v=4","gravatar_id":"","url":"https://api.github.com/users/mfenner","html_url":"https://github.com/mfenner","followers_url":"https://api.github.com/users/mfenner/followers","following_url":"https://api.github.com/users/mfenner/following{/other_user}","gists_url":"https://api.github.com/users/mfenner/gists{/gist_id}","starred_url":"https://api.github.com/users/mfenner/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mfenner/subscriptions","organizations_url":"https://api.github.com/users/mfenner/orgs","repos_url":"https://api.github.com/users/mfenner/repos","events_url":"https://api.github.com/users/mfenner/events{/privacy}","received_events_url":"https://api.github.com/users/mfenner/received_events","type":"User","site_admin":false},"open_issues":16,"closed_issues":0,"state":"open","created_at":"2017-06-06T07:02:38Z","updated_at":"2017-07-11T09:24:54Z","due_on":"2017-09-30T07:00:00Z","closed_at":null}'
  recorded_at: Sun, 23 Jul 2017 10:34:41 GMT
recorded_with: VCR 2.9.3
