---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/datacite/datacite/milestones?state=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1497086986'
      Etag:
      - '"c18ae91328b951819590c3269329c22c"'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/datacite/datacite/milestones/10","html_url":"https://github.com/datacite/datacite/milestone/10","labels_url":"https://api.github.com/repos/datacite/datacite/milestones/10/labels","id":2564092,"number":10,"title":"Develop
        new DOI Registration Service","description":"Users will be able to use a much
        improved user interface for registration and management of DOIs and metadata.","creator":{"login":"mfenner","id":23151,"avatar_url":"https://avatars3.githubusercontent.com/u/23151?v=3","gravatar_id":"","url":"https://api.github.com/users/mfenner","html_url":"https://github.com/mfenner","followers_url":"https://api.github.com/users/mfenner/followers","following_url":"https://api.github.com/users/mfenner/following{/other_user}","gists_url":"https://api.github.com/users/mfenner/gists{/gist_id}","starred_url":"https://api.github.com/users/mfenner/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mfenner/subscriptions","organizations_url":"https://api.github.com/users/mfenner/orgs","repos_url":"https://api.github.com/users/mfenner/repos","events_url":"https://api.github.com/users/mfenner/events{/privacy}","received_events_url":"https://api.github.com/users/mfenner/received_events","type":"User","site_admin":false},"open_issues":0,"closed_issues":0,"state":"open","created_at":"2017-06-06T07:02:38Z","updated_at":"2017-06-09T12:41:03Z","due_on":"2017-09-30T07:00:00Z","closed_at":null},{"url":"https://api.github.com/repos/datacite/datacite/milestones/23","html_url":"https://github.com/datacite/datacite/milestone/23","labels_url":"https://api.github.com/repos/datacite/datacite/milestones/23/labels","id":2570766,"number":23,"title":"Provide
        public roadmap","description":"A member will see a prioritized technical roadmap
        and information on the ongoing work, so that she can track the developments
        and adjust her services.","creator":{"login":"mfenner",[...]
