version: '2'

services:
  api:
    env_file: .env
    image: datacite/spinone
    build: .
    ports:
      - "8040:80"
    volumes:
      - ./app:/home/app/webapp/app
      - ./config:/home/app/webapp/config
      - ./spec:/home/app/webapp/spec
  memcached:
    image: memcached:1.4.31
