---
http_interactions:
- request:
    method: get
    uri: http://schema.datacite.org/meta/kernel-4/include/datacite-resourceType-v4.xsd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Amz-Request-Id:
      - 44E54AF6DC9725B0
      Last-Modified:
      - Mon, 19 Sep 2016 22:10:30 GMT
      Etag:
      - '"bfc0582894b33ec97a324cdc44748aec"'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <!-- Version 1.0 - Created 2011-01-13 - FZ, TIB, Germany
             2013-05 v3.0: Addition of ID to simpleType element; added values "Audiovisual", "Workflow" & "Other"; deleted value "Film" -->
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://datacite.org/schema/kernel-4" targetNamespace="http://datacite.org/schema/kernel-4" elementFormDefault="qualified">
          <xs:simpleType name="resourceType" id="resourceType">
            <xs:annotation>
              <xs:documentation>The general type of a resource.</xs:documentation>
            </xs:annotation>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Audiovisual"/>
              <xs:enumeration value="Collection"/>
              <xs:enumeration value="Dataset"/>
              <xs:enumeration value="Event"/>
              <xs:enumeration value="Image"/>
              <xs:enumeration value="InteractiveResource"/>
              <xs:enumeration value="Model"/>
              <xs:enumeration value="PhysicalObject"/>
              <xs:enumeration value="Service"/>
              <xs:enumeration value="Software"/>
              <xs:enumeration value="Sound"/>
              <xs:enumeration value="Text"/>
              <xs:enumeration value="Workflow"/>
              <xs:enumeration value="Other"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:schema>
  recorded_at: Tue, 04 Oct 2016 08:57:18 GMT
recorded_with: VCR 2.9.3
