= haml :header
= haml :navigation
.container-fluid
  .panel.panel-default
    .panel-body
      The DataCite Push Service sends newly indexed metadata from the DataCite Metadata Store to other DataCite services. Please contact DataCite staff for more information.

= haml :footer
