.navbar.subnav{role: "navigation"}
  .navbar-inner
    .container-fluid
      %h1.navbar-text
        = @title
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{href: "/status"} Status
        %li
          %a{href: "/agents"} Agents
