---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders?rows=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"funder-list","message-version":"1.0.0","message":{"items-per-page":10,"query":{"start-index":0,"search-terms":null},"total-results":21494,"items":[{"id":"501100010742","location":"Sweden","name":"Sandvik
        Coromant","alt-names":[],"uri":"http:\/\/dx.doi.org\/10.13039\/501100010742","replaces":[],"replaced-by":[],"tokens":["sandvik","coromant"]},{"id":"501100006568","location":"Japan","name":"Toagosei","alt-names":["Toagosei
        Co., Ltd.","Toagosei Chemical Industry Company Limited","Toagosei Company
        Limited"],"uri":"http:\/\/dx.doi.org\/10.13039\/501100006568","replaces":[],"replaced-by":[],"tokens":["toagosei","toagosei","co","ltd","toagosei","chemical","industry","company","limited","toagosei","company","limited"]},{"id":"501100004246","location":"Venezuela","name":"Provita","alt-names":[],"uri":"[...]
