---
http_interactions:
- request:
    method: get
    uri: http://eventdata.labs.datacite.org/api/deposits?page=1&per_page=25&q=49f6eb94-f3cc-42a5-b95b-50f0e53f301c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"c69f97275a2f20bc828307040bdea1dc"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"deposit-list","message-version":"v7","total":0,"total_pages":1,"page":1},"deposits":[]}'
  recorded_at: Fri, 21 Oct 2016 17:28:15 GMT
recorded_with: VCR 2.9.3
