---
http_interactions:
- request:
    method: get
    uri: https://eventdata.datacite.org/api/deposits?page=1&per_page=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"b6cd0687bde64b39578a53acd723842b"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"deposit-list","message-version":"v7","total":1592,"total_pages":32,"page":1},"deposits":[{"id":"49f6eb94-f3cc-42a5-b95b-50f0e53f301c","state":"waiting","message_type":"publisher","message_action":"create","source_token":"1e2f84dc-ecda-4b62-bb8e-fb0536cc73b6","subj_id":"ZBW.ZOEBIS","relation_type_id":"references","source_id":"datacite_datacentre","total":1,"occurred_at":"2016-10-03T19:45:14Z","timestamp":"2016-10-03T19:45:14Z","subj":{"name":"ZBW.ZOEBIS","title":"Zentrum
        für ökonomische Bildung in Siegen","registration_agency_id":"datacite","active":true},"obj":{}},{"id":"8b163c0d-28e1-4382-a569-59707653290a","state":"waiting","message_type":"publisher","message_action":"create","source_token":"1e2f84dc-ecda-4b62-bb8e-fb0536cc73b6","subj_id":"ZBW.ZEW","relation_type_id":"references","source_id":"datacite_datacentre","total":1,"occurred_at":"2016-10-03T19:45:14Z","timestamp":"2016-10-03T19:45:14Z","subj":{"name":"ZBW.ZEW","title":"Zentrum
        für Europäische Wirtschaftsforschung GmbH (ZEW)","registration_agency_id":"datacite","active":true},"obj":{}[...]
