---
http_interactions:
- request:
    method: get
    uri: https://eventdata.datacite.org/api/deposits/49f6eb94-f3cc-42a5-b95b-50f0e53f301c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"0c0a743a61617dd6db5b32b3a5ef375b"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"deposit","message-version":"v7"},"deposit":{"id":"49f6eb94-f3cc-42a5-b95b-50f0e53f301c","state":"waiting","message_type":"publisher","message_action":"create","source_token":"1e2f84dc-ecda-4b62-bb8e-fb0536cc73b6","subj_id":"ZBW.ZOEBIS","relation_type_id":"references","source_id":"datacite_datacentre","total":1,"occurred_at":"2016-10-03T19:45:14Z","timestamp":"2016-10-03T19:45:14Z","subj":{"name":"ZBW.ZOEBIS","title":"Zentrum
        für ökonomische Bildung in Siegen","registration_agency_id":"datacite","active":true},"obj":{}}}'
  recorded_at: Tue, 04 Oct 2016 21:46:29 GMT
recorded_with: VCR 2.9.3
