---
http_interactions:
- request:
    method: get
    uri: https://eventdata.datacite.org/api/deposits?page=1&per_page=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"b95537623cf05d66733c58898bc04866"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"deposit-list","message-version":"v7","total":4361,"total_pages":88,"page":1},"deposits":[{"id":"7d11c30f-bb4f-4f87-aaed-ea7e42bd03fa","state":"waiting","message_type":"contribution","message_action":"create","source_token":"288bd3ce-b6b5-4bee-9da9-d0a6b047e244","prefix":"10.6084","subj_id":"http://orcid.org/0000-0002-6495-1759","obj_id":"http://doi.org/10.6084/M9.FIGSHARE.815966.V1","relation_type_id":"references","source_id":"datacite_orcid","publisher_id":"CDL.DIGSCI","registration_agency_id":"datacite","total":1,"occurred_at":"2016-06-28T22:43:35Z","timestamp":"2016-07-01T19:44:14Z","subj":{},"obj":{"pid":"http://doi.org/10.6084/M9.FIGSHARE.815966.V1","DOI":"10.6084/M9.FIGSHARE.815966.V1","author":[{"family":"Robert","given":"Jeanne
        A."},{"family":"Bonnett","given":"Tiffany R."},{"family":"Pitt","given":"Caitlin"},{"family":"Spooner","given":"Luke
        J."},{"family":"Fraser","given":"Jordie D."},{"family":"Yuen","given":"Macaire
        M. S."},{"family":"Keeling","given":"Christopher I."},{"family":"Bohlmann","given":"Joerg"},{"family":"Huber","given":"Dezene","ORCID":"http://orcid.org/0000-0002-6495-1759"}],"title":"Quantitative
        differences in gene transcripts sampled from Dendroctonus ponderosa collected
        in March 2009 and May 2009.xlsx","container-title":"Figshare","published":"2016","issued":"2016-06-28T22:43:35Z","publisher_id":"CDL.DIGSCI","registration_agency_id":"datacite","tracked":true,"type":"dataset"}},{"id":"11274313-ecea-4ab7-8322-548962ab893b","state":"waiting","message_type":"relation","message_action":"create","source_token":"288bd3ce-b6b5-4bee-9da9-d0a6b047e244","prefix":"10.6084","subj_id":"http://doi.org/10.6084/M9.FIGSHARE.815966.V1","obj_id":"http://doi.org/10.6084/M9.FIGSHARE.815966","relation_type_id":"is_identical_to","source_id":"datacite_related","publisher_id":"CDL.DIGSCI","registration_agency_id":"datacite","total":1,"occurred_at":"2016-06-28T22:43:35Z","timestamp"[...]
