---
http_interactions:
- request:
    method: get
    uri: https://eventdata.datacite.org/api/deposits?page=1&per_page=25&q=fd49e100-33a6-4dd2-98cf-143d94093958
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"c69f97275a2f20bc828307040bdea1dc"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"deposit-list","message-version":"v7","total":0,"total_pages":1,"page":1},"deposits":[]}'
  recorded_at: Sat, 02 Jul 2016 17:02:11 GMT
recorded_with: VCR 2.9.3
