---
http_interactions:
- request:
    method: get
    uri: http://eventdata.labs.datacite.org/api/deposits?page=1&per_page=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"dba5672c5bcb1ac4a40da329a7ef98dc"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"deposit-list","message-version":"v7","total":2809,"total_pages":57,"page":1},"deposits":[{"id":"d5e1a76a-8d50-4397-a08c-b989851fd048","state":"waiting","message_type":"publisher","message_action":"create","source_token":"a2947896-7eef-4200-8054-9b78b4a3c16b","subj_id":"8377","relation_type_id":"references","source_id":"crossref_publisher","total":1,"occurred_at":"2016-10-20T18:39:52Z","timestamp":"2016-10-20T18:39:52Z","subj":{"name":"8377","title":"The
        Society of Korean Fiction","other_names":["The Society of Korean Fiction"],"prefixes":["10.20483"],"issued":"2016-10-20T05:18:24Z","registration_agency_id":"crossref","active":true},"obj":{}},{"id":"4e67ce1b-47d1-41ca-bd3d-b1318917c6da","state":"waiting","message_type":"publisher","message_action":"create","source_token":"a2947896-7eef-4200-8054-9b78b4a3c16b","subj_id":"8376","relation_type_id":"references","source_id":"crossref_publisher","total":1,"occurred_at":"2016-10-20T18:39:52Z","timestamp":"2016-10-20T18:39:52Z","subj":{"name":"8376","title":"Korea
        Society of Coastal Disaster Prevention","other_names":["Korea Society of Coastal
        Disaster Prevention"],"prefi[...]
