/*
Error: Undefined variable: "$wet-asphalt".
        on line 60 of ./public/stylesheets/sass/almviz.scss

55: 	background: white;
56: 	-moz-border-radius: 5px;
57: 	-webkit-border-radius: 5px;
58: 	border-radius: 5px;
59: 	color: #fff;
60:   border: 2px solid $wet-asphalt;
61: }
62: 
63: .viewed {
64:   border: 2px solid $peter-river;
65: }

Backtrace:
./public/stylesheets/sass/almviz.scss:60
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/script/tree/variable.rb:49:in `_perform'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/script/tree/node.rb:50:in `perform'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/script/tree/list_literal.rb:63:in `block in _perform'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/script/tree/list_literal.rb:63:in `map'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/script/tree/list_literal.rb:63:in `_perform'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/script/tree/node.rb:50:in `perform'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:395:in `visit_prop'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `map'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `map'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:157:in `visit'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/tree/root_node.rb:36:in `css_tree'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:295:in `render_with_sourcemap'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `each'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/plugin.rb:82:in `update_stylesheets'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/plugin.rb:54:in `check_for_updates'
/var/www/spinone/shared/vendor/bundle/ruby/2.2.0/gems/sass-3.4.19/lib/sass/plugin/rack.rb:51:in `call'
/usr/lib/ruby/vendor_ruby/phusion_passenger/rack/thread_handler_extension.rb:97:in `process_request'
/usr/lib/ruby/vendor_ruby/phusion_passenger/request_handler/thread_handler.rb:152:in `accept_and_process_next_request'
/usr/lib/ruby/vendor_ruby/phusion_passenger/request_handler/thread_handler.rb:113:in `main_loop'
/usr/lib/ruby/vendor_ruby/phusion_passenger/request_handler.rb:416:in `block (3 levels) in start_threads'
/usr/lib/ruby/vendor_ruby/phusion_passenger/utils.rb:113:in `block in create_thread_and_abort_on_exception'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$wet-asphalt\".\A         on line 60 of ./public/stylesheets/sass/almviz.scss\A \A 55: 	background: white;\A 56: 	-moz-border-radius: 5px;\A 57: 	-webkit-border-radius: 5px;\A 58: 	border-radius: 5px;\A 59: 	color: #fff;\A 60:   border: 2px solid $wet-asphalt;\A 61: }\A 62: \A 63: .viewed {\A 64:   border: 2px solid $peter-river;\A 65: }"; }
