---
http_interactions:
- request:
    method: get
    uri: http://search.datacite.org/api?fl=doi,nameIdentifier,updated&fq=updated:%5B2015-04-07T00:00:00Z%20TO%202015-04-08T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=nameIdentifier:ORCID%5C:*&rows=1000&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":62},"response":{"numFound":60,"start":0,"docs":[{"updated":"2015-04-08T08:54:57Z","doi":"10.5284/1030449","nameIdentifier":["ORCID:0000-0003-3938-899X","ORCID:0000-0002-2725-6730"]},{"updated":"2015-04-08T03:01:59Z","doi":"10.1594/PANGAEA.733793","nameIdentifier":["ORCID:0000-0002-4133-2218"]},{"updated":"2015-04-08T03:02:00Z","doi":"10.1594/PANGAEA.733883","nameIdentifier":["ORCID:0000-0002-4133-2218"]},{"updated":"2015-04-08T03:02:02Z","doi":"10.1594/PANGAEA.771774","nameIdentifier":["ORCID:0000-0002-8414-7389"]},{"updated":"2015-04-07T03:09:59Z","doi":"10.6084/M9.FIGSHARE.1368269","nameIdentifier":["ORCID:0000-00[...]
