<div class="panel panel-default">
  <div class="panel-body">
    <p>The DataCite API is currently only for experimental use. Please contact <a href="mailto:support@datacite.org">DataCite staff</a> for more information.</p>
  </div>
</div>
