---
http_interactions:
- request:
    method: get
    uri: https://blog.datacite.org/posts.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Amz-Request-Id:
      - AA17ADA72182DEF3
      Last-Modified:
      - Mon, 03 Oct 2016 08:03:12 GMT
      Etag:
      - '"aa302d6a183b1c23eb20ec5c8cff162e"'
    body:
      encoding: UTF-8
      string: "[\n  {\n    \"url\": \"https://blog.datacite.org/new-metadata-schema-4-0/\",\n
        \   \"author\": [{ \"given\": \"Laura\",\n                \"family\": \"Rueda\",\n
        \               \"orcid\": \"http://orcid.org/0000-0001-5952-7630\" }],\n
        \   \"title\": \"New DataCite Metadata Schema 4.0\",\n    \"container-title\":
        \"DataCite Blog\",\n    \"issued\": \"2016-09-21T00:00:00+00:00\",\n    \"license\":
        \"https://creativecommons.org/licenses/by/4.0/\",\n    \"image\": \"https://blog.datacite.org/assets/images/2016/09/schemapreview.png\",\n
        \   \"tags\": [\"datacite\",\"metadata schema\",\"featured\"],\n    \"description\":
        \"Many things have changed in the last two years in the research community.
        Data publication and data citation are becoming a standard in different communities,
        and DataCite is proud to support the development of best practices and services
        for these emerging initiatives.\"\n  } ,\n  {\n    \"url\": \"https://blog.datacite.org/software-citation-principles/\",\n
        \   \"author\": [{ \"given\": \"Laura\",\n                \"family\": \"Rueda\",\n
        \   [...]
