---
http_interactions:
- request:
    method: get
    uri: https://blog.test.datacite.org/posts.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"1f1cc182d24c8285683e163dfd2e1d55"'
      Last-Modified:
      - Sat, 18 Nov 2017 13:14:29 GMT
      X-Amz-Request-Id:
      - 6C29A3BF7E12647B
      X-Amz-Version-Id:
      - GhATSuiEwm91q1.ILtfuOeweYmQrAQGc
    body:
      encoding: UTF-8
      string: '[{"@context":"http://schema.org","@type":"BlogPosting","@id":"https://blog.datacite.org/make-data-count-update-november-2017/","name":"Make
        Data Count Update: November, 2017","url":"https://blog.datacite.org/make-data-count-update-november-2017/","author":[{"@type":"Person"}],"publisher":{"@type":"Organization","name":"DataCite"},"dateCreated":"2017-11-10","datePublished":"2017-11-10","dateModified":"2017-11-10","keywords":"mdc,
        data-level metrics, featured","version":"1.0","description":"\u003cem\u003eThis
        blog post by Daniella Lowenberg was cross-posted from the Make Data Count
        blog.\u003c/em\u003e The Make Data Count (MDC) project is moving ahead with
        full force and the team wanted to take a moment to update the research stakeholder
        community on our project...","license":"https://creativecommons.org/licenses/by/4.0/","image":"https://makedatacount.files.wordpress.com/2017/11/mdc.png?w=712","encoding":{"@type":"MediaObject","@id":"https://blog.datacite.org/make-data-count-update-november-2017/make-data-count-update-november-2017.xml","fileFormat":"application/xml"},"isPartOf":{"@type":"Blog","@id":"https://doi.org/10.5438/0000-00SS","name":"DataCite
        Blog"}}, {"@context":"http://schema.org","@type":"BlogPosting","@id":"https://blog.datacite.org/doi-fabrica-november-release/","name":"Three
        new DOI Fabrica features to simplify account management","url":"https://blog.datacite.org/doi-fabrica-november-release/","author":[{"@type":"Person","@id":"http://orcid.org/0000-0003-3484-6875","givenName":"Kristian","familyName":"Garza","name":"Kristian
        Garza"}],"publisher":{"@type":"Organization","name":"DataCite"},"dateCreated":"2017-11-09","datePublished":"2017-11-09","dateModified":"2017-11-09","keywords":"doi
        fabrica, featured","version":"1.0","description":"Last month month we launched
        DOI Fabrica, the modernized version of the DataCite Metadata Store (MDS) web
        frontend. It is the one place for DataCite providers and their clients to
        create, find, connect and track every single DOI from their organization...","license":"https://creativecommons.org/licenses/by/4.0/","image":"https://files.readme.io/b23b589-Bildschirmfoto_2017-11-06_um_23.17.06.png","encoding":{"@type":"MediaObject","@id":"https://blog.datacite.org/doi-fabrica-november-release/doi-fabrica-november-release.xml","fileFormat":"application/xml"},"isPartOf":{"@type":"Blog","@id":"https://doi.org/10.5438/0000-00SS","name":"DataCite
        Blog"}}, {"@context":"http://schema.org","@type":"BlogPosting","@id":"https://blog.datacite.org/metadata-schema-4-1/","name":"New
        DataCite Metadata Updates Support Software Citation","alternateName":"MS-745257251","url":"https://blog.datacite.org/metadata-schema-4-1/","author":[{"@type":"Person","@id":"http://orcid.org/0000-0002-7285-027X","givenName":"Joan","familyName":"Starr","name":"Joan
        Starr"}],"publisher":{"@type":"Organization","name":"DataCite"},"dateCreated":"2017-10-23","datePublished":"2017-10-23","dateModified":"2017-10-23","keywords":"metadata,
        software, featured","version":"1.0","description":"The DataCite Metadata Schema
        4.1 has been released today. If the 4.1 release has a theme, it is support
        for software citation. The DataCite Metadata Working Group addressed this
        topic in response to increasing interest within the community, including...","license":"https://creativecommons.org/licenses/by/4.0/","image":"https://blog.datacite.org/images/2017/10/fortran.png","encoding":{"@type":"MediaObject","@id":"https://blog.datacite.org/metadata-schema-4.1/metadata-schema-4.1.xml","fileFormat":"application/xml"},"isPartOf":{"@type":"Blog","@id":"https://doi.org/10.5438/0000-00SS","name":"DataCite
        Blog"},"citation":[{"@type":"CreativeWork","@id":"https://doi.org/10.5438/0014"},{"@type":"CreativeWork","@id":"http://purl.org/net/epubs/work/24058274"},{"@type":"CreativeWork","@id":"https://doi.org/10.7717/peerj-cs.86"}]},
        {"@context":"http://schema.org","@type":"BlogPosting","@id":"https://blog.datacite.org/doi-fabrica/","name":"Announcing
        DataCite DOI Fabrica","alternateName":"MS-7146551","url":"https://blog.datacite.org/doi-fabrica/","author":[{"@type":"Person","@id":"http://orcid.org/0000-0[...]
