---
http_interactions:
- request:
    method: get
    uri: https://blog.datacite.org/posts.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"79edbd970c7da24bb712c82fc65b364c"'
      Last-Modified:
      - Mon, 17 Apr 2017 13:50:05 GMT
      X-Amz-Request-Id:
      - 9D32DF4F8F8351DB
      X-Amz-Version-Id:
      - GCnL0S4Kfc2PQXEBznIPNuccOZfLg_Eb
    body:
      encoding: UTF-8
      string: '[{"@context":"http://schema.org","@type":"BlogPosting","@id":"https://doi.org/10.5438/0000-0C2G","name":"The
        OI Project gets underway planning an Open Organization Identifier Registry","alternateName":"MS-386-152","url":"https://blog.datacite.org/oi-project-underway-for-open-org-id-registry/","author":[{"@type":"Person","@id":"http://orcid.org/0000-0002-9300-5278","givenName":"Patricia","familyName":"Cruse","name":"Trisha
        Cruse"}],"publisher":{"@type":"Organization","name":"DataCite"},"dateCreated":"2017-03-30","datePublished":"2017-03-30","dateModified":"2017-03-30","keywords":"organization
        identifier, orcid, crossref, featured","version":"1.0","description":"At the
        end of October 2016, Crossref, DataCite, and ORCID reported on collaboration
        in the area of organization identifiers (Fenner, 2016). We issued three papers
        (G. Bilder, Brown, \u0026amp; Demeranville, 2016; Cruse, Haak, \u0026amp;
        Pentz, 2016; Fenner, Paglione...","license":"https://creativecommons.org/licenses/by/4.0/","image":"https://blog.datacite.org/images/2016/11/london_institute.jpg","encoding":{"@type":"MediaObject","@id":"https://blog.datacite.org/oi-project-underway-for-open-org-id-registry/oi-project-underway-for-open-org-id-registry.xml","fileFormat":"application/xml"},"isPartOf":{"@type":"Blog","@id":"https://doi.org/10.5438/0000-00SS","name":"DataCite
        Blog"},"citation":[{"@type":"CreativeWork","@id":"https://doi.org/10.5438/4716"},{"@type":"CreativeWork","@id":"https://doi.org/10.5438/2906"},{"@type":"CreativeWork","@id":"https://doi.org/10.5438/TNHX-54CG"},{"@type":"CreativeWork","@id":"https://doi.org/10.5438/7885"}]},
        {"@context":"http://schema.org","@type":"Dataset","@id":"https://doi.org/10.5438/EA4H-TX3G","name":"DataCite
        Mandatory Properties","alternateName":"MS-153-7270-8771","url":"https://blog.datacite.org/datacite-mandatory-properties/","author":[{"@type":"Person","@id":"http://orcid.org/0000-0003-1419-2405","givenName":"Martin","familyName":"Fenner","name":"Martin
        Fenner"}],"publisher":{"@type":"Organization","name":"DataCite"},"dateCreated":"2015-08-03","datePublished":"2015-08-03","dateModified":"2017-03-30","keywords":"csv,
        metadata","version":"1.0","description":"DataCite staff writes about topics
        relevant to DataCite members and the wider data citation community.","license":"https://creativecommons.org/licenses/by/4.0/","hasPart":[{"@type":"BlogPosting","@id":"https://doi.org/10.5438/EA4H-TX3G","name":"DataCite
        Mandatory Properties","dateCreated":"2017-03-30"},{"@type":"BlogPosting","@id":"https://doi.org/10.5438/0000-0C2G","name":"The
        OI Project gets underway planning an Open Organization Identifier Registry","dateCreated":"2017-03-30"},{"@type":"BlogPosting","@id":"https://doi.org/10.5438/0000-9G41","name":"Welcoming
        Children’s Hospital of Philadelphia to the community!","dateCreated":"2017-03-0[...]
