---
http_interactions:
- request:
    method: get
    uri: http://profiles.test.datacite.org/api/members/ands
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: ''
    headers:
      Content-Type:
      - text/html
      Location:
      - https://profiles.test.datacite.org/api/members/ands
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>openresty/1.11.2.2</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sun, 23 Jul 2017 10:34:40 GMT
- request:
    method: get
    uri: https://profiles.test.datacite.org/api/members/ands
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"626950878fe2b37923e0d56d22ab76d3"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ands","type":"members","attributes":{"title":"Australian
        National Data Service","description":"\u003cp\u003eThe Australian National
        Data Service (ANDS) makes Australia\u0026#39;s research data assets more valuable
        for researchers, research institutions and the nation.\u003c/p\u003e\n\n\u003cp\u003eWe
        do this through working in trusted partnerships on research data projects,
        delivering reliable national services and enhancing the capability of Australia\u0026#39;s
        research data system.\u003c/p\u003e\n\n\u003cp\u003eA key ANDS service is
        the [...]
