---
http_interactions:
- request:
    method: get
    uri: https://profiles.test.datacite.org/api/members/ands
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3e07606b8356a5e8e6e648559a815b2c"
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ands","type":"members","attributes":{"title":"Australian
        National Data Service","description":"\u003cp\u003eThe Australian National
        Data Service (ANDS) makes Australia\u0026#39;s research data assets more valuable
        for researchers, research institutions and the nation.\u003c/p\u003e\n\n\u003cp\u003eWe
        do this through working in trusted partnerships on research data projects,
        delivering reliable national services and enhancing the capability of Australia\u0026#39;s
        research data system.\u003c/p\u003e\n\n\u003cp\u003eA key ANDS service is
        the [...]
