---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/providers/ands
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"1e5e8efe58bdeb65f8468426d161a66f"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"ands","type":"providers","attributes":{"name":"Australian
        National Data Service","symbol":"ANDS","website":"http://www.ands.org.au","contactName":"Adrian
        Burton","contactEmail":"services@ands.org.au","phone":null,"description":"The
        Australian National Data Service (ANDS) makes Australia''s research data assets
        more valuable for researchers, research institutions and the nation.\n\nWe
        do this through working in trusted partnerships on research data projects,
        delivering reliable national services and enhancing the capability of Australia''s
        research data system.\n \nA key ANDS service is the [Research Data Australia](http://researchdata.ands.org.au/)
        discovery portal where[...]
