---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/members/ands
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"79a10d7082bd71ef71f11e9d01358c11"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"ands","type":"members","attributes":{"title":"Australian
        National Data Service","description":"The Australian National Data Service
        (ANDS) makes Australia''s research data assets more valuable for researchers,
        research institutions and the nation.\n\nWe do this through working in trusted
        partnerships on research data projects, delivering reliable national services
        and enhancing the capability of Australia''s research data system.\n \nA key
        ANDS service is the [Research Data Australia](http://researchdata.ands.org.au/)
        discovery portal where[...]
