---
http_interactions:
- request:
    method: get
    uri: http://search.datacite.org/api?fl=doi,creator,title,publisher,publicationYear,resourceTypeGeneral,datacentre_symbol,nameIdentifier,xml,updated&fq=updated:%5B2013-09-04T00:00:00Z%20TO%202013-09-05T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=nameIdentifier:ORCID%5C:*&rows=0&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: ''
    headers:
      Location:
      - https://telekom.portal.fon.com/ARCDTA01/fon/c6f76d72482803d9914fa4e2a084e83b9bce4377?res=notyet&uamip=172.17.2.1&uamport=3990&challenge=c143a50a64b96d5fc2981203531ce8ba&called=4C-09-D4-B1-1F-18&mac=6C-40-08-A8-F8-12&ip=172.17.2.4&nasid=4C-09-D4-B1-1F-18&sessionid=570b5b6e00000002&userurl=http%3a%2f%2fsearch.datacite.org%2fapi%3ffl%3ddoi%252Ccreator%252Ctitle%252Cpublisher%252CpublicationYear%252CresourceTypeGeneral%252Cdatacentre_symbol%252CnameIdentifier%252Cxml%252Cupdated%26fq%3dupdated%253A%255B2013-09-04T00%253A00%253A00Z%2bTO%2b2013-09-05T23%253A59%253A59Z%255D%2bAND%2bhas_metadata%253Atrue%2bAND%2bis_active%253Atrue%26q%3dnameIdentifier%253AORCID%255C%253A%252A%26rows%3d0%26start%3d0%26wt%3djson&md=FACCF2FF42AC0AF66F63CF9A5524C44C
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><BODY><H2>Browser error!</H2>Browser does not support redirects!</BODY>\r\n<!--\r\n<?xml
        version=\"1.0\" encoding=\"UTF-8\"?>\r\n<WISPAccessGatewayParam\r\n  xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\r\n
        \ xsi:noNamespaceSchemaLocation=\"http://www.wballiance.net/wispr_2_0.xsd\">\r\n<Redirect>\r\n<MessageType>100</MessageType>\r\n<ResponseCode>0</ResponseCode>\r\n<VersionHigh>2.0</VersionHigh>\r\n<VersionLow>1.0</VersionLow>\r\n<AccessProcedure>1.0</AccessProcedure>\r\n<LoginURL>https://telekom.portal.fon.com/ARCDTA01/fon/c6f76d72482803d9914fa4e2a084e83b9bce4377?res=notyet&amp;uamip=172.17.2.1&amp;uamport=3990&amp;challenge=c143a50a64b96d5fc2981203531ce8ba&amp;called=4C-09-D4-B1-1F-18&amp;mac=6C-40-08-A8-F8-12&amp;ip=172.17.2.4&amp;nasid=4C-09-D4-B1-1F-18&amp;sessionid=570b5b6e00000002&amp;userurl=http%3a%2f%2fsearch.datacite.org%2fapi%3ffl%3ddoi%252Ccreator%252Ctitle%252Cpublisher%252CpublicationYear%252CresourceTypeGeneral%252Cdatacentre_symbol%252CnameIdentifier%252Cxml%252Cupdated%26fq%3dupdated%253A%255B2013-09-04T00%253A00%253A00Z%2bTO%2b2013-09-05T23%253A59%253A59Z%255D%2bAND%2bhas_metadata%253Atrue%2bAND%2bis_active%253Atrue%26q%3dnameIdentifier%253AORCID%255C%253A%252A%26rows%3d0%26start%3d0%26wt%3djson&amp;md=FACCF2FF42AC0AF66F63CF9A5524C44C</LoginURL><AbortLoginURL>http://172.17.2.1:3990/abort</AbortLoginURL>\r\n<EAPMsg>AQEABQE=</EAPMsg>\r\n</Redirect>\r\n</WISPAccessGatewayParam>\r\n-->\r\n\r\n</HTML>\r\n"
  recorded_at: Mon, 11 Apr 2016 08:21:19 GMT
- request:
    method: get
    uri: https://telekom.portal.fon.com/ARCDTA01/fon/c6f76d72482803d9914fa4e2a084e83b9bce4377?called=4C-09-D4-B1-1F-18&challenge=c143a50a64b96d5fc2981203531ce8ba&ip=172.17.2.4&mac=6C-40-08-A8-F8-12&md=FACCF2FF42AC0AF66F63CF9A5524C44C&nasid=4C-09-D4-B1-1F-18&res=notyet&sessionid=570b5b6e00000002&uamip=172.17.2.1&uamport=3990&userurl=http://search.datacite.org/api?fl=doi%252Ccreator%252Ctitle%252Cpublisher%252CpublicationYear%252CresourceTypeGeneral%252Cdatacentre_symbol%252CnameIdentifier%252Cxml%252Cupdated%26fq=updated%253A%255B2013-09-04T00%253A00%253A00Z%2BTO%2B2013-09-05T23%253A59%253A59Z%255D%2BAND%2Bhas_metadata%253Atrue%2BAND%2Bis_active%253Atrue%26q=nameIdentifier%253AORCID%255C%253A%252A%26rows=0%26start=0%26wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ".\n"
  recorded_at: Mon, 11 Apr 2016 08:21:19 GMT
- request:
    method: get
    uri: http://search.datacite.org/api?fl=doi,nameIdentifier,relatedIdentifier,updated&fq=updated:%5B2013-09-04T00:00:00Z%20TO%202013-09-05T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=nameIdentifier:ORCID%5C:*&rows=0&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: ''
    headers:
      Location:
      - https://telekom.portal.fon.com/ARCDTA01/fon/c6f76d72482803d[...]
- request:
    method: get
    uri: https://telekom.portal.fon.com/ARCDTA01/fon/c6f76d72482803d9914fa4e2a084e83b9bce4377?called=4C-09-D4-B1-1F-18&challenge=c143a50a64b96d5fc2981203531ce8ba&ip=172.17.2.4&mac=6C-40-08-A8-F8-12&md=FC0200C4769EBF8EAA283FD913085F6A&nasid=4C-09-D4-B1-1F-18&res=notyet&sessionid=570b5b6e00000002&uamip=172.17.2.1&uamport=3990&userurl=http://search.datacite.org/api?fl=doi%252CnameIdentifier%252CrelatedIdentifier%252Cupdated%26fq=updated%253A%255B2013-09-04T00%253A00%253A00Z%2BTO%2B2013-09-05T23%253A59%253A59Z%255D%2BAND%2Bhas_metadata%253Atrue%2BAND%2Bis_active%253Atrue%26q=nameIdentifier%253AORCID%255C%253A%252A%26rows=0%26start=0%26wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ".\n"
  recorded_at: Mon, 11 Apr 2016 08:21:19 GMT
- request:
    method: get
    uri: http://search.datacite.org/api?fl=doi,creator,title,publisher,publicationYear,resourceTypeGeneral,datacentre_symbol,relatedIdentifier,xml,updated&fq=updated:%5B2013-09-04T00:00:00Z%20TO%202013-09-05T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=relatedIdentifier:DOI%5C:*&rows=0&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: ''
    headers:
      Location:[...]
- request:
    method: get
    uri: https://telekom.portal.fon.com/ARCDTA01/fon/c6f76d72482803d9914fa4e2a084e83b9bce4377?called=4C-09-D4-B1-1F-18&challenge=c143a50a64b96d5fc2981203531ce8ba&ip=172.17.2.4&mac=6C-40-08-A8-F8-12&md=A97670EBF58EB326FE402838176ED3C4&nasid=4C-09-D4-B1-1F-18&res=notyet&sessionid=570b5b6e00000002&uamip=172.17.2.1&uamport=3990&userurl=http://search.datacite.org/api?fl=doi%252Ccreator%252Ctitle%252Cpublisher%252CpublicationYear%252CresourceTypeGeneral%252Cdatacentre_symbol%252CrelatedIdentifier%252Cxml%252Cupdated%26fq=updated%253A%255B2013-09-04T00%253A00%253A00Z%2BTO%2B2013-09-05T23%253A59%253A59Z%255D%2BAND%2Bhas_metadata%253Atrue%2BAND%2Bis_active%253Atrue%26q=relatedIdentifier%253ADOI%255C%253A%252A%26rows=0%26start=0%26wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ".\n"
  recorded_at: Mon, 11 Apr 2016 08:21:19 GMT
recorded_with: VCR 2.9.3
