---
http_interactions:
- request:
    method: get
    uri: https://eventdata.datacite.org/api/publishers?page=1&per_page=25&q=plos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"aa796ae2d2d4795fd14d65d112855e89"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"publisher-list","message-version":"v7","total":1,"total_pages":1,"page":1,"registration_agencies":{"crossref":1},"members":{}},"publishers":[{"id":"340","title":"Public
        Library of Science (PLoS)","other_names":["Public Library of Science (PLoS)","Public
        Library of Science"],"prefixes":[],"registration_agency_id":"crossref","timestamp":"2016-07-02T16:44:24Z"}]}'
  recorded_at: Sat, 02 Jul 2016 17:02:17 GMT
recorded_with: VCR 2.9.3
