---
http_interactions:
- request:
    method: get
    uri: http://eventdata.labs.datacite.org/api/publishers?page=1&per_page=25&q=plos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"c9fc8141254db858fff321c3463f3844"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"publisher-list","message-version":"v7","total":1,"total_pages":1,"page":1,"registration_agencies":[{"id":"crossref","title":"Crossref","count":1}],"members":[]},"publishers":[{"id":"340","title":"Public
        Library of Science (PLoS)","other_names":["Public Library of Science (PLoS)","Public
        Library of Science"],"prefixes":[],"registration_agency_id":"crossref","timestamp":"2016-10-21T17:16:04Z"}]}'
  recorded_at: Fri, 21 Oct 2016 17:27:19 GMT
recorded_with: VCR 2.9.3
