---
http_interactions:
- request:
    method: get
    uri: https://eventdata.datacite.org/api/publishers?page=1&per_page=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"4e0bc23ac4f88ababd9d2982f0e5ca02"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"publisher-list","message-version":"v7","total":7494,"total_pages":300,"page":1,"registration_agencies":{"datacite":746,"crossref":6748},"members":{"DELFT":14,"DK":9,"MTAKIK":37,"PURDUE":25,"CDL":169,"OSTI":24,"ETHZ":43,"GESIS":64,"CISTI":19,"ZBMED":31,"INIST":30,"SND":6,"CERN":7,"CRUI":33,"DATACITE":2,"CSIC":1,"ZBW":9,"ANDS":41,"JALC":1,"NRCT":1,"TIB":108,"SUBGOE":3,"ESTDOI":6,"BIBSYS":2,"BL":61}},"publishers":[{"id":"ETHZ.UBASOJS","title":"027.7
        - Zeitschrift für Bibliothekskultur","prefixes":[],"registration_agency_id":"datacite","member_id":"ETHZ","timestamp":"2016-07-02T16:39:50Z"},{"id":"4396","title":"123Doc
        Education","other_names":["123Doc Education"],"prefixes":["10.7579"],"registration_agency_id":"crossref","timestamp":"2016-07-02T16:24:15Z"},{"id":"2034","title":"21st
        Century COE Program","other_names":["21st Century COE Program (Toplogical
        Science and Technology)","21st Century COE Program"],"prefixes":["10.3731"],"registration_agency_id":"crossref","timestamp":"2016-07-02T16:24:14Z"},{"id":"7298","title":"21st
        Century Political Science Association","other_names":["21st Century Political
      [...]
