---
http_interactions:
- request:
    method: get
    uri: https://eventdata.datacite.org/api/publishers/ETHZ.UBASOJS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"598e1e0cf2a013de4bb06c4f7b99ea72"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"publisher","message-version":"v7"},"publisher":{"id":"ETHZ.UBASOJS","title":"027.7
        - Zeitschrift für Bibliothekskultur","prefixes":[],"registration_agency_id":"datacite","member_id":"ETHZ","timestamp":"2016-07-02T16:39:50Z"}}'
  recorded_at: Sat, 02 Jul 2016 17:02:18 GMT
recorded_with: VCR 2.9.3
