---
http_interactions:
- request:
    method: get
    uri: https://eventdata.datacite.org/api/publishers/ETHZ.UBASOJS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f3d30771dd6c8f488c6dadf855ea4729"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"publisher","message-version":"v7"},"publisher":{"id":"ETHZ.UBASOJS","title":"027.7
        - Zeitschrift für Bibliothekskultur","prefixes":[],"registration_agency_id":"datacite","member_id":"ETHZ","timestamp":"2016-09-21T20:34:16Z"}}'
  recorded_at: Wed, 21 Sep 2016 21:08:22 GMT
- request:
    method: get
    uri: https://profiles.datacite.org/api/members/ETHZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"df34d910e1b39caed26082d07c689e9a"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ethz","type":"members","attributes":{"title":"ETH Zurich","description":"\u003cp\u003eThe
        Swiss Federal Institute of Technology (ETH) Zurich is one of the leading international
        universities for technology and the natural sciences. It has been a member
        of the association DataCite since 2009.\u003c/p\u003e\n\n\u003cp\u003eThe
        ETH Zurich DOI desk enables DOI names to be registered in Switzerland. It
        is the central point for handling the registration of DOIs, and represents
        the registration agency at local level. Technical infra-structure is provided
        by ETH Zurich IT Services. Structurally the DOI desk forms part of the ETH-Bibliothek.\u003c/p\u003e\n\n\u003cp\u003eThe
        ETH-Bibliothek is the largest scientific library in Switzerland and one of
        the leading scientific and technical libraries in Europe. It is the central
        university library for ETH Zurich and the Swiss centre for technical and scientific
        information.\u003c/p\u003e\n\n\u003cp\u003eOrganisational units (not individuals)
        from the field of higher education and research in Switzerland are authorised
        to register DOIs. Digital objects can be primary data (research data) or secondary
        data (e.g. documents in an Institutional Repository). Before registration,
        an agreement is made with the ETH Zurich DOI desk.\u003c/p\u003e\n","member-type":"allocating","region":"EMEA","country":"Switzerland","year":2010,"logo-url":"https://assets.datacite.org/images/members/ETHZ.png","email":"doi@library.ethz.ch","website":"http://www.doi.ethz.ch","phone":"+41
        44 632 21 35","updated":"2016-08-03T15:46:34.000Z"}}}'
  recorded_at: Wed, 21 Sep 2016 21:08:22 GMT
recorded_with: VCR 2.9.3
