---
http_interactions:
- request:
    method: get
    uri: http://eventdata.labs.datacite.org/api/publishers/ETHZ.UBASOJS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"6c2fd3193e28d28b1320ad78b75dace5"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"publisher","message-version":"v7"},"publisher":{"id":"ETHZ.UBASOJS","title":"027.7
        - Zeitschrift für Bibliothekskultur","prefixes":[],"registration_agency_id":"datacite","member_id":"ETHZ","timestamp":"2016-10-21T17:10:21Z"}}'
  recorded_at: Fri, 21 Oct 2016 17:27:18 GMT
recorded_with: VCR 2.9.3
