---
http_interactions:
- request:
    method: post
    uri: https://eventdata.datacite.org/api/deposits
    body:
      encoding: UTF-8
      string: '{"deposit":{"subj_id":"https://doi.org/10.5061/DRYAD.56M2G/1","obj_id":"https://doi.org/10.5061/DRYAD.56M2G","relation_type_id":"is_part_of","source_id":"datacite_related","publisher_id":"CDL.DRYAD","subj":{"pid":"https://doi.org/10.5061/DRYAD.56M2G/1","DOI":"10.5061/DRYAD.56M2G/1","author":[{"family":"Bataillon","given":"Thomas"},{"family":"Duan","given":"Jinjie"}],"title":"Zip
        archive VCF files","container-title":"Dryad Digital Repository","published":"2015","issued":"2015-04-08T13:54:45Z","publisher_id":"CDL.DRYAD","registration_agency_id":"datacite","tracked":true,"type":"dataset"},"obj":{},"message_type":"relation","prefix":"10.5061","source_token":"f21f4653-b5f2-472a-9b0c-086fe9177f77","callback":"http://localhost:8040/api/callbacks"}}'
    headers:
      Authorization:
      - Token token=<LAGOTTO_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"error","error":"You are not authorized to access
        this page."}}'
  recorded_at: Sun, 09 Oct 2016 11:43:55 GMT
[...]
- request:
    method: post
    uri: https://eventdata.datacite.org/api/deposits
    body:
      encoding: UTF-8
      string: '{"deposit":{"subj_id":"https://doi.org/10.5061/DRYAD.HT0HS/1","obj_id":"https://doi.org/10.5061/DRYAD.HT0HS","relation_type_id":"is_part_of","source_id":"datacite_related","publisher_id":"CDL.DRYAD","subj":{"pid":"https://doi.org/10.5061/DRYAD.HT0HS/1","DOI":"10.5061/DRYAD.HT0HS/1","author":[{"literal":"(:unav)"}],"title":"Data
        from: How does ascertainment bias in SNP analyses affect inferences about
        population history?","container-title":"Dryad Digital Repository","published":"2015","issued":"2015-04-08T14:37:56Z","publisher_id":"CDL.DRYAD","registration_agency_id":"datacite","tracked":true,"type":"dataset"},"obj":{},"message_type":"relation","prefix":"10.5061","source_token":"f21f4653-b5f2-472a-9b0c-086fe9177f77","callback":"http://localhost:8040/api/callbacks"}}'
    headers:
      Authorization:
      - Token token=<LAGOTTO_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"error","error":"You are not authorized to access
        this page."}}'
  recorded_at: Sun, 09 Oct 2016 11:43:55 GMT
[...]
