---
http_interactions:
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.5061/DRYAD.56M2G
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.5061/DRYAD.56M2G",
         "RA": "Data Cite"
        }
        ]
  recorded_at: Sat, 02 Jul 2016 17:00:34 GMT
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1186/S12864-015-1469-5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1186/S12864-015-1469-5",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sat, 02 Jul 2016 17:00:34 GMT
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.6068/DP14C8FF0666031
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.6068/DP14C8FF0666031",
         "RA": "Data Cite"
        }
        ]
  recorded_at: Sat, 02 Jul 2016 17:00:34 GMT
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.3897/MYCOKEYS.9.4700
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.3897/MYCOKEYS.9.4700",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sat, 02 Jul 2016 17:00:35 GMT
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1128/JVI.75.10.4721-4733.2001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1128/JVI.75.10.4721-4733.2001",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sat, 02 Jul 2016 17:00:35 GMT
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1038/NCHEMBIO764
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1038/NCHEMBIO764",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sat, 02 Jul 2016 17:00:36 GMT
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1371/JOURNAL.PONE.0035499
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1371/JOURNAL.PONE.0035499",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sat, 02 Jul 2016 17:00:36 GMT
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1111/OIK.02399
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1111/OIK.02399",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sat, 02 Jul 2016 17:00:37 GMT
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.7480/KNOB.113.2014.3.830
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.7480/KNOB.113.2014.3.830",
         "RA": "Data Cite"
        }
        ]
  recorded_at: Sat, 02 Jul 2016 17:00:37 GMT
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1016/J.JORGANCHEM.2014.11.015
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1016/J.JORGANCHEM.2014.11.015",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sat, 02 Jul 2016 17:00:38 GMT
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1039/C4GC02471K
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1039/C4GC02471K",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sat, 02 Jul 2016 17:00:38 GMT
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1021/IC502367D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1021/IC502367D",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sat, 02 Jul 2016 17:00:39 GMT
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1002/CHEM.201405220
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1002/CHEM.201405220",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sat, 02 Jul 2016 17:00:39 GMT
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1080/00958972.2015.1011147
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1080/00958972.2015.1011147",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sat, 02 Jul 2016 17:00:40 GMT
[...]
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.3184/174751914X14108743633272
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.3184/174751914X14108743633272",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sat, 02 Jul 2016 17:00:41 GMT
[...]
- request:
    method: post
    uri: https://eventdata.datacite.org/api/deposits
    body:
      encoding: UTF-8
      string: '{"deposit":{"subj_id":"http://doi.org/10.5061/DRYAD.56M2G/1","obj_id":"http://doi.org/10.5061/DRYAD.56M2G","relation_type_id":"is_part_of","source_id":"datacite_related","publisher_id":"CDL.DRYAD","subj":{"pid":"http://doi.org/10.5061/DRYAD.56M2G/1","DOI":"10.5061/DRYAD.56M2G/1","author":[{"family":"Bataillon","given":"Thomas"},{"family":"Duan","given":"Jinjie"}],"title":"Zip
        archive VCF files","container-title":"Dryad Digital Repository","published":"2015","issued":"2015-04-08T13:54:45Z","publisher_id":"CDL.DRYAD","registration_agency_id":"datacite","tracked":true,"type":"dataset"},"obj":{},"message_type":"relation","prefix":"10.5061","source_token":"0fd0f2f5-6fc4-4305-b855-0d238c413960","callback":"http://localhost:8040/api/callbacks"}}'
    headers:
      Authorization:
      - Token token=<LAGOTTO_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 202 Accepted
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"accepted","message-type":"deposit","message-version":"v7"},"deposit":{"id":"445ffda8-c8bd-4fa7-a1c5-1b4bfd8a0aab","state":"waiting","message_type":"relation","message_action":"create","source_token":"0fd0f2f5-6fc4-4305-b855-0d238c413960","callback":"http://localhost:8040/api/callbacks","prefix":"10.5061","subj_id":"http://doi.org/10.5061/DRYAD.56M2G/1","obj_id":"http://doi.org/10.5061/DRYAD.56M2G","relation_type_id":"is_part_of","source_id":"datacite_related","publisher_id":"CDL.DRYAD","total":1,"occurred_at":"2016-07-02T17:00:32Z","timestamp":"2016-07-02T17:00:32Z","subj":{"pid":"http://doi.org/10.5061/DRYAD.56M2G/1","author":[{"given":"Thomas","family":"Bataillon"},{"given":"Jinjie","family":"Duan"}],"title":"Zip
        archive VCF files","container-title":"Dryad Digital Repository","issued":"2015-04-08T13:54:45Z","published":"2015","DOI":"10.5061/DRYAD.56M2G/1","registration_agency_id":"datacite","publisher_id":"CDL.DRYAD","type":"dataset","tracked":true},"obj":{}}}'
  recorded_at: Sat, 02 Jul 2016 17:00:42 GMT
[...]
- request:
    method: post
    uri: https://eventdata.datacite.org/api/deposits
    body:
      encoding: UTF-8
      string: '{"deposit":{"subj_id":"http://doi.org/10.5061/DRYAD.HT0HS/1","obj_id":"http://doi.org/10.5061/DRYAD.HT0HS","relation_type_id":"is_part_of","source_id":"datacite_related","publisher_id":"CDL.DRYAD","subj":{"pid":"http://doi.org/10.5061/DRYAD.HT0HS/1","DOI":"10.5061/DRYAD.HT0HS/1","author":[{"literal":"(:unav)"}],"title":"Data
        from: How does ascertainment bias in SNP analyses affect inferences about
        population history?","container-title":"Dryad Digital Repository","published":"2015","issued":"2015-04-08T14:37:56Z","publisher_id":"CDL.DRYAD","registration_agency_id":"datacite","tracked":true,"type":"dataset"},"obj":{},"message_type":"relation","prefix":"10.5061","source_token":"0fd0f2f5-6fc4-4305-b855-0d238c413960","callback":"http://localhost:8040/api/callbacks"}}'
    headers:
      Authorization:
      - Token to[...]
- request:
    method: post
    uri: https://eventdata.datacite.org/api/deposits
    body:
      encoding: UTF-8
      string: '{"deposit":{"subj_id":"http://doi.org/10.6068/DP14C917E2A3F38","obj_id":"http://doi.org/10.6068/DP14C8FF0666031","relation_type_id":"is_new_version_of","source_id":"datacite_related","publisher_id":"CDL.DPLANET","subj":{"pid":"http://doi.org/10.6068/DP14C917E2A3F38","DOI":"10.6068/DP14C917E2A3F38","author":[{"family":"Administration","given":"Energy
        Information"}],"title":"TREND: Energy Information Administration. Oil Prices,
        Futures: Crude Oil Price (Light Sweet Crude), 04/1983 - 02/2015. Data-Planet™
        Statistical Datasets by Conquest Systems, Inc. Dataset-ID:  004-009-001","container-title":"Data-Planet™
        Statistical Datasets by Conquest Systems, Inc.","published":"2015","issued":"2015-04-07T01:28:34Z","publisher_id":"CDL.DPLANET","registration_agency_id":"datacite","tracked":true,"type":null},"obj":{},"message_type":"relation","prefix":"10.6068","source_token":"0fd0f2f5-6fc4-4305-b855-0d238c413960","callback[...]
[...]
