---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/datacite/datacite/issues/10?github_token=<GITHUB_PERSONAL_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1520168497'
      Etag:
      - '"29c8f83eab081a8a646cc726f0db9f59"'
      Last-Modified:
      - Thu, 01 Feb 2018 22:54:03 GMT
      X-Github-Media-Type:
      - unknown, github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/datacite/datacite/issues/10","repository_url":"https://api.github.com/repos/datacite/datacite","labels_url":"https://api.github.com/repos/datacite/datacite/issues/10/labels{/name}","comments_url":"https://api.github.com/repos/datacite/datacite/issues/10/comments","events_url":"https://api.github.com/repos/datacite/datacite/issues/10/events","html_url":"https://github.com/datacite/datacite/issues/10","id":232702150,"number":10,"title":"DOI
        Registration Reports","user":{"login":"mfenner","id":23151,"avatar_url":"https://avatars0.githubusercontent.com/u/23151?v=4","gravatar_id":"","url":"https://api.github.com/users/mfenner","html_url":"https://github.com/mfenner","followers_url":"https://api.github.com/users/mfenner/followers","following_url":"https://api.github.com/users/mfenner/following{/other_user}","gists_url":"https://api.github.com/users/mfenner/gists{/gist_id}","starred_url":"https://api.github.com/users/mfenner/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mfenner/subscriptions","organizations_url":"https://api.github.com/users/mfenner/orgs","repos_url":"https://api.github.com/users/mfenner/repos","events_url":"https://api.github.com/users/mfenner/events{/privacy}","received_events_url":"https://api.github.com/users/mfenner/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":{"url":"https://api.github.com/repos/datacite/datacite/milestones/28","html_url":"https://github.com/datacite/datacite/milestone/28","labels_url":"https://api.github.com/repos/datacite/datacite/milestones/28/labels","id":2579725,"number":28,"title":"Add
        DOI stats to DOI registration service","description":"The current [DataCite
        Stats](https://stats.datacite.org) service provides an overview of the basic
        DOI registration stats. This new functionality will provide members the opportunity
        to retrieve stats about their data centers and DOIs, for example: number of
        DOIs registered, reports on DOIs that don''t resolve properly (link checker),
        and others.","creator":{"login":"mfenner","id":23151,"avatar_url":"https://avatars0.githubusercontent.com/u/23151?v=4","gravatar_id":"","url":"https://api.github.com/users/mfenner","html_url":"https://github.com/mfenner","followers_url":"https://api.github.com/users/mfenner/followers","following_url":"https://api.github.com/users/mfenner/following{/other_user}","gists_url":"https://api.github.com/users/mfenner/gists{/gist_id}","starred_url":"https://api.github.com/users/mfenner/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mfenner/subscriptions","organizations_url":"https://api.github.com/users/mfenner/orgs","repos_url":"https://api.github.com/users/mfenner/repos","events_url":"https://api.github.com/users/mfenner/events{/privacy}","received_events_url":"https://api.github.com/users/mfenner/received_events","type":"User","site_admin":false},"open_issues":5,"closed_issues":0,"state":"open","created_at":"2017-06-13T07:47:32Z","updated_at":"2018-01-09T17:41:39Z","due_on":"2018-07-28T07:00:00Z","closed_at":null},"comments":0,"created_at":"2017-05-31T21:29:54Z","updated_at":"2018-01-02T09:01:58Z","closed_at":null,"author_association":"OWNER","body":"As
        a member, I want to have statistics, so that I can report my impact.\r\n\r\n####
        Related User Stories\r\n\r\n* As a member, I want up to date statistics/infos,
        so that I can keep track and see the impact.\r\n* As a data manager, I want
        better reporting, so more people understand the impact of their data.","closed_by":null}'
  recorded_at: Sun, 04 Mar 2018 12:59:04 GMT
recorded_with: VCR 3.0.3
