---
http_interactions:
- request:
    method: get
    uri: https://eventdata.datacite.org/api/relation_types/is_cited_by
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"78d4a34b992469183353333c67237def"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"relation_type","message-version":"v7"},"relation_type":{"id":"is_cited_by","title":"Is
        cited by","inverse_title":"Cites","timestamp":"2016-03-21T15:05:03Z"}}'
  recorded_at: Tue, 04 Oct 2016 09:44:38 GMT
recorded_with: VCR 2.9.3
