---
http_interactions:
- request:
    method: get
    uri: http://schema.datacite.org/meta/kernel-3.1/include/datacite-relationType-v3.1.xsd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Amz-Request-Id:
      - 5B252FFA1E16E844
      Last-Modified:
      - Sun, 10 Jan 2016 17:59:08 GMT
      Etag:
      - '"1a9d478f9cccfa6ccbbdba0997e7634d"'
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<!-- Version 1.0 - Created
        2011-01-13 - FZ, TIB, Germany\n     2013-05 v3.0: Addition of ID to simpleType
        element, addition of values \"IsIdenticalTo\", \"HasMetadata\" & \"IsMetadataFor\"\n\t
        2014-08-20 v3.1: Addition of values \"Reviews\" & \"IsReviewedBy\" and \"IsDerivedFrom\"
        & \"IsSourceOf\"-->\n<xs:schema xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"
        xmlns=\"http://datacite.org/schema/kernel-3\" targetNamespace=\"http://datacite.org/schema/kernel-3\"
        elementFormDefault=\"qualified\">\n\t<xs:simpleType name=\"relationType\"
        id=\"relationType\">\n\t\t<xs:annotation>\n\t\t\t<xs:documentation>Description
        of the relationship of the resource being registered (A) and the related resource
        (B).</xs:documentation>\n\t\t</xs:annotation>\n\t\t<xs:restriction base=\"xs:string\">\n\t\t\t<xs:enumeration
        value=\"IsCitedBy\"/>\n\t\t\t<xs:enumeration value=\"Cites\"/>\n\t\t\t<xs:enumeration
        value=\"IsSupplementTo\"/>\n\t\t\t<xs:enumeration value=\"IsSupplementedBy\"/>\n\t\t\t<xs:enumeration
        value=\"IsContinuedBy\"/>\n\t\t\t<xs:enumeration value=\"Continues\"/>\n\t\t\t<xs:enumeration
        value=\"IsNewVersionOf\"/>\n\t\t\t<xs:enumeration value=\"IsPreviousVersionOf\"/>\n\t\t\t<xs:enumeration
        value=\"IsPartOf\"/>\n\t\t\t<xs:enumeration value=\"HasPart\"/>\n\t\t\t<xs:enumeration
        value=\"IsReferencedBy\"/>\n\t\t\t<xs:enumeration value=\"References\"/>\n\t\t\t<xs:enumeration
        value=\"IsDocumentedBy\"/>\n\t\t\t<xs:enumeration value=\"Documents\"/>\n\t\t\t<xs:enumeration
        value=\"IsCompiledBy\"/>\n\t\t\t<xs:enumeration value=\"Compiles\"/>\n\t\t\t<xs:enumeration
        value=\"IsVariantFormOf\"/>\n\t\t\t<xs:enumeration value=\"IsOriginalFormOf\"/>\n\t\t\t<xs:enumeration
        value=\"IsIdenticalTo\"/>\n\t\t\t<xs:enumeration value=\"HasMetadata\"/>\n\t\t\t<xs:enumeration
        value=\"IsMetadataFor\"/>\n\t\t\t<xs:enumeration value=\"Reviews\"/>\n\t\t\t<xs:enumeration
        value=\"IsReviewedBy\"/>\n\t\t\t<xs:enumeration value=\"IsDerivedFrom\"/>\n\t\t\t<xs:enumeration
        value=\"IsSourceOf\"/>\n\t\t</xs:restriction>\n\t</xs:simpleType>\n</xs:schema>\n"
  recorded_at: Mon, 09 May 2016 05:58:16 GMT
recorded_with: VCR 2.9.3
