---
http_interactions:
- request:
    method: get
    uri: https://search.test.datacite.org/api?bq=updated:%5BNOW/DAY-1YEAR%20TO%20NOW/DAY%5D&defType=edismax&facet=true&facet.field=schema_version&facet.limit=15&facet.mincount=1&fl=doi,title,description,publisher,publicationYear,resourceType,resourceTypeGeneral,rightsURI,version,datacentre_symbol,allocator_symbol,schema_version,xml,media,minted,updated&fq=has_metadata:true%20AND%20is_active:true%20AND%20resourceTypeGeneral:Dataset%20AND%20datacentre_symbol:FIGSHARE.ARS&q=cancer&rows=25&sort=score%20desc&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":2},"response":{"numFound":0,"start":0,"docs":[]},"facet_counts":{"facet_queries":{},"facet_fields":{"publicationYear":[],"datacentre_facet":[],"resourceType_facet":[],"schema_version":[]},"facet_dates":{},"facet_ranges":{}}}

'
  recorded_at: Mon, 10 Jul 2017 12:31:24 GMT
recorded_with: VCR 2.9.3
