---
http_interactions:
- request:
    method: get
    uri: https://search.test.datacite.org/api?defType=edismax&q=10.3886/ICPSR36357.V1&qf=doi&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":0,"start":0,"docs":[]}}

'
  recorded_at: Mon, 10 Jul 2017 12:31:24 GMT
recorded_with: VCR 2.9.3
