---
http_interactions:
- request:
    method: get
    uri: https://search.test.datacite.org/api?bq=updated:%5BNOW/DAY-1YEAR%20TO%20NOW/DAY%5D&defType=edismax&f.minted.facet.range.end=2024-01-01T00:00:00Z&f.minted.facet.range.gap=%2B1YEAR&f.minted.facet.range.start=2004-01-01T00:00:00Z&facet=true&facet.field=minted&facet.limit=15&facet.mincount=1&facet.range=minted&fl=doi,title,description,publisher,publicationYear,resourceType,resourceTypeGeneral,rightsURI,version,datacentre_symbol,allocator_symbol,schema_version,xml,media,minted,updated&fq=has_metadata:true%20AND%20is_active:true&q=*:*&rows=25&sort=minted%20desc&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":18},"response":{"numFound":0,"start":0,"docs":[]},"facet_counts":{"facet_queries":{},"facet_fields":{"publicationYear":[],"datacentre_facet":[],"resourceType_facet":[],"schema_version":[],"minted":[]},"facet_dates":{},"facet_ranges":{"minted":{"counts":[],"gap":"+1YEAR","start":"2004-01-01T00:00:00Z","end":"2024-01-01T00:00:00Z"}}}}

'
  recorded_at: Tue, 12 Dec 2017 21:39:19 GMT
- request:
    method: get
    uri: https://api.test.datacite.org/clients
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"abba31acf627af3a49cfdc716b099bc6"
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"ethz.ubasojs","type":"clients","attributes":{"name":"027.7
        - Zeitschrift für Bibliothekskultur","symbol":"ETHZ.UBASOJS","year":2013,"contact-name":"ETH-Bibliothek,
        Barbara Hirschmann","contact-email":"barbara.hirschmann@library.ethz.ch","domains":"0277.ch","is-active":true,"password":"yes","created":"2013-03-21T11:02:47Z","updated":"2017-12-02T22:49:05Z"},"relationships":{"prefixes":{"meta":{}},"provider":{"data":{"id":"ethz","type":"providers"}},"repository":{"data":null}}},{"id":"delft.datacent","type":"clients","attributes":{"name":"3TU
        Datacentrum","symbol":"DELFT.DATACENT","year":2011,"contact-name":"M.M.E.deSmaele@tudelft.nl","contact-email":"M.M.E.deSmaele@tudelft.nl","domains":"*","is-active":true,"password":"yes","created":"2011-09-30T09:18:16Z","updated":"2017-12-02T22:49:02Z"},"relationships":{"prefixes":{"meta":{}},"provider":{"data":{"id":"delft","type":"providers"}},"repository":{"data":null}}},{"id":"delft.data4tu","type":"clie[...]
- request:
    method: get
    uri: https://profiles.test.datacite.org/api/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1725b1d620b723bcbc1f18ccbe1037c9"
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"ands","type":"members","attributes":{"title":"Australian
        National Data Service","description":"\u003cp\u003eThe Australian National
        Data Service (ANDS) makes Australia\u0026#39;s research data assets more valuable
        for researchers, research institutions and the nation.\u003c/p\u003e\n\n\u003cp\u003eWe
        do this through working in trusted partnerships on research data projects,
        delivering reliable national services and enhancing the capability of Australia\u0026#39;s
        research data system.\u003c/p\u003e\n\n\u003cp\u003eA key ANDS service is
        the [...]
