---
http_interactions:
- request:
    method: get
    uri: https://search.datacite.org/api?facet=true&facet.field=schema_version&facet.limit=15&facet.mincount=1&fl=doi,title,description,publisher,publicationYear,resourceType,resourceTypeGeneral,rightsURI,datacentre_symbol,allocator_symbol,schema_version,xml,minted,updated&fq=has_metadata:true%20AND%20is_active:true%20AND%20resourceTypeGeneral:Dataset%20AND%20datacentre_symbol:Cdl.digsci&q=cancer&rows=25&sort=score%20desc&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":67},"response":{"numFound":0,"start":0,"docs":[]},"facet_counts":{"facet_queries":{},"facet_fields":{"publicationYear":[],"datacentre_facet":[],"resourceType_facet":[],"schema_version":[]},"facet_dates":{},"facet_ranges":{}}}

'
  recorded_at: Fri, 21 Oct 2016 17:29:01 GMT
- request:
    method: get
    uri: http://eventdata.labs.datacite.org/api/publishers?ids=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"517a43cd77941dcde44a8517d52651fc"
    body:
      encoding: UTF-8
      string: "{\"meta\":{\"status\":\"ok\",\"message-type\":\"publisher-list\",\"message-version\":\"v7\",\"total\":7971,\"total_pages\":8,\"page\":1,\"registration_agencies\":[{\"id\":\"datacite\",\"title\":\"DataCite\",\"count\":807},{\"id\":\"crossref\",\"title\":\"Crossref\",\"count\":7164}],\"members\":[{\"id\":\"delft\",\"title\":\"DELFT\",\"count\":14},{\"id\":\"dk\",\"title\":\"DK\",\"count\":9},{\"id\":\"mtakik\",\"title\":\"MTAKIK\",\"count\":38},{\"id\":\"purdue\",\"title\":\"PURDUE\",\"count\":28},{\"id\":\"cdl\",\"title\":\"CDL\",\"count\":180},{\"id\":\"osti\",\"title\":\"OSTI\",\"count\":27},{\"id\":\"ethz\",\"title\":\"ETHZ\",\"count\":46},{\"id\":\"gesis\",\"title\":\"GESIS\",\"count\":67},{\"id\":\"cisti\",\"title\":\"CISTI\",\"count\":24},{\"id\":\"zbmed\",\"title\":\"ZBMED\",\"count\":34},{\"id\":\"inist\",\"title\":\"INIST\",\"count\":34},{\"id\":\"snd\",\"title\":\"SND\",\"count\":7},{\"id\":\"cern\",\"title\":\"CERN\",\"count\":7},{\"id\":\"crui\",\"title\":\"CRUI\",\"count\":35},{\"id\":\"datacite\",\"title\":\"DATACITE\",\"count\":2},{\"id\":\"csic\",\"title\":\"CSIC\",\"count\":1},{\"id\":\"spbpu\",\"title\":\"SPBPU\",\"count\":2},{\"id\":\"zbw\",\"title\":\"ZBW\",\"count\":10},{\"id\":\"figshare\",\"title\":\"FIGSHARE\",\"count\":1},{\"id\":\"ands\",\"title\":\"ANDS\",\"count\":44},{\"id\":\"jalc\",\"title\":\"JALC\",\"count\":1},{\"id\":\"nrct\",\"title\":\"NRCT\",\"count\":1},{\"id\":\"tib\",\"title\":\"TIB\",\"count\":116},{\"id\":\"nrf\",\"title\":\"NRF\",\"count\":1},{\"id\":\"subgoe\",\"title\":\"SUBGOE\",\"count\":4},{\"id\":\"estdoi\",\"title\":\"ESTDOI\",\"count\":6},{\"id\":\"bibsys\",\"title\":\"BIBSYS\",\"count\":2},{\"id\":\"bl\",\"title\":\"BL\",\"count\":66}]},\"publishers\":[{\"id\":\"ETHZ.UBASOJS\",\"title\":\"027.7
        - Zeitschrift für Bibliothekskultur\",\"prefixes\":[],\"registration_agency_id\":\"datacite\",\"member_id\":\"ETHZ\",\"timestamp\":\"2016-10-21T17:10:21Z\"},{\"id\":\"4396\",\"title\":\"123Doc
        Education\",\"other_names\":[\"123Doc Education\"],\"prefixes\":[\"10.7579\"],\"registration_agency_id\":\"crossref\",\"timestamp\":\"2016-10-21T17:13:11Z\"},{\"id\":\"2034\",\"title\":\"21st
        Century COE Program\",\"other_names\":[\"21st Century COE Program (Toplogical
        Science and Technology)\",\"21st Century COE Program\"],\"prefixes\":[\"10.3731\"],\"registration_agency_id\":\"crossref\",\"timestamp\":\"2016-10-21T17:13:09Z\"},{\"id\":\"7298\",\"title\":\"21st
        Century Political Science Association[...]
