---
http_interactions:
- request:
    method: get
    uri: https://search.test.datacite.org/api?bq=updated:%5BNOW/DAY-1YEAR%20TO%20NOW/DAY%5D&defType=edismax&facet=true&facet.field=schema_version&facet.limit=15&facet.mincount=1&fl=doi,title,description,publisher,publicationYear,resourceType,resourceTypeGeneral,rightsURI,version,datacentre_symbol,allocator_symbol,schema_version,xml,media,minted,updated&fq=has_metadata:true%20AND%20is_active:true%20AND%20resourceTypeGeneral:Dataset&q=cancer&rows=25&sort=score%20desc&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":8},"response":{"numFound":3,"start":0,"docs":[{"datacentre_symbol":"TIB.PANGAEA","xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48cmVzb3VyY2UgeG1sbnM9Imh0dHA6Ly9kYXRhY2l0ZS5vcmcvc2NoZW1hL2tlcm5lbC0yLjIiIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhzaTpzY2hlbWFMb2NhdGlvbj0iaHR0cDovL2RhdGFjaXRlLm9yZy9zY2hlbWEva2VybmVsLTIuMiBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC0yLjIvbWV0YWRhdGEueHNkIj48aWRlbnRpZmllciBpZGVudGlmaWVyVHlwZT0iRE9JIj4xMC4xNTk0L1BBTkdBRUEuNzc0ODc5PC9pZGVudGlmaWVyPjxjcmVhdG9ycz48Y3JlYXRvcj48Y3JlYXRvck5hbWU+U2NobWFsZW5iYWN[...]
- request:
    method: get
    uri: http://profiles.test.datacite.org/api/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: ''
    headers:
      Content-Type:
      - text/html
      Location:
      - https://profiles.test.datacite.org/api/members
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>openresty/1.11.2.2</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sun, 23 Jul 2017 10:34:50 GMT
- request:
    method: get
    uri: https://profiles.test.datacite.org/api/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5364592afb9a0cc4809dd4f0410949bd"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"ands","type":"members","attributes":{"title":"Australian
        National Data Service","description":"\u003cp\u003eThe Australian National
        Data Service (ANDS) makes Australia\u0026#39;s research data assets more valuable
        for researchers, research institutions and the nation.\u003c/p\u003e\n\n\u003cp\u003eWe
        do this through working in trusted partnerships on research data projects,
        delivering reliable national services and enhancing the capability of Australia\u0026#39;s
        research data system.\u003c/p\u003e\n\n\u003cp\u003eA key ANDS service is
        the [...]
- request:
    method: get
    uri: http://schema.test.datacite.org/meta/kernel-4/include/datacite-resourceType-v4.xsd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Etag:
      - '"bfc0582894b33ec97a324cdc44748aec"'
      Last-Modified:
      - Tue, 04 Jul 2017 10:41:40 GMT
      X-Amz-Request-Id:
      - 6DD78B4E0EA0EDEB
      X-Amz-Version-Id:
      - N_fIZ.T5Cu7r7c7VtTFwlbc7m2bFT7bD
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <!-- Version 1.0 - Created 2011-01-13 - FZ, TIB, Germany
             2013-05 v3.0: Addition of ID to simpleType element; added values "Audiovisual", "Workflow" & "Other"; deleted value "Film" -->
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://datacite.org/schema/kernel-4" targetNamespace="http://datacite.org/schema/kernel-4" elementFormDefault="qualified">
          <xs:simpleType name="resourceType" id="resourceType">
            <xs:annotation>
              <xs:documentation>The general type of a resource.</xs:documentation>
            </xs:annotation>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Audiovisual"/>
              <xs:enumeration value="Collection"/>
              <xs:enumeration value="Dataset"/>
              <xs:enumeration value="Event"/>
              <xs:enumeration value="Image"/>
              <xs:enumeration value="InteractiveResource"/>
              <xs:enumeration value="Model"/>
              <xs:enumeration value="PhysicalObject"/>
              <xs:enumeration value="Service"/>
              <xs:enumeration value="Software"/>
              <xs:enumeration value="Sound"/>
              <xs:enumeration value="Text"/>
              <xs:enumeration value="Workflow"/>
              <xs:enumeration value="Other"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:schema>
  recorded_at: Sun, 23 Jul 2017 10:34:50 GMT
[...]
