---
http_interactions:
- request:
    method: get
    uri: https://search.datacite.org/api?q=doi:10.3886/ICPSR36357.V1&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":2},"response":{"numFound":1,"start":0,"docs":[{"minted":"2016-04-22T12:55:03Z","refQuality":false,"has_metadata":true,"is_active":true,"datacentre_symbol":"GESIS.ICPSR","uploaded":"2016-04-22T12:55:02Z","xml":"PD94bWwgdmVyc2lvbj0nMS4wJyBlbmNvZGluZz0nVVRGLTgnPz4KPHJlc291cmNlIHhtbG5zPSdodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMycgeG1sbnM6eHNpPSdodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZScgeHNpOnNjaGVtYUxvY2F0aW9uPSdodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC0zL21ldGFkYXRhLnhzZCc+CiAgPGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9J0RPSSc+MTAuMzg4Ni9JQ1BTUjM2MzU3LnYxPC9pZGVudGlmaWVyPgogIDxjcmVhdG9ycz4KICAgIDxjcmVhdG9yPgogICAgICA8Y3JlYXRvck5hbWU[...]
- request:
    method: post
    uri: https://eventdata.datacite.org/api/works
    body:
      encoding: UTF-8
      string: ids=10.3886%2FICPSR36357.V1&type=doi
    headers:
      X-Http-Method-Override:
      - GET
      Authorization:
      - Token token=<LAGOTTO_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"bce78693b3be8fa06ee65f669aaef744"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"work-list","message-version":"v7","total":1,"total_pages":1,"page":1,"sources":{"datacite_related":1},"relation_types":{"is_new_version_of":1}},"works":[{"id":"http://doi.org/10.3886/ICPSR36357.V1","author":[],"title":"Arts
        and Cultural Production Satellite Account","published":"2016","issued":"2016-04-22T12:55:03Z","updated":"2016-06-15T15:13:48Z","DOI":"10.3886/ICPSR36357.V1","publisher_id":"GESIS.ICPSR","registration_agency_id":"datacite","work_type_id":"dataset","results":{}}]}'
  recorded_at: Sat, 02 Jul 2016 17:03:11 GMT
- request:
    method: get
    uri: https://eventdata.datacite.org/api/publishers/GESIS.ICPSR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"3d80849ccc95e11cbac69d1441648396"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"publisher","message-version":"v7"},"publisher":{"id":"GESIS.ICPSR","title":"ICPSR","prefixes":[],"registration_agency_id":"datacite","member_id":"GESIS","timestamp":"2016-07-02T16:49:04Z"}}'
  recorded_at: Sat, 02 Jul 2016 17:03:11 GMT
- request:
    method: get
    uri: https://eventdata.datacite.org/api/work_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"5087c6c0840d62d9da57069282864a7a"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"work_type-list","message-version":"v7","total":36},"work_types":[{"id":"article","title":"Article","timestamp":"2016-03-21T15:05:02Z"},{"id":"bill","title":"Bill","timestamp":"2016-03-21T15:05:02Z"},{"id":"post-weblog","title":"Blog
        Post","container":"Blog","timestamp":"2016-03-21T15:05:03Z"},{"id":"book","title":"Book","timestamp":"2016-03-21T15:05:02Z"},{"id":"review-book","title":"Book
        Review","timestamp":"2016-03-21T15:05:03Z"},{"id":"broadcase","title":"Broadcast","timestamp":"2016-03-21T15:05:03Z"},{"id":"chapter","title":"Chapter","container":"Book","timestamp":"2016-03-21T15:05:03Z"},{"id":"computer_program","title":"Computer
        Program","timestamp":"2016-03-21T15:05:03Z"},{"id":"paper-conference","title":"Conference
   [...]
- request:
    method: get
    uri: https://eventdata.datacite.org/api/sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"5dea3646a926586b82485fbeb0bb5adc"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"source-list","message-version":"v7","total":15,"groups":{"relations":6,"contributions":4,"publishers":2,"results":3}},"sources":[{"id":"crossref_datacite","title":"Crossref
        (DataCite)","group_id":"relations","description":"Import works linked to a
        DataCite DOI from Crossref.","state":"active","timestamp":"2016-07-02T16:53:41Z","work_count":0,"relation_count":0,"result_count":0,"by_day":{"with_results":0,"without_results":0,"not_updated":0},"by_month":{"with_results":0,"without_results":0,"not_updated":0}},{"id":"datacite_crossref","title":"DataCite
        (Crossref)","group_id":"relations","description":"Import works with Crossref
        DOIs as relatedIdentifier via the DataCite Solr API.","state":"active","timestamp":"2016-07-02T16:53:35Z","work_count":20293,"relation_count":225345,"result_count":75477,"by_day":{"with_results":21,"without_results":279,"not_updated":224990},"by_month":{"with_results":5145,"without_results":197244,"not_upd[...]
- request:
    method: get
    uri: https://eventdata.datacite.org/api/groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"bdb91c439c4c90224189c7eb36197501"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"group-list","message-version":"v7","total":13},"groups[...]
- request:
    method: get
    uri: https://eventdata.datacite.org/api/relation_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ddd1a36f9fddddf9e5cc51894c8d4a2a"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"relation_type-list","message-version":"v7","total":39},"relation_types":[{"id":"bookmarks","title":"Bookmarks","inverse_title":"Is
        bookmarked by","timestamp":"2016-03-21T15:05:04Z"},{"id":"cites","title":"Cites","inverse_title":"Is
        cited by","timestamp":"2016-03-21T15:05:03Z"},{"id":"compiles","title":"Compiles","inverse_title":"Is
        compiled by","timestamp":"2016-03-21T15:05:03Z"},{"id":"continues","title":"Continues","inverse_title":"Is
        continued by","timestamp":"2016-03-21T15:05:03Z"},{"id":"corrects","title":"Corrects","inverse_title":"Is
        corrected by","timestamp":"2016-03-21T15[...]
