---
http_interactions:
- request:
    method: post
    uri: https://eventdata.datacite.org/api/deposits
    body:
      encoding: UTF-8
      string: '{"deposit":{"subj_id":"http://doi.org/10.5281/ZENODO.16396","obj_id":"http://doi.org/10.1007/S11548-015-1180-7","relation_type_id":"is_supplement_to","source_id":"datacite_crossref","publisher_id":"CERN.ZENODO","subj":{"pid":"http://doi.org/10.5281/ZENODO.16396","DOI":"10.5281/ZENODO.16396","author":[{"family":"Fedorov","given":"Andrey"},{"family":"Nguyen","given":"Paul
        L"},{"family":"Tuncali","given":"Kemal"},{"family":"Tempany","given":"Clare"}],"title":"Annotated
        MRI and ultrasound volume images of the prostate","container-title":"Zenodo","published":"2015","issued":"2015-03-26T20:45:10Z","publisher_id":"CERN.ZENODO","registration_agency_id":"datacite","tracked":true,"type":"dataset"},"obj":{},"message_type":"relation","prefix":"10.5281","source_token":"31eb4576-c06a-4711-bd9a-912e16f2303a","callback":"http://localhost:8040/api/callbacks"}}'
    headers:
      Authorization:
      - Token token=<LAGOTTO_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 202 Accepted
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"accepted","message-type":"deposit","message-version":"v7"},"deposit":{"id":"4cdd1b70-c2cd-4e3d-83a1-7f5268106586","state":"waiting","message_type":"relation","message_action":"create","source_token":"31eb4576-c06a-4711-bd9a-912e16f2303a","callback":"http://localhost:8040/api/callbacks","prefix":"10.5281","subj_id":"http://doi.org/10.5281/ZENODO.16396","obj_id":"http://doi.org/10.1007/S11548-015-1180-7","relation_type_id":"is_supplement_to","source_id":"datacite_crossref","publisher_id":"CERN.ZENODO","total":1,"occurred_at":"2016-07-02T17:02:38Z","timestamp":"2016-07-02T17:02:38Z","subj":{"pid":"http://doi.org/10.5281/ZENODO.16396","author":[{"given":"Andrey","family":"Fedorov"},{"given":"Paul
        L","family":"Nguyen"},{"given":"Kemal","family":"Tuncali"},{"given":"Clare","family":"Tempany"}],"title":"Annotated
        MRI and ultrasound volume images of the prostate","container-title":"Zenodo","issued":"2015-03-26T20:45:10Z","published":"2015","DOI":"10.5281/ZENODO.16396","registration_agency_id":"datacite","publisher_id":"CERN.ZENODO","type":"dataset","tracked":true},"obj":{}}}'
  recorded_at: Sat, 02 Jul 2016 17:02:33 GMT
[...]
- request:
    method: post
    uri: https://eventdata.datacite.org/api/deposits
    body:
      encoding: UTF-8
      string: '{"deposit":{"subj_id":"https://github.com/ivanseidel","obj_id":"https://github.com/ivanseidel/ArduinoThread","relation_type_id":null,"source_id":"github_contributor","publisher_id":null,"subj":{},"obj":{},"message_type":"contribution","prefix":null,"source_token":"31eb4576-c06a-4711-bd9a-912e16f2303a","callback":"http://localhost:8040/api/callbacks"}}'
    headers:
      Authorization:
      - Token token=<LAGOTTO_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 202 Accepted
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"accepted","message-type":"deposit","message-version":"v7"},"deposit":{"id":"2a1133cb-3ce0-4baa-be7c-e8f4989ba6f9","state":"waiting","message_type":"contribution","message_action":"create","source_token":"31eb4576-c06a-4711-bd9a-912e16f2303a","callback":"http://localhost:8040/api/callbacks","subj_id":"https://github.com/ivanseidel","obj_id":"https://github.com/ivanseidel/ArduinoThread","relation_type_id":"references","source_id":"github_contributor","total":1,"occurred_at":"2016-07-02T17:02:55Z","timestamp":"2016-07-02T17:02:55Z","subj":{},"obj":{}}}'
  recorded_at: Sat, 02 Jul 2016 17:02:49 GMT
recorded_with: VCR 2.9.3
