---
http_interactions:
- request:
    method: post
    uri: https://eventdata.datacite.org/api/deposits
    body:
      encoding: UTF-8
      string: '{"deposit":{"subj_id":"https://doi.org/10.5281/ZENODO.16396","obj_id":"https://doi.org/10.1007/S11548-015-1180-7","relation_type_id":"is_supplement_to","source_id":"datacite_crossref","publisher_id":"CERN.ZENODO","subj":{"pid":"https://doi.org/10.5281/ZENODO.16396","DOI":"10.5281/ZENODO.16396","author":[{"family":"Fedorov","given":"Andrey"},{"family":"Nguyen","given":"Paul
        L"},{"family":"Tuncali","given":"Kemal"},{"family":"Tempany","given":"Clare"}],"title":"Annotated
        MRI and ultrasound volume images of the prostate","container-title":"Zenodo","published":"2015","issued":"2015-03-26T20:45:10Z","publisher_id":"CERN.ZENODO","registration_agency_id":"datacite","tracked":true,"type":"dataset"},"obj":{},"message_type":"relation","prefix":"10.5281","source_token":"1c583380-ca29-4a4f-b38d-0c3f6d994ec4","callback":"http://localhost:8040/api/callbacks"}}'
    headers:
      Authorization:
      - Token token=<LAGOTTO_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"error","error":"You are not authorized to access
        this page."}}'
  recorded_at: Sun, 09 Oct 2016 11:44:50 GMT
[...]
- request:
    method: post
    uri: https://eventdata.datacite.org/api/deposits
    body:
      encoding: UTF-8
      string: '{"deposit":{"subj_id":"https://doi.org/10.5281/ZENODO.16650","obj_id":"https://github.com/moorepants/DynamicistToolKit/tree/v0.4.0","relation_type_id":"is_supplement_to","source_id":"datacite_github","publisher_id":"CERN.ZENODO","subj":{"pid":"https://doi.org/10.5281/ZENODO.16650","DOI":"10.5281/ZENODO.16650","author":[{"literal":"Jason
        K. Moore"},{"literal":"Christopher Dembia"}],"title":"DynamicistToolKit: Version
        0.4.0","container-title":"Zenodo","published":"2015","issued":"2015-04-07T05:43:27Z","publisher_id":"CERN.ZENODO","registration_agency_id":"datacite","tracked":true,"type":"computer_program"},"obj":{},"message_type":"relation","prefix":"10.5281","source_token":"1c583380-ca29-4a4f-b38d-0c3f6d994ec4","callback":"http://localhost:8040/api/callbacks"}}'
    headers:
      Authorization:
      - Token token=<LAGOTTO_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"error","error":"You are not authorized to access
        this page."}}'
  recorded_at: Sun, 09 Oct 2016 11:44:52 GMT
[...]
- request:
    method: post
    uri: https://eventdata.datacite.org/api/deposits
    body:
      encoding: UTF-8
      string: '{"deposit":{"subj_id":"https://github.com/ivanseidel","obj_id":"https://github.com/ivanseidel/ArduinoThread","relation_type_id":null,"source_id":"github_contributor","publisher_id":null,"subj":{},"obj":{},"message_type":"contribution","prefix":null,"source_token":"1c583380-ca29-4a4f-b38d-0c3f6d994ec4","callback":"http://localhost:8040/api/callbacks"}}'
    headers:
      Authorization:
      - Token token=<LAGOTTO_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"error","error":"You are not authorized to access
        this page."}}'
  recorded_at: Sun, 09 Oct 2016 11:45:06 GMT
recorded_with: VCR 2.9.3
