---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/clients?include=provider&query=california
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"b5bdab60480851d7c5f21498778196ed"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"cdl.ucsdcca","type":"clients","attributes":{"name":"California
        Coastal Atlas","symbol":"CDL.UCSDCCA","year":2012,"contact-name":"Greg Janee","contact-email":"gjanee@ucop.edu","domains":"*","url":null,"is-active":true,"has-password":true,"created":"2012-06-27T20:51:59Z","updated":"2018-03-10T01:30:30Z"},"relationships":{"prefixes":{"meta":{}},"provider":{"data":{"id":"cdl","type":"providers"}},"repository":{"meta":{}}}},{"id":"tind.cal","type":"clients","attributes":{"name":"California
        Institute of Technology","symbol":"TIND.CAL","year":2016,"contact-name":"tech@tind.io","contact-email":"tech@tind.io","domains":"tind.io","url":null,"is-active":true,"has-password":true,"created":"2016-10-25T15:16:46Z","updated":"2018-03-10T01:30:54Z"},"relationships":{"prefixes":{"meta":{}},"provider":{"data":{"id":"tind","type":"providers"}},"repository":{"meta":{}}}},{"id":"cdl.caltech","type":"clients","[...]
