---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/clients?include=provider&query=california
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"073a027a9038c27b9736fa516d303c71"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"cdl.ucsdcca","type":"clients","attributes":{"name":"California
        Coastal Atlas","symbol":"CDL.UCSDCCA","year":2012,"contact-name":"EZID Support
        Desk","contact-email":"ezid@ucop.edu","domains":"*","url":null,"created":"2012-06-27T20:51:59.000Z","updated":"2018-08-26T01:30:31.000Z","is-active":true,"has-password":true},"relationships":{"provider":{"data":{"id":"cdl","type":"providers"}},"prefixes":{"data":[{"id":"10.5072","type":"prefixes"},{"id":"10.4246","type":"prefixes"}]}}},{"id":"tind.cal","type":"clients","attributes":{"name":"California
        Institute of Technology","symbol":"TIND.CAL","year":2016,"contact-name":"tech@tind.io","contact-email":"tech@tind.io","domains":"tind.io","url":null,"created":"2016-10-25T15:16:46.000Z","updated":"2018-08-26T01:31:02.000Z","is-active":true,"has-password":true},"relationships":{"provider":{"data":{"id":"tind","type":"providers"}},"prefixes":[...]
