---
http_interactions:
- request:
    method: get
    uri: http://eventdata.labs.datacite.org/api/work_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"5087c6c0840d62d9da57069282864a7a"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"work_type-list","message-version":"v7","total":36},"work_types":[{"id":"article","title":"Article","timestamp":"2016-03-21T15:05:02Z"},{"id":"bill","title":"Bill","timestamp":"2016-03-21T15:05:02Z"},{"id":"post-weblog","title":"Blog
        Post","container":"Blog","timestamp":"2016-03-21T15:05:03Z"},{"id":"book","title":"Book","timestamp":"2016-03-21T15:05:02Z"},{"id":"review-book","title":"Book
        Review","timestamp":"2016-03-21T15:05:03Z"},{"id":"broadcase","title":"Broadcast","timestamp":"2016-03-21T15:05:03Z"},{"id":"chapter","title":"Chapter","container":"Book","timestamp":"2016-03-21T15:05:03Z"},{"id":"computer_program","title":"Computer
        Program","timestamp":"2016-03-21T15:05:03Z"},{"id":"paper-conference","title":"Conference
   [...]
