---
http_interactions:
- request:
    method: get
    uri: https://eventdata.datacite.org/api/work_types/dataset
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"51c4a944dd2d16d9970b9a9347a4f558"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"work_type","message-version":"v7"},"work_type":{"id":"dataset","title":"Dataset","timestamp":"2016-03-21T15:05:03Z"}}'
  recorded_at: Tue, 04 Oct 2016 19:27:36 GMT
recorded_with: VCR 2.9.3
