---
http_interactions:
- request:
    method: get
    uri: http://eventdata.labs.datacite.org/api/sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ee3e3e1e180cf70084331da20b60f5c9"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"source-list","message-version":"v7","total":15,"groups":[{"id":"relations","title":"Relations","count":6},{"id":"contributions","title":"Contributions","count":4},{"id":"results","title":"Results","count":3},{"id":"publishers","title":"Publishers","count":2}]},"sources":[{"id":"crossref_datacite","title":"Crossref
        (DataCite)","group_id":"relations","description":"Import works linked to a
        DataCite DOI from Crossref.","state":"active","timestamp":"2016-10-21T17:07:32Z","work_count":0,"relation_count":0,"result_count":0,"by_day":{"with_results":0,"without_results":0,"not_updated":0},"by_month":{"with_results":0,"without_results":0,"not_updated":0}},{"id":"datacite_crossref","title":"DataCite
        (Crossref)","group_id":"relations","description":"Import works with Crossref
        DOIs as relatedIdentifier via the DataCite Solr API.","state":"active","timestamp":"2016-10-21T17:07:32Z","work_count":0,"relation_count":0,"result_count":0,"by_day":{"with_results":0,"without_results":0,"not_updated":0},"by_month":{"with_results":0,"without_results":0,"not_updated":0}},{"id":"datacite_git[...]
