---
http_interactions:
- request:
    method: get
    uri: http://eventdata.labs.datacite.org/api/sources/datacite_related
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"c76b66f4f84ff78a11f7d9bcd668abbf"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"source","message-version":"v7"},"source":{"id":"datacite_related","title":"DataCite
        (RelatedIdentifier)","group_id":"relations","description":"Import works with
        relatedIdentifiers via the DataCite Solr API.","state":"active","timestamp":"2016-10-21T17:06:06Z","work_count":283372,"relation_count":420693,"result_count":2964592,"by_day":{"with_results":0,"without_results":0,"not_updated":420634},"by_month":{"with_results":5,"without_results":1,"not_updated":420628}}}'
  recorded_at: Fri, 21 Oct 2016 17:31:20 GMT
recorded_with: VCR 2.9.3
