---
http_interactions:
- request:
    method: get
    uri: https://eventdata.datacite.org/api/sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"5dea3646a926586b82485fbeb0bb5adc"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"source-list","message-version":"v7","total":15,"groups":{"relations":6,"contributions":4,"publishers":2,"results":3}},"sources":[{"id":"crossref_datacite","title":"Crossref
        (DataCite)","group_id":"relations","description":"Import works linked to a
        DataCite DOI from Crossref.","state":"active","timestamp":"2016-07-02T16:53:41Z","work_count":0,"relation_count":0,"result_count":0,"by_day":{"with_results":0,"without_results":0,"not_updated":0},"by_month":{"with_results":0,"without_results":0,"not_updated":0}},{"id":"datacite_crossref","title":"DataCite
        (Crossref)","group_id":"relations","description":"Import works with Crossref
        DOIs as relatedIdentifier via the DataCite Solr API.","state":"active","timestamp":"2016-07-02T16:53:35Z","work_count":20293,"relation_count":225345,"result_count":75477,"by_day":{"with_results":21,"without_results":279,"not_updated":224990},"by_month":{"with_results":5145,"without_results":197244,"not_upd[...]
- request:
    method: get
    uri: https://eventdata.datacite.org/api/groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"bdb91c439c4c90224189c7eb36197501"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"group-list","message-version":"v7","total":13},"groups[...]
