---
http_interactions:
- request:
    method: get
    uri: https://eventdata.datacite.org/api/sources/datacite_related
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ac5cadcdcd9446532f090d504802491e"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"source","message-version":"v7"},"source":{"id":"datacite_related","title":"DataCite
        (RelatedIdentifier)","group_id":"relations","description":"Import works with
        relatedIdentifiers via the DataCite Solr API.","state":"active","timestamp":"2016-09-21T20:28:19Z","work_count":283370,"relation_count":420690,"result_count":2964588,"by_day":{"with_results":0,"without_results":0,"not_updated":420631},"by_month":{"with_results":694,"without_results":217,"not_updated":419720}}}'
  recorded_at: Wed, 21 Sep 2016 21:07:30 GMT
- request:
    method: get
    uri: https://eventdata.datacite.org/api/groups/relations
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"1b027c17ab34aef1a555628f55341322"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"group","message-version":"v7"},"group":{"id":"relations","title":"Relations","sources":["crossref_datacite","datacite_crossref","datacite_github","datacite_related","europe_pmc_fulltext","plos_fulltext"],"timestamp":"2016-03-28T15:25:06Z"}}'
  recorded_at: Wed, 21 Sep 2016 21:07:30 GMT
recorded_with: VCR 2.9.3
