---
http_interactions:
- request:
    method: get
    uri: https://eventdata.datacite.org/api/sources/datacite_related
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"12c9b02db00ddd14e48aeabe85be0709"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"source","message-version":"v7"},"source":{"id":"datacite_related","title":"DataCite
        (RelatedIdentifier)","group_id":"relations","description":"Import works with
        relatedIdentifiers via the DataCite Solr API.","state":"active","timestamp":"2016-07-02T16:53:37Z","work_count":282464,"relation_count":419378,"result_count":2961670,"by_day":{"with_results":1039,"without_results":200,"not_updated":418080},"by_month":{"with_results":263725,"without_results":126845,"not_updated":28749}}}'
  recorded_at: Sat, 02 Jul 2016 17:02:52 GMT
- request:
    method: get
    uri: https://eventdata.datacite.org/api/groups/relations
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"1b027c17ab34aef1a555628f55341322"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"group","message-version":"v7"},"group":{"id":"relations","title":"Relations","sources":["crossref_datacite","datacite_crossref","datacite_github","datacite_related","europe_pmc_fulltext","plos_fulltext"],"timestamp":"2016-03-28T15:25:06Z"}}'
  recorded_at: Sat, 02 Jul 2016 17:02:52 GMT
recorded_with: VCR 2.9.3
