---
http_interactions:
- request:
    method: get
    uri: https://eventdata.datacite.org/api/contributions?page=1&per_page=25&source_id=datacite_search_link
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"e1d124455f661dc34e93e42c5bd877be"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"contribution-list","message-version":"v7","total":3646,"total_pages":146,"page":1,"sources":{"datacite_search_link":3646},"publishers":{"BL.BGI":3,"BL.CCDC":2,"CDL.BOISESTA":1,"CDL.DIGSCI":87,"CDL.DRYAD":31,"CDL.LTERNET":3,"CERN.JACOW":8,"CERN.ZENODO":15,"CRUI.POLITO":1,"CRUI.UNIFI":1,"ETHZ.BORIS":2,"ETHZ.E-COLL":1,"ETHZ.FSW":1,"ETHZ.PHSG":8,"ETHZ.SEALS":2,"ETHZ.ZORA":1,"GESIS.BSB":4,"GESIS.CSES":3,"GESIS.MDA":1,"GESIS.UBHD":33,"INIST.IFREMER":7,"PURDUE.IUPUI":2,"TIB.ADLNET":1,"TIB.ETA":13,"TIB.GFZBIB":1,"TIB.PANGAEA":2,"TIB.R-GATE":85,"TIB.RADS":1,"TIB.TUDO":2,"TIB.UBMR":2,"TIB.UKON":1,"TIB.WIP":4,"TIB.ZALF":1}},"contributions":[{"subj_id":"http://orcid.org/0000-0003-1419-2405","credit_name":"Martin
        Fenner","obj_id":"http://doi.org/10.6084/M9.FIGSHARE.90829.V1","author":[],"title":"CrowdoMeter
        Tweet Classifications","published":"2012","issued":"2016-01-11T11:03:28Z","DOI":"10.6084/M9.FIGSHARE.90829.V1","work_type_id":"dataset","results":{},"source_id":"datacite_search_link","publisher_id":"CDL.DIGSCI","contributor_role_id":"contribution","timestamp":"2016-09-06T11:00:26Z"},{"subj_id":"http://orcid.org/0000-0003-1419-2405","credit_name":"Martin
        Fenner","obj_id":"http://doi.org/10.6084/M9.FIGSHARE.154691","author":[],"title":"D2.1
        Kick off preparation, Communication plan and Website","published":"2013","issued":"2013-01-29T15:26:49Z","DOI":"10.6084/M9.FIGSHARE.154691","publisher_id":"CDL.DIGSCI","work_type_id":"report","results":{},"source_id":"datacite_search_link","contributor_role_id":"contribution","timestamp":"2016-09-06T[...]
- request:
    method: get
    uri: https://eventdata.datacite.org/api/sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"09b45ca3006e82801502cdd5f010acd6"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"source-list","message-version":"v7","total":15,"groups":{"relations":6,"contributions":4,"publishers":2,"results":3}},"sources":[{"id":"crossref_datacite","title":"Crossref
        (DataCite)","group_id":"relations","description":"Import works linked to a
        DataCite DOI from Crossref.","state":"active","timestamp":"2016-10-04T20:05:12Z","work_count":0,"relation_count":0,"result_count":0,"by_day":{"with_results":0,"without_results":0,"not_updated":0},"by_month":{"with_results":0,"without_results":0,"not_updated":0}},{"id":"datacite_crossref","title":"DataCite
        (Crossref)","group_id":"relations","description":"Import works with Crossref
        DOIs as relatedIdentifier via the DataCite Solr API.","state":"active","timestamp":"2016-10-04T20:05:12Z","work_count":19893,"relation_count":225467,"result_count":74369,"by_day":{"with_results":0,"without_results":0,"not_updated":225412},"by_month":{"with_results":12,"without_results":32,"not_updated":225[...]
- request:
    method: get
    uri: https://eventdata.datacite.org/api/groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"bdb91c439c4c90224189c7eb36197501"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"group-list","message-version":"v7","total":13},"groups[...]
- request:
    method: get
    uri: https://eventdata.datacite.org/api/publishers?ids=BL.BGI,BL.CCDC,CDL.BOISESTA,CDL.DIGSCI,CDL.DRYAD,CDL.LTERNET,CERN.JACOW,CERN.ZENODO,CRUI.POLITO,CRUI.UNIFI,ETHZ.BORIS,ETHZ.E-COLL,ETHZ.FSW,ETHZ.PHSG,ETHZ.SEALS,ETHZ.ZORA,GESIS.BSB,GESIS.CSES,GESIS.MDA,GESIS.UBHD,INIST.IFREMER,PURDUE.IUPUI,TIB.ADLNET,TIB.ETA,TIB.GFZBIB,TIB.PANGAEA,TIB.R-GATE,TIB.RADS,TIB.TUDO,TIB.UBMR,TIB.UKON,TIB.WIP,TIB.ZALF&page=1&per_page=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f002e76d036ae76cf57cea8cff417e79"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"publisher-list","message-version":"v7","total":33,"total_pages":2,"page":1,"registration_agencies":{"datacite":33},"members":{"GESIS":4,"BL":2,"ETHZ":6,"CDL":4,"PURDUE":1,"INIST":1,"CERN":2,"CRUI":2,"TIB":11}},"publishers":[{"id":"GESIS.BSB","title":"Bavarian
        State Library","prefixes":[],"registration_agency_id":"datacite","member_id":"GESIS","timestamp":"2016-10-04T20:23:05Z"},{"id":"BL.BGI","title":"Beijing
        Genomics Institute","prefixes":[],"registration_agency_id":"datacite","member_id":"BL","timestamp":"2016-10-04T20:23:06Z"},{"id":"ETHZ.BORIS","title":"Bern
        Open Repository and Information System (BORIS)","prefixes":[],"registration_agency_id":"datacite","member_id":"ETHZ","timestamp":"2016-10-04T20:23:08Z"},{"id":"TIB.GFZBIB","title":"Bibliothek
        des Wissenschaftsparks Albert Einstein","prefixes":[[...]
- request:
    method: get
    uri: https://profiles.datacite.org/api/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"5d6e5e75fe587a4148f6bedb0fd84566"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"ands","type":"members","attributes":{"title":"Australian
        National Data Service","description":"\u003cp\u003eThe Australian National
        Data Service (ANDS) makes Australia\u0026#39;s research data assets more valuable
        for researchers, research institutions and the nation.\u003c/p\u003e\n\n\u003cp\u003eWe
        do this through working in trusted partnerships on research data projects,
        delivering reliable national services and enhancing the capability of Australia\u0026#39;s
        research data system[...]
- request:
    method: get
    uri: https://eventdata.datacite.org/api/registration_agencies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"307dfe0132d87009c4ac66b3e82fe5d6"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"registration-agency-list","message-version":"v7","total":6},"registration_agencies":[{"id":"crossref","title":"Crossref","timestamp":"2016-04-27T02:23:01Z"},{"id":"datacite","title":"DataCite","timestamp":"2016-04-27T02:23:01Z"},{"id":"github","title":"GitHub","timestamp":"2016-04-27T02:23:01Z"},{"id":"orcid","title":"ORCID","timestamp":"2016-04-27T02:23:01Z"},{"id":"twitter","title":"Twitter","timestamp":"2016-04-27T02:23:01Z"},{"id":"wikipedia","title":"Wikipedia","timestamp":"2016-04-27T02:23:01Z"}]}'
  recorded_at: Tue, 04 Oct 2016 20:26:06 GMT
recorded_with: VCR 2.9.3
