---
http_interactions:
- request:
    method: get
    uri: http://eventdata.labs.datacite.org/api/contributions?page=1&per_page=25&publisher_id=tib.pangaea
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"0453ceacc012e1b7efbd868409876e11"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"contribution-list","message-version":"v7","total":67307,"total_pages":2693,"page":1,"sources":[{"id":"datacite_orcid","title":"DataCite
        (ORCID)","count":65562},{"id":"datacite_related","title":"DataCite (RelatedIdentifier)","count":1622},{"id":"datacite_search_link","title":"DataCite
        (ORCID Search and Link)","count":123}],"publishers":[{"id":"tib.pangaea","title":"PANGAEA
        - Publishing Network for Geoscientific and Environmental Data","count":67307}]},"contributions":[{"subj_id":"http://orcid.org/0000-0003-1055-7235","credit_name":"Paul
        Vallelonga","obj_id":"http://doi.org/10.1594/PANGAEA.833942","author":[],"title":"Halogen
        deposition in polar snow and ice, supplement to: Spolaor, Andrea; Vallelonga,
        Paul; Gabrieli, J; Martma, Tõnu; Björkman, MP; Isaksson, Elisabeth; Cozzi,
        Giulio; Turetta, C; Kjær, Helle A; Curran, MAJ; Moy, AD; Schönhardt, Anja;
        Blechschmidt, A-M; Burrows, John P; Plane, JMC; Barbante, Carlo (2014): Seasonality
        of halogen deposition in polar snow and ice. Atmospheric Chemistry and Physics,
        14(6), 9613-9622","published":"2014","issued":"2014-08-07T03:02:25Z","DOI":"10.1594/PANGAEA.833942","publisher_id":"TIB.PANGAEA","results":[],"source_id":"datacite_orcid","contributor_role_id":"contribution","timestamp":"2016-10-22T13:45:38Z"},{"subj_id":"http://orcid.org/0000-0001-8796-4176","credit_name":"Giulio
        Cozzi","obj_id":"http://doi.org/10.1594/PANGAEA.833941","author":[{"given":"Andrea","family":"Spolaor","ORCID":"http://orcid.org/0000-0001-8635-9193"},{"given":"Paul","family":"Vallelonga","ORCID":"http://orcid.org/0000-0003-1055-7235"},{"given":"J","family":"Gabrieli"},{"given":"Tõnu","family":"Martma"},{"given":"MP","family":"Björkman"},{"given":"Elisabeth","family":"Isaksson"},{"given":"Giulio","family":"Cozzi","ORCID":"http://orcid.org/0000-0001-8796-4176"},{"given":"C","family":"Turetta"},{"given":"Helle
        A","family":"Kjær"},{"literal":"Curran, MAJ"},{"given":"AD","family":"Moy"},{"given":"Anja","family":"Schönhardt"},{"given":"A-M","family":"Blechschmidt"},{"given":"John
        P","family":"Burrows"},{"given":"JMC","family":"Plane"},{"given":"Carlo","family":"Barbante"}],"title":"(Supplement
        3) Halogen deposition at NEEM, Greenland","published":"2014","issued":"2014-08-07T03:02:13Z","container-title":"PANGAEA
        - Data Publisher for Earth & Environmental Science","DOI":"10.1594/PANGAEA.833941","publisher_id":"TIB.PANGAEA","work_type_id":"dataset","results":[],"source_id":"datacite_orcid","contributor_role_id":"contribution","timestamp":"2016-10-22T13:45:38Z"},{"subj_id":"http://orcid.org/0000-0003-1055-7235","credit_name":"Paul
        Vallelonga","obj_id":"http://doi.org/10.1594/PANGAEA.833939","author":[{"given":"Andrea","family":"Spolaor","ORCID":"http://orcid.org/0000-0001-8635-9193"},{"given":"Paul","family":"Vallelonga","ORCID":"http://orcid.org/0000-0003-1055-7235"},{"given":"J","family":"Gabrieli"},{"given":"Tõnu","fami[...]
- request:
    method: get
    uri: http://eventdata.labs.datacite.org/api/publishers?ids=tib.pangaea&page=1&per_page=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"dcb922ef2b4dae35cd2bb496a17d8001"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"publisher-list","message-version":"v7","total":1,"total_pages":1,"page":1,"registration_agencies":[{"id":"datacite","title":"DataCite","count":1}],"members":[{"id":"tib","title":"TIB","count":1}]},"publishers":[{"id":"TIB.PANGAEA","title":"PANGAEA
        - Publishing Network for Geoscientific and Environmental Data","prefixes":[],"registration_agency_id":"datacite","member_id":"TIB","timestamp":"2016-10-29T05:07:18Z"}]}'
  recorded_at: Sat, 29 Oct 2016 05:40:48 GMT
recorded_with: VCR 2.9.3
