---
http_interactions:
- request:
    method: get
    uri: http://eventdata.labs.datacite.org/api/contributions?page=1&per_page=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f5b69b0436e4d8ee859bdf547f0f52bb"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"contribution-list","message-version":"v7","total":1080351,"total_pages":21608,"page":1,"sources":[{"id":"datacite_orcid","title":"DataCite
        (ORCID)","count":1071679},{"id":"datacite_related","title":"DataCite (RelatedIdentifier)","count":4516},{"id":"datacite_search_link","title":"DataCite
        (ORCID Search and Link)","count":3646},{"id":"github_contributor","title":"Github
        (Contributor)","count":510}],"publishers":[{"id":"bl.imperial","title":"Imperial
        College London","count":949250},{"id":"tib.pangaea","title":"PANGAEA - Publishing
        Network for Geoscientific and Environmental Data","count":67307},{"id":"cdl.digsci","title":"Digital
        Science","count":50027},{"id":"tib.r-gate","title":"ResearchGate","count":1710},{"id":"cern.zenodo","title":"ZENODO
        - Research. Shared.","count":364},{"id":"tib.wdcc","title":"World Data Center
        for Climate","count":164},{"id":"cdl.ucdirl","title":"University College Dublin","count":122},{"id":"cdl.dryad","title":"Dryad","count":113},{"id":"bl.ccdc","title":"The
        Cambridge Crystallographic Data Centre","count":96},{"id":"cdl.peerj","title":"PeerJ","count":91},{"id":"delft.datacent","title":"3TU
        Datacentrum","count":87},{"id":"crui.ingv","title":"Istituto Nazionale di
        Geofisica e Vulcanologia","count":50},{"id":"gesis.ubhd","title":"UBHD","count":43},{"id":"tib.tuhh","title":"Technische
        Universität Hamburg-Harburg","count":42},{"id":"zbmed.gms","title":"German
        Medical Science","count":41}]},"contributions":[{"subj_id":"http://orcid.org/0000-0001-7629-2140","credit_name":"Wenfa
        Ng","obj_id":"http://doi.org/10.6084/M9.FIGSHARE.3808212","author":[{"family":"Ng","given":"Wenfa","ORCID":"http://orcid.org/0000-0001-7629-2140"}],"title":"Dataset
        of photos showing tree branches of a tree devoid of leaves","published":"2016","issued":"2016-09-07T11:53:47Z","container-title":"Figshare","DOI":"10.6084/M9.FIGSHARE.3808212","publisher_id":"CDL.DIGSCI","work_type_id":"dataset","results":{},"source_id":"datacite_orcid","contributor_role_id":"contribution","timestamp":"2016-09-25T06:22:30Z"},{"subj_id":"http://orcid.org/0000-0003-0006-8729","credit_name":"Guillaume
        Rousselet","obj_id":"http://doi.org/10.6084/M9.FIGSHARE.3806487.V3","author":[{"family":"Rousselet","given":"Guillaume","ORCID":"http://orcid.org/0000-0003-0006-8729"}],"title":"A
        few simple steps to improve the description of group results in neuroscience","published":"2016","issued":"2016-09-05T11:23:07Z","container-title":"Figshare","DOI":"10.6084/M9.FIGSHARE.3806487.V3","publish[...]
- request:
    method: get
    uri: http://eventdata.labs.datacite.org/api/publishers?ids=bl.imperial,tib.pangaea,cdl.digsci,tib.r-gate,cern.zenodo,tib.wdcc,cdl.ucdirl,cdl.dryad,bl.ccdc,cdl.peerj,delft.datacent,crui.ingv,gesis.ubhd,tib.tuhh,zbmed.gms&page=1&per_page=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"5e2dbbeccbd909b4d22d4cf2de85a5aa"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"publisher-list","message-version":"v7","total":15,"total_pages":1,"page":1,"registration_agencies":[{"id":"datacite","title":"DataCite","count":15}],"members":[{"id":"delft","title":"DELFT","count":1},{"id":"cdl","title":"CDL","count":4},{"id":"zbmed","title":"ZBMED","count":1},{"id":"crui","title":"CRUI","count":1},{"id":"tib","title":"TIB","count":4},{"id":"bl","title":"BL","count":2},{"id":"gesis","title":"GESIS","count":1},{"id":"cern","title":"CERN","count":1}]},"publishers":[{"id":"DELFT.DATACENT","title":"3TU
        Datacentrum","prefixes":[],"registration_agency_id":"datacite","member_id":"DELFT","timestamp":"2016-10-21T17:13:13Z"},{"id":"CDL.DIGSCI","title":"Digital
        Science","prefixes":[],"registration_agency_id":"datacite","member_id":"CDL","timestamp":"2016-10-21T17:09:15Z"},{"id":"CDL.DRYAD","title":"Dryad","prefixes":[],"registration_agency_id":"datacite","member_id":"CDL","timestamp":"2016-10-21T17:07:36Z"},{"id":"ZBMED.GMS","title":"German
        Medical Science","prefixes":[],"registration_agency_id":"datacite","member_id":"ZBMED","timestamp":"2016-10-21T17:19:49[...]
