---
http_interactions:
- request:
    method: get
    uri: http://eventdata.labs.datacite.org/api/contributions?page=1&per_page=25&source_id=datacite_search_link
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"0118c14b0f5466c56d0b2a4e0169e91f"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"contribution-list","message-version":"v7","total":3646,"total_pages":146,"page":1,"sources":[{"id":"datacite_search_link","title":"DataCite
        (ORCID Search and Link)","count":3646}],"publishers":[{"id":"tib.r-gate","title":"ResearchGate","count":1710},{"id":"cern.zenodo","title":"ZENODO
        - Research. Shared.","count":364},{"id":"figshare.ars","title":"figshare Academic
        Research System","count":271},{"id":"tib.pangaea","title":"PANGAEA - Publishing
        Network for Geoscientific and Environmental Data","count":123},{"id":"cdl.dryad","title":"Dryad","count":113},{"id":"bl.ccdc","title":"The
        Cambridge Crystallographic Data Centre","count":96},{"id":"cdl.peerj","title":"PeerJ","count":55},{"id":"gesis.ubhd","title":"UBHD","count":43},{"id":"tib.tuhh","title":"Technische
        Universität Hamburg-Harburg","count":42},{"id":"zbmed.gms","title":"German
        Medical Science","count":41},{"id":"crui.infncnaf","title":"Istituto Nazionale
        di Fisica Nucleare. Centro Nazionale Analisi Fotogrammi","count":35},{"id":"ethz.boris","title":"Bern
        Open Repository and Information System (BORIS)","count":29},{"id":"datacite.datacite","title":"DataCite","count":27},{"id":"dk.gbif","title":"Global
        Biodiversity Information Facility","count":20},{"id":"mtakik.elteppk","title":"ELTE
        Pedagógiai és Pszichológiai Kar","count":20}]},"contributions":[{"subj_id":"http://orcid.org/0000-0002-7825-7098","credit_name":"Giovanni
        Ferri","obj_id":"http://doi.org/10.13140/RG.2.1.1482.2163","author":[{"family":"Ferri","given":"Giovanni"}],"title":"Why
        Cooperative Banks Are Particularly Important at a Time of Credit Crunch","published":"2010","issued":"2016-03-03T21:45:07Z","container-title":"European
        Association of Cooperative Banks","DOI":"10.13140/RG.2.1.1482.2163","publisher_id":"TIB.R-GATE","results":[],"source_id":"datacite_search_link","contributor_role_id":"contribution","timestamp":"2016-10-22T12:26:39Z"},{"subj_id":"http://orcid.org/0000-0002-7825-7098","credit_name":"Giovanni
        Ferri","obj_id":"http://doi.org/10.13140/RG.2.1.1503.6642","author":[{"family":"Ferri","given":"Giovanni"},{"family":"Kalmi","given":"Panu"}],"title":"Only
        Up: Regulatory Burden and Its Effects on Credit Unions","published":"2014","issued":"2015-09-07T18:38:19Z","container-title":"Filene
        Research Institute","DOI":"10.13140/RG.2.1.1503.6642","publisher_id":"TIB.R-GATE","results":[],"source_id":"datacite_search_link","contributor_role_id":"contribution","timestamp":"2016-10-22T12:26:39Z"},{"subj_id":"http://orcid.org/0000-0002-7825-7098","credit_name":"Giovanni
        Ferri","obj_id":"http://doi.org/10.13140/RG.2.1.2195.4321","author":[{"family":"Ferri","given":"Giovanni"},{"family":"Barca","given":"Fabrizio"}],"title":"Crescita,
        finanziamento e riallocazione del controllo: Teoria e prime evidenze empiriche
        per l''Italia","published":"1993","issued":"2016-03-01T00:00:24Z","container-title":"Unpublished","DOI":"10.13140/RG.2.1.2195.4321","publisher_id":"TIB.R-GATE","results":[],"source_id":"datacite_search_link","contributor_role_id":"contribution","timestamp":"2016-10-22T12:26:39Z"},{"subj_id":"http://orcid.org/0000-0002-8317-6014","credit_name":"Mazlee
        Mohd Noor","obj_id":"http://doi.org/10.13140/2.1.4239.8083","author":[{"family":"Noor","given":"Mazlee
        Mohd"},{"family":"Jamaludin","given":"Shamsul Baharin"}],"title":"THE EFFECTS
        OF SOLUTIONIZING TEMPERATURES ON MICROSTRUCTURES OF AS-RECEIVED A357 ALLOY","published":"2009","issued":"2014-09-14T09:06:16Z","container-title":"Unpublished","DOI":"10.13140/2.1.4239.8083","publisher_id":"TIB.R-GATE","work_type_id":"report","results":[],"source_id":"datacite_search_link","contributor_role_id":"contribution","timestamp":"2016-10-22T12:26:39Z"},{"subj_id":"http://orcid.org/0000-0002-8317-6014","credit_name":"Mazlee
        Mohd Noor","obj_id":"http://doi.org/10.13140/2.1.4540.8646","author":[{"family":"Rizam","given":"S
        S"},{"family":"Azmi","given":"K"},{"family":"Nazree","given":"D M"},{"family":"Shamsul","given":"J
        B"},{"family":"Azrem","given":"A A"},{"family":"Firdaus","given":"A M H"},{"[...]
- request:
    method: get
    uri: http://eventdata.labs.datacite.org/api/publishers?ids=tib.r-gate,cern.zenodo,figshare.ars,tib.pangaea,cdl.dryad,bl.ccdc,cdl.peerj,gesis.ubhd,tib.tuhh,zbmed.gms,crui.infncnaf,ethz.boris,datacite.datacite,dk.gbif,mtakik.elteppk&page=1&per_page=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"992c1209dcbc34495fa7ba0d0e92b122"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"publisher-list","message-version":"v7","total":15,"total_pages":1,"page":1,"registration_agencies":[{"id":"datacite","title":"DataCite","count":15}],"members":[{"id":"ethz","title":"ETHZ","count":1},{"id":"datacite","title":"DATACITE","count":1},{"id":"cdl","title":"CDL","count":2},{"id":"mtakik","title":"MTAKIK","count":1},{"id":"figshare","title":"FIGSHARE","count":1},{"id":"zbmed","title":"ZBMED","count":1},{"id":"dk","title":"DK","count":1},{"id":"crui","title":"CRUI","count":1},{"id":"tib","title":"TIB","count":3},{"id":"bl","title":"BL","count":1},{"id":"gesis","title":"GESIS","count":1},{"id":"cern","title":"CERN","count":1}]},"publishers":[{"id":"ETHZ.BORIS","title":"Bern
        Open Repository and Information System (BORIS)","prefixes":[],"registration_agency_id":"datacite","member_id":"ETHZ","timestamp":"2016-10-29T05:05:36Z"},{"id":"DATACITE.DATACITE","title":"DataCite","prefixes":["10.1673"],"registration_agency_id":"datacite","member_id":"DATACITE","timestamp":"2016-10-29T05:12:33Z"},{"id":"CDL.DRYAD","title":"Dryad","prefixes":[],"registration_agency_id":"datacite","member_id":"CDL","timestamp":"2016-10-29T05:13:02Z"},{"id":"MTAKIK.ELTEPPK","title":"ELTE
        Pedagógiai és Pszichológiai Kar","prefixes":[],"registration_agency_id":"datacite","member_id":"MTAKIK","timest[...]
