---
http_interactions:
- request:
    method: get
    uri: http://eventdata.labs.datacite.org/api/contributions?page=1&per_page=25&publisher_id=tib.pangaea
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ef07aa71ce8b92b31a2e9c3e9a39d359"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"contribution-list","message-version":"v7","total":67307,"total_pages":2693,"page":1,"sources":[{"id":"datacite_orcid","title":"DataCite
        (ORCID)","count":65562},{"id":"datacite_related","title":"DataCite (RelatedIdentifier)","count":1622},{"id":"datacite_search_link","title":"DataCite
        (ORCID Search and Link)","count":123}],"publishers":[{"id":"tib.pangaea","title":"PANGAEA
        - Publishing Network for Geoscientific and Environmental Data","count":67307}]},"contributions":[{"subj_id":"http://orcid.org/0000-0002-4480-740X","credit_name":"Karin
        R Bryan","obj_id":"http://doi.org/10.1594/PANGAEA.821669","author":[{"family":"Bartzke","given":"Gerhard"},{"family":"Bryan","given":"Karin
        R","ORCID":"http://orcid.org/0000-0002-4480-740X"},{"family":"Pilditch","given":"Conrad
        A"},{"family":"Huhn","given":"Katrin"}],"title":"Mixing experiment with 600
        g/m**3 silt concentration","published":"2013","issued":"2014-01-14T03:10:33Z","container-title":"PANGAEA
        - Data Publisher for Earth & Environmental Science","DOI":"10.1594/PANGAEA.821669","publisher_id":"TIB.PANGAEA","work_type_id":"dataset","results":{},"source_id":"datacite_orcid","contributor_role_id":"contribution","timestamp":"2016-09-18T06:22:29Z"},{"subj_id":"http://orcid.org/0000-0002-4480-740X","credit_name":"Karin
        R Bryan","obj_id":"http://doi.org/10.1594/PANGAEA.807895","author":[{"family":"Badesab","given":"Firoz
        Kadar"},{"family":"Dobeneck","given":"Tilo"},{"family":"Bryan","given":"Karin
        R","ORCID":"http://orcid.org/0000-0002-4480-740X"},{"family":"Müller","given":"Hendrik"},{"family":"Briggs","given":"Roger
        M"},{"family":"Frederichs","given":"Thomas"},{"family":"Kwoll","given[...]
- request:
    method: get
    uri: http://eventdata.labs.datacite.org/api/publishers?ids=tib.pangaea&page=1&per_page=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"813797be5b46ee501b3b990d5f091ad8"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"publisher-list","message-version":"v7","total":1,"total_pages":1,"page":1,"registration_agencies":[{"id":"datacite","title":"DataCite","count":1}],"members":[{"id":"tib","title":"TIB","count":1}]},"publishers":[{"id":"TIB.PANGAEA","title":"PANGAEA
        - Publishing Network for Geoscientific and Environmental Data","prefixes":[],"registration_agency_id":"datacite","member_id":"TIB","timestamp":"2016-10-21T17:08:38Z"}]}'
  recorded_at: Fri, 21 Oct 2016 17:29:13 GMT
recorded_with: VCR 2.9.3
