---
http_interactions:
- request:
    method: get
    uri: https://eventdata.datacite.org/api/contributions?page=1&per_page=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"5a407eec468a637eda0bd98181635245"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"contribution-list","message-version":"v7","total":1080350,"total_pages":43214,"page":1,"sources":{"datacite_related":4516,"datacite_orcid":1071678,"github_contributor":510,"datacite_search_link":3646},"publishers":{"ANDS.CENTRE-1":1,"ANDS.CENTRE-3":44,"ANDS.CENTRE39":7,"ANDS.CENTRE47":8,"ANDS.CENTRE49":3,"ANDS.CENTRE53":3,"ANDS.CENTRE66":5,"ANDS.CENTRE75":17,"BL.ADS":14,"BL.ASTON":76,"BL.BATH":15,"BL.BGI":3,"BL.BRUNEL":1,"BL.CCDC":2,"BL.DUNDEE":4,"BL.DURHAM":8,"BL.ED":4,"BL.HALLAM":5,"BL.HWU":8,"BL.IMPERIAL":949239,"BL.LBORO":1,"BL.LEEDS":133,"BL.NERC":185,"BL.QUB":2,"BL.SHEF":4,"BL.SOTON":77,"BL.STANDREW":2,"BL.STRATH":141,"BL.YORK":44,"CDL.AUL":1,"CDL.BOISESTA":2,"CDL.CDL":2,"CDL.DATABRAR":18,"CDL.DIGSCI":49840,"CDL.DRYAD":31,"CDL.IPLANT":2,"CDL.LCRNZ":9,"CDL.LTERNET":3,"CDL.NCAR":1,"CDL.NIST":4,"CDL.OCONTEXT":4,"CDL.OSU":4,"CDL.PEERJ":863,"CDL.PGERR":17,"CDL.TACC":2,"CDL.UCB":28,"CDL.UCDIRL":747,"CDL.UCLA":1,"CDL.UCSD":1,"CDL.UKY":17,"CDL.UOA":9,"CDL.UTAUSTIN":1,"CDL.UWYO":3,"CERN.INSPIRE":2,"CERN.JACOW":8,"CERN.ZENODO":288,"CISTI.NRC":170,"CRUI.GEM":18,"CRUI.INGV":85,"CRUI.OGSTS":6,"CRUI.POLITO":1,"CRUI.UNIFE":1,"CRUI.UNIFI":1,"DELFT.DATACENT":272,"DK.DTIC":1,"DK.GBIF":6,"DK.GBIF-CO":1,"DK.GBIF-ES":1,"ETHZ.BORIS":2,"ETHZ.E-COLL":1,"ETHZ.FSW":1,"ETHZ.PHSG":8,"ETHZ.SEALS":2,"ETHZ.ZORA":1,"GESIS.BSB":4,"GESIS.CSES":3,"GESIS.MDA":1,"GESIS.UBHD":33,"INIST.IFREMER":73,"INIST.ILL":97,"INIST.INRA":1,"JALC.JALC":3,"PURDUE.EZID":99,"PURDUE.IUPUI":2,"PURDUE.NCIPH":2,"PURDUE.UIUCLIB":15,"SND.BILS":1,"SND.SND":15,"SND.SU":18,"TIB.ADLNET":1,"TIB.ETA":13,"TIB.GFZ":35,"TIB.GFZBIB":1,"TIB.HBRS":5,"TIB.HSD":83,"TIB.MPDL":5,"TIB.PANGAEA":67085,"TIB.PTB":14,"TIB.R-GATE":85,"TIB.RADS":1025,"TIB.TUDO":2,"TIB.UBMR":2,"TIB.UKON":1,"TIB.UNIBI":2,"TIB.WDCC":791,"TIB.WIP":4,"TIB.ZALF":1,"ZBMED.ZFPG":1,"TIB.TROPOS":1,"BL.CRAN":12,"TIB.HANDBUCH":73,"ANDS.CENTRE78":1,"BIBSYS.UIT-ORD":2,"BL.CAM":32,"CDL.SIMTK":6,"DELFT.DATA4TU":4168,"ZBMED.BFS":7}},"contributions":[{"subj_id":"http://orcid.org/0000-0002-0998-6676","credit_name":"Shyeni
        Paul","obj_id":"http://doi.org/10.14469/HPC/1477","author":[{"family":"Paul","given":"Shyeni","ORCID":"http://orcid.org/0000-0002-0998-6676"}],"title":"Shyeni_Paul_Thesis_C2","published":"2016","issued":"2016-09-05T13:53:16Z","container-title":"Imperial
        College London","DOI":"10.14469/HPC/1477","work_type_id":"dataset","results":{},"source_id":"datacite_orcid","publisher_id":"BL.IMPERIAL","contributor_role_id":"contribution","timestamp":"2016-09-22T15:50:08Z"},{"subj_id":"http://orcid.org/0000-0003-0006-8729","credit_name":"Guillaume
        Rousselet","obj_id":"http://doi.org/10.6084/M9.FIGSHARE.3806487.V3","author":[{"family":"Rousselet","given":"Guillaume","ORCID":"http://orcid.org/0000-0003-0006-8729"}],"title":"A
        few simple steps to improve the description of group results in neuroscience","published":"2016","issued":"2016-09-05T11:23:07Z","container-title":"Figshare","DOI":"10.6084/M9.FIGSHARE.3806487.V3","results[...]
- request:
    method: get
    uri: https://eventdata.datacite.org/api/publishers?ids=ANDS.CENTRE-1,ANDS.CENTRE-3,ANDS.CENTRE39,ANDS.CENTRE47,ANDS.CENTRE49,ANDS.CENTRE53,ANDS.CENTRE66,ANDS.CENTRE75,BL.ADS,BL.ASTON,BL.BATH,BL.BGI,BL.BRUNEL,BL.CCDC,BL.DUNDEE,BL.DURHAM,BL.ED,BL.HALLAM,BL.HWU,BL.IMPERIAL,BL.LBORO,BL.LEEDS,BL.NERC,BL.QUB,BL.SHEF,BL.SOTON,BL.STANDREW,BL.STRATH,BL.YORK,CDL.AUL,CDL.BOISESTA,CDL.CDL,CDL.DATABRAR,CDL.DIGSCI,CDL.DRYAD,CDL.IPLANT,CDL.LCRNZ,CDL.LTERNET,CDL.NCAR,CDL.NIST,CDL.[...]
- request:
    method: get
    uri: https://profiles.datacite.org/api/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"50164e1d776b0e16ad3a8a1187a643b6"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"ands","type":"members","attributes":{"title":"Australian
        National Data Service","description":"\u003cp\u003eThe Australian National
        Data Service (ANDS) makes Australia\u0026#39;s research data assets more valuable
        for researchers, research institutions and the nation.\u003c/p\u003e\n\n\u003cp\u003eWe
        do this through working in trusted partnerships on research data projects,
        delivering reliable national services and enhancing the capability of Australia\u0026#39;s
        research data system.\u003c/p\u003e\n\n\u003cp\u003eA key ANDS service is
        the [...]
- request:
    method: get
    uri: https://eventdata.datacite.org/api/sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"2466321f2d847b4212c64025fb467172"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"source-list","message-version":"v7","total":15,"groups":{"relations":6,"contributions":4,"publishers":2,"results":3}},"sources":[{"id":"crossref_datacite","title":"Crossref
        (DataCite)","group_id":"relations","description":"Import works linked to a
        DataCite DOI from Crossref.","state":"active","timestamp":"2016-09-23T06:50:34Z","work_count":0,"relation_count":0,"result_count":0,"by_day":{"with_results":0,"without_results":0,"not_updated":0},"by_month":{"with_results":0,"without_results":0,"not_updated":0}},{"id":"datacite_crossref","title":"DataCite
        (Crossref)","group_id":"relations","description":"Import works with Crossref
        DOIs as relatedIdentifier via the DataCite Solr API.","state":"active","timestamp":"2016-09-23T07:07:18Z","work_count":19893,"relation_count":225467,"result_count":74369,"by_day":{"with_results":0,"without_results":0,"not_updated":225412},"by_month":{"with_results":27,"without_results":59,"not_updated":225[...]
- request:
    method: get
    uri: https://eventdata.datacite.org/api/groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"bdb91c439c4c90224189c7eb36197501"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"group-list","message-version":"v7","total":13},"groups[...]
