---
http_interactions:
- request:
    method: get
    uri: http://eventdata.labs.datacite.org/api/contributions?page=1&per_page=25&source_id=datacite_search_link
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"321f354faf0183d5aaf2c815b1ec0ac2"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"contribution-list","message-version":"v7","total":3646,"total_pages":146,"page":1,"sources":[{"id":"datacite_search_link","title":"DataCite
        (ORCID Search and Link)","count":3646}],"publishers":[{"id":"tib.r-gate","title":"ResearchGate","count":1710},{"id":"cern.zenodo","title":"ZENODO
        - Research. Shared.","count":364},{"id":"cdl.digsci","title":"Digital Science","count":271},{"id":"tib.pangaea","title":"PANGAEA
        - Publishing Network for Geoscientific and Environmental Data","count":123},{"id":"cdl.dryad","title":"Dryad","count":113},{"id":"bl.ccdc","title":"The
        Cambridge Crystallographic Data Centre","count":96},{"id":"cdl.peerj","title":"PeerJ","count":55},{"id":"gesis.ubhd","title":"UBHD","count":43},{"id":"tib.tuhh","title":"Technische
        Universität Hamburg-Harburg","count":42},{"id":"zbmed.gms","title":"German
        Medical Science","count":41},{"id":"crui.infncnaf","title":"Istituto Nazionale
        di Fisica Nucleare. Centro Nazionale Analisi Fotogrammi","count":35},{"id":"ethz.boris","title":"Bern
        Open Repository and Information System (BORIS)","count":29},{"id":"datacite.datacite","title":"DataCite","count":27},{"id":"dk.gbif","title":"Global
        Biodiversity Information Facility","count":20},{"id":"mtakik.elteppk","title":"ELTE
        Pedagógiai és Pszichológiai Kar","count":20}]},"contributions":[{"subj_id":"http://orcid.org/0000-0003-1419-2405","credit_name":"Martin
        Fenner","obj_id":"http://doi.org/10.6084/M9.FIGSHARE.90829.V1","author":[],"title":"CrowdoMeter
        Tweet Classifications","published":"2012","issued":"2016-01-11T11:03:28Z","DOI":"10.6084/M9.FIGSHARE.90829.V1","publisher_id":"CDL.DIGSCI","work_type_id":"dataset","results":{},"source_id":"datacite_search_link","contributor_role_id":"contribution","timestamp":"2016-09-06T11:00:26Z"},{"subj_id":"http://orcid.org/0000-0003-1419-2405","credit_name":"Martin
        Fenner","obj_id":"http://doi.org/10.6084/M9.FIGSHARE.154691","author":[],"title":"D2.1
        Kick off preparation, Communication plan and Website","published":"2013","issued":"2013-01-29T15:26:49Z","DOI":"10.6084/M9.FIGSHARE.154691","publisher_id":"CDL.DIGSCI","work_type_id":"report","results":{},"source_id":"datacite_search_link","contributor_role_id":"contribution","timestamp":"2016-09-06T[...]
- request:
    method: get
    uri: http://eventdata.labs.datacite.org/api/publishers?ids=tib.r-gate,cern.zenodo,cdl.digsci,tib.pangaea,cdl.dryad,bl.ccdc,cdl.peerj,gesis.ubhd,tib.tuhh,zbmed.gms,crui.infncnaf,ethz.boris,datacite.datacite,dk.gbif,mtakik.elteppk&page=1&per_page=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"81743edcb37ada91f69a403781bdbe8d"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"publisher-list","message-version":"v7","total":15,"total_pages":1,"page":1,"registration_agencies":[{"id":"datacite","title":"DataCite","count":15}],"members":[{"id":"ethz","title":"ETHZ","count":1},{"id":"datacite","title":"DATACITE","count":1},{"id":"cdl","title":"CDL","count":3},{"id":"mtakik","title":"MTAKIK","count":1},{"id":"zbmed","title":"ZBMED","count":1},{"id":"dk","title":"DK","count":1},{"id":"crui","title":"CRUI","count":1},{"id":"tib","title":"TIB","count":3},{"id":"bl","title":"BL","count":1},{"id":"gesis","title":"GESIS","count":1},{"id":"cern","title":"CERN","count":1}]},"publishers":[{"id":"ETHZ.BORIS","title":"Bern
        Open Repository and Information System (BORIS)","prefixes":[],"registration_agency_id":"datacite","member_id":"ETHZ","timestamp":"2016-10-21T17:07:06Z"},{"id":"DATACITE.DATACITE","title":"DataCite","prefixes":["10.1673"],"registration_agency_id":"datacite","member_id":"DATACITE","timestamp":"2016-10-21T17:18:02Z"},{"id":"CDL.DIGSCI","title":"Digital
        Science","prefixes":[],"registration_agency_id":"datacite","member_id":"CDL","timestamp":"2016-10-21T17:09:15Z"},{"id":"CDL.DRYAD","title":"Dryad","prefixes":[],"registration_agency_id":"datacite","member_id":"CDL","timestamp":"2016-10-21T17:07:36Z"}[...]
