---
http_interactions:
- request:
    method: get
    uri: https://profiles.test.datacite.org/api/users?page%5Bnumber%5D=1&page%5Bsize%5D=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4fd85d6ec38c48f17533a93cdbe71067"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"http://orcid.org/0000-0002-6909-1823","type":"users","attributes":{"given-names":"Ramesh","family-name":"A","credit-name":"Ramesh
        A","orcid":"0000-0002-6909-1823","github":null,"created":"2015-12-01T11:08:45Z","updated":"2015-12-01T11:08:45Z"}},{"id":"http://orcid.org/0000-0001-6116-594X","type":"users","attributes":{"given-names":"Senthil
        Kumar","family-name":"A","credit-name":"Senthil Kumar A","orcid":"0000-0001-6116-594X","github":null,"created":"2015-11-17T11:57:10Z","updated":"2015-11-17T11:57:10Z"}},{"id":"http://orcid.org/0000-0001-8778-9902","type":"users","attributes":{"given-names":"Ebinesh","family-name":"A","credit-name":"Ebinesh
        A.","orcid":"0000-0001-8778-9902","github":null,"creat[...]
