---
http_interactions:
- request:
    method: get
    uri: https://profiles.test.datacite.org/api/users?page%5Bnumber%5D=1&page%5Bsize%5D=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"89b994af0839a8fe1054d447a421e54a"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"http://orcid.org/0000-0002-6909-1823","type":"users","attributes":{"given-names":"Ramesh","family-name":"A","credit-name":"Ramesh
        A","orcid":"http://orcid.org/0000-0002-6909-1823","github":null,"updated":"2015-12-01T11:08:45.000Z"},"relationships":{"claims":{"data":[]}}},{"id":"http://orcid.org/0000-0001-6116-594X","type":"users","attributes":{"given-names":"Senthil
        Kumar","family-name":"A","credit-name":"Senthil Kumar A","orcid":"http://orcid.org/0000-0001-6116-594X","github":null,"updated":"2015-11-17T11:57:10.000Z"},"relationships":{"claims":{"data":[]}}},{"id":"http://orcid.org/0000-0001-8778-9902","type":"users","attributes":{"given-names":"Ebinesh","family-name":"A","credit-name":"Ebinesh
        A.","orcid":"http://orcid.org/0000-000[...]
