---
http_interactions:
- request:
    method: get
    uri: http://profiles.test.datacite.org/api/users?page%5Bnumber%5D=1&page%5Bsize%5D=25&query=0000-0001-6528-2027
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: ''
    headers:
      Content-Type:
      - text/html
      Location:
      - https://profiles.test.datacite.org/api/users?page%5Bnumber%5D=1&page%5Bsize%5D=25&query=0000-0001-6528-2027
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>openresty/1.11.2.2</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sun, 23 Jul 2017 10:34:43 GMT
- request:
    method: get
    uri: https://profiles.test.datacite.org/api/users?page%5Bnumber%5D=1&page%5Bsize%5D=25&query=0000-0001-6528-2027
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"62e281bd0747e3ca7779c42921c708cc"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"http://orcid.org/0000-0001-6528-2027","type":"users","attributes":{"given-names":"Martin","family-name":"Fenner","credit-name":"Martin
        Fenner","orcid":"0000-0001-6528-2027","github":"https://github.com/datacite-support","created":"2016-11-26T22:16:15Z","updated":"2017-07-01T20:55:18Z"}}],"links":{},"meta":{"total":1,"total-pages":1,"page":1,"organizations":[{"id":"staff","title":"Staff","count":1}],"roles":[{"id":"staff_admin","title":"Staff
        Admin","count":1}]}}'
  recorded_at: Sun, 23 Jul 2017 10:34:43 GMT
recorded_with: VCR 2.9.3
