---
http_interactions:
- request:
    method: get
    uri: https://profiles.test.datacite.org/api/users/0000-0001-6528-2027
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d05bf76e532e92ef6733010821af01eb"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":{"id":"http://orcid.org/0000-0001-6528-2027","type":"users","attributes":{"given-names":"Martin","family-name":"Fenner","credit-name":"Martin
        Fenner","orcid":"0000-0001-6528-2027","github":"https://github.com/datacite-support","created":"2016-11-26T22:16:15Z","updated":"2017-07-01T20:55:18Z"}}}'
  recorded_at: Mon, 10 Jul 2017 12:31:21 GMT
recorded_with: VCR 2.9.3
