---
http_interactions:
- request:
    method: get
    uri: https://profiles.test.datacite.org/api/users/0000-0001-6528-2027
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"997bafe7c1f5fa948efe5b8b07f160a1"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"http://orcid.org/0000-0001-6528-2027","type":"users","attributes":{"given-names":"Martin","family-name":"Fenner","credit-name":"Martin
        Fenner","orcid":"http://orcid.org/0000-0001-6528-2027","github":null,"updated":"2016-11-26T22:30:26.000Z"},"relationships":{"claims":{"data":[{"id":"e3a9e9d2-0ef7-4ba6-81fc-33055f5d79b5","type":"claims"},{"id":"bf971415-59cf-4b26-80ff-e8401ced6d5a","type":"claims"},{"id":"d5d4e6d4-4c5c-4749-ab89-c3ddacef0f34","type":"claims"},{"id":"ca1ab081-dc5c-4f9e-b20c-f6f01ffda22e","type":"claims"},{"id":"5fb98400-d5b4-4e61-895f-468b1add9964","type":"claims"},{"id":"1075af43-98aa-4d95-9a59-be3eacdfe43a","type":"claims"},{"id":"a01db9eb-2e92-45b3-93ce-cdccbd39495b","type":"claims"},{"id":"5b7dc357-608b-4515-9cc3-a16359b94feb","type":"clai[...]
