---
http_interactions:
- request:
    method: get
    uri: http://eventdata.labs.datacite.org/api/groups/relations
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"1b027c17ab34aef1a555628f55341322"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"group","message-version":"v7"},"group":{"id":"relations","title":"Relations","sources":["crossref_datacite","datacite_crossref","datacite_github","datacite_related","europe_pmc_fulltext","plos_fulltext"],"timestamp":"2016-03-28T15:25:06Z"}}'
  recorded_at: Fri, 21 Oct 2016 17:27:29 GMT
recorded_with: VCR 2.9.3
