---
http_interactions:
- request:
    method: get
    uri: https://eventdata.datacite.org/api/registration_agencies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"307dfe0132d87009c4ac66b3e82fe5d6"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"registration-agency-list","message-version":"v7","total":6},"registration_agencies":[{"id":"crossref","title":"Crossref","timestamp":"2016-04-27T02:23:01Z"},{"id":"datacite","title":"DataCite","timestamp":"2016-04-27T02:23:01Z"},{"id":"github","title":"GitHub","timestamp":"2016-04-27T02:23:01Z"},{"id":"orcid","title":"ORCID","timestamp":"2016-04-27T02:23:01Z"},{"id":"twitter","title":"Twitter","timestamp":"2016-04-27T02:23:01Z"},{"id":"wikipedia","title":"Wikipedia","timestamp":"2016-04-27T02:23:01Z"}]}'
  recorded_at: Sat, 02 Jul 2016 17:00:32 GMT
recorded_with: VCR 2.9.3
