---
http_interactions:
- request:
    method: get
    uri: https://eventdata.datacite.org/api/registration_agencies/crossref
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"b377f2275a7c1de0aa2f7303391338f5"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"registration-agency","message-version":"v7"},"registration_agency":{"id":"crossref","title":"Crossref","timestamp":"2016-04-27T02:23:01Z"}}'
  recorded_at: Wed, 21 Sep 2016 21:08:32 GMT
recorded_with: VCR 2.9.3
