---
http_interactions:
- request:
    method: get
    uri: http://eventdata.labs.datacite.org/api/relations?page=1&per_page=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"9c875ba62b510300a0c7671a813047a8"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"relation-list","message-version":"v7","total":7419297,"total_pages":148386,"page":1,"publishers":[{"id":"dk.gbif","title":"Global
        Biodiversity Information Facility","count":4995628},{"id":"bl.ccdc","title":"The
        Cambridge Crystallographic Data Centre","count":952306},{"id":"gesis.die","title":"Deutsches
        Institut für Erwachsenenbildung","count":643428},{"id":"tib.pangaea","title":"PANGAEA
        - Publishing Network for Geoscientific and Environmental Data","count":321630},{"id":"cdl.digsci","title":"Digital
        Science","count":162212},{"id":"cdl.pisco","title":"Partnership for Interdisciplinary
        Studies of Coastal Oceans (PISCO)","count":117724},{"id":"ands.centre72","title":"PARADISEC","count":83094},{"id":"cdl.lternet","title":"Long
        Term Ecological Research (LTER) Network","count":54596},{"id":"cdl.dryad","title":"Dryad","count":16030},{"id":"cdl.r2-r","title":"Rolling
        Deck to Repository Program","count":9230},{"id":"delft.data4-tu","title":"4TU.Centre
        for Research Data","count":6790},{"id":"cdl.ucdirl","title":"University College
        Dublin","count":6084},{"id":"cdl.nceas","title":"National Center for Ecological
        Analysis and Synthesis (NCEAS)","count":5702},{"id":"inist.ifremer","title":"Institut
        Français de Recherche pour l''Exploitation de la Mer","count":5250},{"id":"snd.snd","title":"Swedish
        National Data Service","count":4050}],"relation_types":[{"id":"is_referenced_by","title":"Is
        referenced by","count":2562761},{"id":"references","title":"References","count":2562699},{"id":"is_supplemented_by","title":"Is
        supplemented by","count":489167},{"id":"is_supplement_to","title":"Is supplement
        to","count":489161},{"id":"has_part","title":"Has part","count":281339},{"id":"is_part_of","title":"Is
        part of","count":279889},{"id":"continues","title":"Continues","count":157757},{"id":"is_continued_by","title":"Is
        continued by","count":157753},{"id":"is_identical_to","title":"Is identical
        to","count":149715},{"id":"is_new_version_of","title":"Is new version of","count":101297},{"id":"is_previous_version_of","title":"Is
        previous version of","count":101273},{"id":"is_source_of","title":"Is source
        of","count":35229},{"id":"is_derived_from","title":"Is derived from","count":34743},{"id":"is_original_form_of","title":"Is
        original form of","count":3546},{"id":"is_variant_form_of","title":"Is variant
        form of","count":2996}],"sources":[{"id":"datacite_related","title":"DataCite
        (RelatedIdentifier)","count":6296736},{"id":"datacite_crossref","title":"DataCite
        (Crossref)","count":1117918},{"id":"datacite_github","title":"DataCite (Github)","count":4207},{"id":"github","title":"Github","count":386},{"id":"europe_pmc_fulltext","title":"Europe
        PMC (Fulltext)","count":42},{"id":"datacite_orcid","title":"DataCite (ORCID)","count":6},{"id":"mendeley","title":"Mendeley","count":2}]},"relations":[{"subj_id":"http://doi.org/10.6084/M9.FIGSHARE.1279394.V222","obj_id":"http://doi.org/10.6084/M9.FIGSHARE.1279394","source_id":"datacite_related","publisher_id":"CDL.DIGSCI","relation_type_id":"is_previous_version_of","total":1,"author":[{"family":"Arend","given":"Peter","ORCID":"http://orcid.org/0000-0002-4000-4167"}],"title":"Early
        ovariectomy reveals the germline encoding of the “natural” mammalian anti-A-reactive
        IgM reflecting developmental malignancy.","published":"2016","issued":"2016-09-05T14:16:16Z","container-title":"Figshare","DOI":"10.6084/M9.FIGSHARE.1279394.V222","results":{},"timestamp":"2016-09-26T01:00:00Z"},{"subj_id":"http://doi.org/10.6084/M9.FIGSHARE.1279394","obj_id":"http://doi.org/10.6084/M9.FIGSHARE.1279394.V222","source_id":"datacite_related","publisher_id":"CDL.DIGSCI","relation_type_id":"is_new_version_of","total":1,"author":[],"title":"Early
        ovariectomy reveals the germline encoding of the “natural” mammalian anti-A-reactive
        IgM reflecting developmental malignancy.","published":"2016","issued":"2014-12-26T11:43:26Z","DOI":"10.6084/M9.FIGSHARE.1279394","work_type_id":"graphic","results":{},"implicit":true,"timestamp":"2016-09-26T01:00:00Z"},{"subj_id":"http://doi.org/10.6084/M9.FIGSHARE.2060766.V1","obj_id":"http://doi.org/10.6084/M9.FIGSHARE.2060766","source_id":"datacite_related","publisher_id":"CDL.DIGSCI","relation_type_id":"is_previous_version_of","total":1,"author":[{"family":"Rodea-Palomares","given":"Ismael","ORCID":"http://orcid.org/0000-0002-4630-7345"},{"family":"Gonzalez-Pleiter","given":"Miguel"},{"family":"Gonzalo","given":"Soledad"},{"family":"Rosal","given":"Roberto"},{"famil[...]
- request:
    method: get
    uri: http://eventdata.labs.datacite.org/api/publishers?ids=dk.gbif,bl.ccdc,gesis.die,tib.pangaea,cdl.digsci,cdl.pisco,ands.centre72,cdl.lternet,cdl.dryad,cdl.r2-r,delft.data4-tu,cdl.ucdirl,cdl.nceas,inist.ifremer,snd.snd&page=1&per_page=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"e8e8b283fb42d0bf2e0175aa52819b31"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"publisher-list","message-version":"v7","total":13,"total_pages":1,"page":1,"registration_agencies":[{"id":"datacite","title":"DataCite","count":13}],"members":[{"id":"gesis","title":"GESIS","count":1},{"id":"cdl","title":"CDL","count":6},{"id":"dk","title":"DK","count":1},{"id":"inist","title":"INIST","count":1},{"id":"tib","title":"TIB","count":1},{"id":"ands","title":"ANDS","count":1},{"id":"snd","title":"SND","count":1},{"id":"bl","title":"BL","count":1}]},"publishers":[{"id":"GESIS.DIE","title":"Deutsches
        Institut für Erwachsenenbildung","prefixes":[],"registration_agency_id":"datacite","member_id":"GESIS","timestamp":"2016-10-21T17:07:30Z"},{"id":"CDL.DIGSCI","title":"Digital
        Science","prefixes":[],"registration_agency_id":"datacite","member_id":"CDL","timestamp":"2016-10-21T17:09:15Z"},{"id":"CDL.DRYAD","title":"Dryad","prefixes":[],"registration_agency_id":"datacite","member_id":"CDL","timestamp":"2016-10-21T17:07:36Z"},{"id":"DK.GBIF","title":"Global
        Biodiversity Information Facility","prefixes":[],"registration_agency_id":"datacite","member_id":"DK","timestamp":"2016-1[...]
