---
http_interactions:
- request:
    method: get
    uri: https://eventdata.datacite.org/api/relations?page=1&per_page=25&source_id=datacite_crossref
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"9495d2707629dd0c9f8bf5ab06eea8fe"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"relation-list","message-version":"v7","total":1117918,"total_pages":44717,"page":1,"sources":{"datacite_crossref":1117918},"relation_types":{"cites":823,"is_cited_by":823,"is_supplement_to":486725,"is_supplemented_by":486726,"is_part_of":14,"has_part":14,"references":65166,"is_referenced_by":65171,"documents":1022,"is_documented_by":1021,"compiles":24,"reviews":1174,"is_reviewed_by":1174,"is_derived_from":884,"is_source_of":889,"is_new_version_of":2150,"is_previous_version_of":2152,"is_original_form_of":969,"is_variant_form_of":969,"is_identical_to":4,"is_compiled_by":24}},"relations":[{"subj_id":"http://doi.org/10.2110/JSR.2013.57","obj_id":"http://doi.org/10.1594/PANGAEA.821568","source_id":"datacite_crossref","publisher_id":"860","relation_type_id":"is_referenced_by","total":1,"author":[],"title":"On
        the Stabilizing Influence of Silt On Sand Beds","registration_agency_id":"crossref","published":"2013-07-30","issued":"2013-07-30T00:00:00Z","DOI":"10.2110/jsr.2013.57","work_type_id":"article-journal","results":{},"implicit":true,"timestamp":"2016-09-18T06:22:28Z"},{"subj_id":"http://doi.org/10.2110/JSR.2013.57","obj_id":"http://doi.org/10.1594/PANGAEA.821663","source_id":"datacite_crossref","publisher_id":"860","relation_type_id":"is_referenced_by","total":1,"author":[],"title":"On
        the Stabilizing Influence of Silt On Sand Beds","registration_agency_id":"crossref","published":"2013-07-30","issued":"2013-07-30T00:00:00Z","DOI":"10.2110/jsr.2013.57","work_type_id":"article-journal","results":{},"implicit":true,"timestamp":"2016-09-18T06:22:28Z"},{"subj_id":"http://doi.org/10.1594/PANGAEA.857257","obj_id":"http://doi.org/10.1016/J.QUASCIREV.2015.08.026","source_id":"datacite_crossref","publisher_id":"TIB.PANGAEA","relation_type_id":"references","total":1,"author":[{"family":"Häuselmann","given":"Anamaria
        Diana","ORCID":"http://orcid.org/0000-0003-2359-7340"},{"family":"Fleitmann","given":"Dominik"},{"family":"Cheng","given":"Hai"},{"family":"Tabersky","given":"Daniel"},{"family":"Günther","given":"Detlef"},{"family":"Edwards","given":"R
        Lawrence"}],"title":"Trace element concent of Stagamite MF-3 from Schafsloch
        Cave","published":"2015","issued":"2016-02-19T03:04:38Z","container-title":"PANGAEA
        - Data Publisher for Earth & Environmental Science","DOI":"10.1594/PANGAEA.857257","work_type_id":"dataset","results":{},"timestamp":"2016-09-18T06:22:27Z"},{"subj_id":"http://doi.org/10.1016/J.QUASCIREV.2015.08.026","obj_id":"http://doi.org/10.1594/PANGAEA.857257","source_id":"datacite_crossref","publisher_id":"78","relation_type_id":"is_referenced_by","total":1,"author":[],"title":"Timing
        and nature of the penultimate deglaciation in a high alpine stalagmite from
        Switzerland","registration_agency_id":"crossref","published":"2015-10","issued":"2015-10-01T00:00:00Z","DOI":"10.1016/j.quascirev.2015.08.026","URL":"http://www.sciencedirect.com/science/article/pii/S0277379115300925","work_type_id":"article-journal","results":{},"implicit":true,"timestamp":"2016-09-18T06:22:27Z"},{"subj_id":"http://doi.org/10.1594/PANGAEA.859581","obj_id":"http://doi.org/10.1007/S00300-016-1995-X","source_id":"datacite_crossref","publisher_id":"TIB.PANGAEA","relation_type_id":"references","total":1,"author":[{"family":"Nowak","given":"Christopher","ORCID":"http://orcid.org/0000-0002-5405-9126"},{"family":"Laudien","given":"[...]
- request:
    method: get
    uri: https://eventdata.datacite.org/api/sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f30871765f14db30e6470b920fd27b42"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"source-list","message-version":"v7","total":15,"groups":{"relations":6,"contributions":4,"publishers":2,"results":3}},"sources":[{"id":"crossref_datacite","title":"Crossref
        (DataCite)","group_id":"relations","description":"Import works linked to a
        DataCite DOI from Crossref.","state":"active","timestamp":"2016-10-04T21:56:33Z","work_count":0,"relation_count":0,"result_count":0,"by_day":{"with_results":0,"without_results":0,"not_updated":0},"by_month":{"with_results":0,"without_results":0,"not_updated":0}},{"id":"datacite_crossref","title":"DataCite
        (Crossref)","group_id":"relations","description":"Import works with Crossref
        DOIs as relatedIdentifier via the DataCite Solr API.","state":"active","timestamp":"2016-10-04T21:56:33Z","work_count":19893,"relation_count":225467,"result_count":74369,"by_day":{"with_results":0,"without_results":0,"not_updated":225412},"by_month":{"with_results":12,"without_results":32,"not_updated":225[...]
- request:
    method: get
    uri: https://eventdata.datacite.org/api/groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"bdb91c439c4c90224189c7eb36197501"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"group-list","message-version":"v7","total":13},"groups[...]
- request:
    method: get
    uri: https://eventdata.datacite.org/api/relation_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ddd1a36f9fddddf9e5cc51894c8d4a2a"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"relation_type-list","message-version":"v7","total":39},"relation_types":[{"id":"bookmarks","title":"Bookmarks","inverse_title":"Is
        bookmarked by","timestamp":"2016-03-21T15:05:04Z"},{"id":"cites","title":"Cites","inverse_title":"Is
        cited by","timestamp":"2016-03-21T15:05:03Z"},{"id":"compiles","title":"Compiles","inverse_title":"Is
        compiled by","timestamp":"2016-03-21T15:05:03Z"},{"id":"continues","title":"Continues","inverse_title":"Is
        continued by","timestamp":"2016-03-21T15:05:03Z"},{"id":"corrects","title":"Corrects","inverse_title":"Is
        corrected by","timestamp":"2016-03-21T15[...]
