---
http_interactions:
- request:
    method: get
    uri: http://eventdata.labs.datacite.org/api/relations?page=1&per_page=25&relation_type_id=references
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"8ee9b18294d7a63ed1d93d723ddcc7ed"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"relation-list","message-version":"v7","total":2562699,"total_pages":102508,"page":1,"publishers":[{"id":"dk.gbif","title":"Global
        Biodiversity Information Facility","count":2492016},{"id":"tib.pangaea","title":"PANGAEA
        - Publishing Network for Geoscientific and Environmental Data","count":68196},{"id":"cdl.dryad","title":"Dryad","count":999},{"id":"cdl.ucdirl","title":"University
        College Dublin","count":723},{"id":"cisti.nrc","title":"National Research
        Council","count":228},{"id":"bl.imperial","title":"Imperial College London","count":109},{"id":"delft.datacent","title":"3TU
        Datacentrum","count":84},{"id":"tib.ldeo","title":"LDEO - Lamont-Doherty Earth
        Observatory, Columbia University","count":80},{"id":"estdoi.qdb","title":"Qsardb
        repository","count":78},{"id":"tib.gfz","title":"Geoforschungszentrum Potsdam","count":58},{"id":"cdl.ucsd","title":"UCSD","count":38},{"id":"tib.wdcc","title":"World
        Data Center for Climate","count":18},{"id":"inist.resif","title":"Réseau sismologique
        et géodésique français","count":12},{"id":"osti.pegasus","title":"Pegasus
        Toroidal Experiment, University of Wisconsin-Madison","count":12},{"id":"cdl.pgerr","title":"UTA
        Petroleum Engineering","count":11}],"relation_types":[{"id":"references","title":"References","count":2562699}],"sources":[{"id":"datacite_related","title":"DataCite
        (RelatedIdentifier)","count":2497532},{"id":"datacite_crossref","title":"DataCite
        (Crossref)","count":65166},{"id":"datacite_orcid","title":"DataCite (ORCID)","count":1}]},"relations":[{"subj_id":"http://doi.org/10.1594/PANGAEA.857257","obj_id":"http://doi.org/10.1016/J.QUASCIREV.2015.08.026","source_id":"datacite_crossref","publisher_id":"TIB.PANGAEA","relation_type_id":"references","total":1,"author":[{"family":"Häuselmann","given":"Anamaria
        Diana","ORCID":"http://orcid.org/0000-0003-2359-7340"},{"family":"Fleitmann","given":"Dominik"},{"family":"Cheng","given":"Hai"},{"family":"Tabersky","given":"Daniel"},{"family":"Günther","given":"Detlef"},{"family":"Edwards","given":"R
        Lawrence"}],"title":"Trace element concent of Stagamite MF-3 from Schafsloch
        Cave","published":"2015","issued":"2016-02-19T03:04:38Z","container-title":"PANGAEA
        - Data Publisher for Earth & Environmental Science","DOI":"10.1594/PANGAEA.857257","work_type_id":"dataset","results":{},"timestamp":"2016-09-18T06:22:27Z"},{"subj_id":"http://doi.org/10.1594/PANGAEA.859581","obj_id":"http://doi.org/10.1007/S00300-016-1995-X","source_id":"datacite_crossref","publisher_id":"TIB.PANGAEA","relation_type_id":"references","total":1,"author":[{"family":"Nowak","given":"Christopher","ORCID":"http://orcid.org/0000-0002-5405-9126"},{"family":"Laudien","given":"Jürgen"},{"family":"Sahade","given":"Ricardo"}],"title":"Counts
        of macrozoobenthic organisms settled in artificial soft sediment at Bra[...]
- request:
    method: get
    uri: http://eventdata.labs.datacite.org/api/publishers?ids=dk.gbif,tib.pangaea,cdl.dryad,cdl.ucdirl,cisti.nrc,bl.imperial,delft.datacent,tib.ldeo,estdoi.qdb,tib.gfz,cdl.ucsd,tib.wdcc,inist.resif,osti.pegasus,cdl.pgerr&page=1&per_page=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"581deeeb831504402a808db7fbb29e4e"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"publisher-list","message-version":"v7","total":15,"total_pages":1,"page":1,"registration_agencies":[{"id":"datacite","title":"DataCite","count":15}],"members":[{"id":"delft","title":"DELFT","count":1},{"id":"cdl","title":"CDL","count":4},{"id":"tib","title":"TIB","count":4},{"id":"dk","title":"DK","count":1},{"id":"bl","title":"BL","count":1},{"id":"cisti","title":"CISTI","count":1},{"id":"osti","title":"OSTI","count":1},{"id":"estdoi","title":"ESTDOI","count":1},{"id":"inist","title":"INIST","count":1}]},"publishers":[{"id":"DELFT.DATACENT","title":"3TU
        Datacentrum","prefixes":[],"registration_agency_id":"datacite","member_id":"DELFT","timestamp":"2016-10-21T08:53:37Z"},{"id":"CDL.DRYAD","title":"Dryad","prefixes":[],"registration_agency_id":"datacite","member_id":"CDL","timestamp":"2016-10-21T08:54:20Z"},{"id":"TIB.GFZ","title":"Geoforschungszentrum
        Potsdam","prefixes":[],"registration_agency_id":"datacite","member_id":"TIB","timestamp":"2016-10-21T08:54:38Z"},{"id":"DK.GBIF","title":"Global
        Biodiversity Information Facility","prefixes":[],"registration_agency_id":"datacite","member_id":"DK","timestam[...]
