---
http_interactions:
- request:
    method: get
    uri: http://eventdata.labs.datacite.org/api/relations?page=1&per_page=25&source_id=datacite_crossref
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"61352a15cedd4f83707d45462479a0cf"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"relation-list","message-version":"v7","total":1117918,"total_pages":44717,"page":1,"publishers":[{"id":"bl.ccdc","title":"The
        Cambridge Crystallographic Data Centre","count":951046},{"id":"tib.pangaea","title":"PANGAEA
        - Publishing Network for Geoscientific and Environmental Data","count":134294},{"id":"dk.gbif","title":"Global
        Biodiversity Information Facility","count":16398},{"id":"cdl.digsci","title":"Digital
        Science","count":6280},{"id":"cdl.peerj","title":"PeerJ","count":2192},{"id":"cdl.dryad","title":"Dryad","count":1998},{"id":"cdl.culis","title":"Columbia
        University Libraries/Information Services (CUL/IS)","count":1918},{"id":"inist.ifremer","title":"Institut
        Français de Recherche pour l''Exploitation de la Mer","count":872},{"id":"cisti.nrc","title":"National
        Research Council","count":458},{"id":"cern.zenodo","title":"ZENODO - Research.
        Shared.","count":392},{"id":"tib.wdcc","title":"World Data Center for Climate","count":378},{"id":"cdl.sbgrid","title":"Harvard
        Medical School","count":302},{"id":"tib.ldeo","title":"LDEO - Lamont-Doherty
        Earth Observatory, Columbia University","count":200},{"id":"bl.bgi","title":"Beijing
        Genomics Institute","count":156},{"id":"estdoi.qdb","title":"Qsardb repository","count":156}],"relation_types":[{"id":"is_supplemented_by","title":"Is
        supplemented by","count":486726},{"id":"is_supplement_to","title":"Is supplement
        to","count":486725},{"id":"is_referenced_by","title":"Is referenced by","count":65171},{"id":"references","title":"References","count":65166},{"id":"is_previous_version_of","title":"Is
        previous version of","count":2152},{"id":"is_new_version_of","title":"Is new
        version of","count":2150},{"id":"reviews","title":"Reviews","count":1174},{"id":"is_reviewed_by","title":"Is
        reviewed by","count":1174},{"id":"documents","title":"Documents","count":1022},{"id":"is_documented_by","title":"Is
        documented by","count":1021},{"id":"is_original_form_of","title":"Is original
        form of","count":969},{"id":"is_variant_form_of","title":"Is variant form
        of","count":969},{"id":"is_source_of","title":"Is source of","count":889},{"id":"is_derived_from","title":"Is
        derived from","count":884},{"id":"cites","title":"Cites","count":823}],"sources":[{"id":"datacite_crossref","title":"DataCite
        (Crossref)","count":1117918}]},"relations":[{"subj_id":"http://doi.org/10.2110/JSR.2013.57","obj_id":"http://doi.org/10.1594/PANGAEA.821568","source_id":"datacite_crossref","publisher_id":"860","relation_type_id":"is_referenced_by","total":1,"author":[],"title":"On
        the Stabilizing Influence of Silt On Sand Beds","registration_agency_id":"crossref","published":"2013-07-30","issued":"2013-07-30T00:00:00Z","DOI":"10.2110/jsr.2013.57","work_type_id":"article-journal","results":[],"implicit":true,"timestamp":"2016-09-18T06:22:28Z"},{"subj_id":"http://doi.org/10.2110/JSR.2013.57","obj_id":"http://doi.org/10.1594/PANGAEA.821663","source_id":"datacite_crossref","publisher_id":"860","relation_type_id":"is_referenced_by","total":1,"author":[],"title":"On
        the Stabilizing Influence of Silt On Sand Beds","registration_agency_id":"crossref","published":"2013-07-30","issued":"2013-07-30T00:00:00Z","DOI":"10.2110/jsr.2013.57","work_type_id":"article-journal","results":[],"implicit":true,"timestamp":"2016-09-18T06:22:28Z"},{"subj_id":"http://doi.org/10.1594/PANGAEA.857257","obj_id":"http://doi.org/10.1016/J.QUASCIREV.2015.08.026","source_id":"datacite_crossref","publisher_id":"TIB.PANGAEA","relation_type_id":"references","total":1,"author":[{"family":"Häuselmann","given":"Anamaria
        Diana","ORCID":"http://orcid.org/0000-0003-2359-7340"},{"family":"Fleitmann","given":"Dominik"},{"family":"Cheng","given":"Hai"},{"family":"Tabersky","given":"Daniel"},{"family":"Günther","given":"Detlef"},{"family":"Edwards","given":"R
        Lawrence"}],"title":"Trace element concent of Stagamite MF-3 from Schafsloch
        Cave","registration_agency_id":"datacite","published":"2015","issued":"2016-02-19T03:04:38Z","container-title":"PANGAEA
        - Data Publisher for Earth & Environmental Science","DOI":"10.1594/PANGAEA.857257","work_type_id":"dataset","results":[],"timestamp":"2016-09-18T06:22:27Z"},{"subj_id":"http://doi.org/10.1016/J.QUASCIREV.2015.08.026","obj_id":"http://doi.org/10.1594/PANGAEA.857257","source_id":"datacite_crossref","publisher_id":"78","relation_type_id":"is_referenced_by","total":1,"author":[],"title":"Timing
        and nature of the penultimate deglaciation in a high alpine stalagmite from
        Switzerland","registration_agency_id":"crossref","published":"2015-10","issued":"2015-10-01T00:00:00Z","DOI":"10.1016/j.quascirev.2015.08.026","URL":"http://www.sciencedirect.com/science/article/pii/S0277379115300925","work_type_id":"article-journal","results":[],"implicit":true,"timestamp":"2016-09-18T06:22:27Z"},{"subj_id":"http://doi.org/10.1594/PANGAEA.859581","obj_id":"http://doi.org/10.1007/S00300-016-1995-X","source_id":"datacite_crossref","publisher_id":"TIB.PANGAEA","relation_type_id":"references","total":1,"author":[{"family":"Nowak","given":"Christopher","ORCID":"http://orcid.org/0000-0002-5405-9126"},{"family":"Laudien","given":"[...]
- request:
    method: get
    uri: http://eventdata.labs.datacite.org/api/publishers?ids=bl.ccdc,tib.pangaea,dk.gbif,cdl.digsci,cdl.peerj,cdl.dryad,cdl.culis,inist.ifremer,cisti.nrc,cern.zenodo,tib.wdcc,cdl.sbgrid,tib.ldeo,bl.bgi,estdoi.qdb&page=1&per_page=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"54a5e7e22b495d821a57b8f3973c4141"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"publisher-list","message-version":"v7","total":15,"total_pages":1,"page":1,"registration_agencies":[{"id":"datacite","title":"DataCite","count":15}],"members":[{"id":"bl","title":"BL","count":2},{"id":"cdl","title":"CDL","count":5},{"id":"dk","title":"DK","count":1},{"id":"inist","title":"INIST","count":1},{"id":"tib","title":"TIB","count":3},{"id":"cisti","title":"CISTI","count":1},{"id":"estdoi","title":"ESTDOI","count":1},{"id":"cern","title":"CERN","count":1}]},"publishers":[{"id":"BL.BGI","title":"Beijing
        Genomics Institute","prefixes":[],"registration_agency_id":"datacite","member_id":"BL","timestamp":"2016-10-29T05:05:36Z"},{"id":"CDL.CULIS","title":"Columbia
        University Libraries/Information Services (CUL/IS)","prefixes":[],"registration_agency_id":"datacite","member_id":"CDL","timestamp":"2016-10-29T05:05:48Z"},{"id":"CDL.DIGSCI","title":"Digital
        Science","prefixes":[],"registration_agency_id":"datacite","member_id":"CDL","timestamp":"2016-10-29T05:07:49Z"},{"id":"CDL.DRYAD","title":"Dryad","prefixes":[],"registration_agency_id":"datacite","member_id":"CDL",[...]
