---
http_interactions:
- request:
    method: get
    uri: https://eventdata.datacite.org/api/relations?page=1&per_page=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"76116c57ea1293cc117d35d1a7cb2d4c"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"relation-list","message-version":"v7","total":7419297,"total_pages":148386,"page":1,"sources":{"datacite_related":6296736,"datacite_orcid":6,"datacite_github":4207,"mendeley":2,"github":386,"europe_pmc_fulltext":42,"datacite_crossref":1117918},"relation_types":{"cites":1978,"is_cited_by":1371,"is_supplement_to":489161,"is_supplemented_by":489167,"continues":157757,"is_continued_by":157753,"is_metadata_for":194,"has_metadata":194,"is_part_of":279889,"has_part":281339,"references":2562699,"is_referenced_by":2562761,"documents":1804,"is_documented_by":1786,"compiles":44,"reviews":1174,"is_reviewed_by":1174,"is_derived_from":34743,"is_source_of":35229,"bookmarks":111,"is_new_version_of":101297,"is_previous_version_of":101273,"is_original_form_of":3546,"is_variant_form_of":2996,"is_identical_to":149715,"is_compiled_by":44,"is_bookmarked_by":98}},"relations":[{"subj_id":"http://doi.org/10.6084/M9.FIGSHARE.1279394.V222","obj_id":"http://doi.org/10.6084/M9.FIGSHARE.1279394","source_id":"datacite_related","publisher_id":"CDL.DIGSCI","relation_type_id":"is_previous_version_of","total":1,"author":[{"family":"Arend","given":"Peter","ORCID":"http://orcid.org/0000-0002-4000-4167"}],"title":"Early
        ovariectomy reveals the germline encoding of the “natural” mammalian anti-A-reactive
        IgM reflecting developmental malignancy.","published":"2016","issued":"2016-09-05T14:16:16Z","container-title":"Figshare","DOI":"10.6084/M9.FIGSHARE.1279394.V222","results":{},"timestamp":"2016-09-26T01:00:00Z"},{"subj_id":"http://doi.org/10.6084/M9.FIGSHARE.1279394","obj_id":"http://doi.org/10.6084/M9.FIGSHARE.1279394.V222","source_id":"datacite_related","publisher_id":"CDL.DIGSCI","relation_type_id":"is_new_version_of","total":1,"author":[],"title":"Early
        ovariectomy reveals the germline encoding of the “natural” mammalian anti-A-reactive
        IgM reflecting developmental malignancy.","published":"2016","issued":"2014-12-26T11:43:26Z","DOI":"10.6084/M9.FIGSHARE.1279394","work_type_id":"graphic","results":{},"implicit":true,"timestamp":"2016-09-26T01:00:00Z"},{"subj_id":"http://doi.org/10.6084/M9.FIGSHARE.2060766.V1","obj_id":"http://doi.org/10.6084/M9.FIGSHARE.2060766","source_id":"datacite_related","publisher_id":"CDL.DIGSCI","relation_type_id":"is_previous_version_of","total":1,"author":[{"family":"Rodea-Palomares","given":"Ismael","ORCID":"http://orcid.org/0000-0002-4630-7345"},{"family":"Gonzalez-Pleiter","given":"Miguel"},{"family":"Gonzalo","given":"Soledad"},{"family":"Rosal","given":"Roberto"},{"famil[...]
- request:
    method: get
    uri: https://eventdata.datacite.org/api/sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f30871765f14db30e6470b920fd27b42"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"source-list","message-version":"v7","total":15,"groups":{"relations":6,"contributions":4,"publishers":2,"results":3}},"sources":[{"id":"crossref_datacite","title":"Crossref
        (DataCite)","group_id":"relations","description":"Import works linked to a
        DataCite DOI from Crossref.","state":"active","timestamp":"2016-10-04T21:56:33Z","work_count":0,"relation_count":0,"result_count":0,"by_day":{"with_results":0,"without_results":0,"not_updated":0},"by_month":{"with_results":0,"without_results":0,"not_updated":0}},{"id":"datacite_crossref","title":"DataCite
        (Crossref)","group_id":"relations","description":"Import works with Crossref
        DOIs as relatedIdentifier via the DataCite Solr API.","state":"active","timestamp":"2016-10-04T21:56:33Z","work_count":19893,"relation_count":225467,"result_count":74369,"by_day":{"with_results":0,"without_results":0,"not_updated":225412},"by_month":{"with_results":12,"without_results":32,"not_updated":225[...]
- request:
    method: get
    uri: https://eventdata.datacite.org/api/groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"bdb91c439c4c90224189c7eb36197501"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"group-list","message-version":"v7","total":13},"groups[...]
- request:
    method: get
    uri: https://eventdata.datacite.org/api/relation_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ddd1a36f9fddddf9e5cc51894c8d4a2a"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"relation_type-list","message-version":"v7","total":39},"relation_types":[{"id":"bookmarks","title":"Bookmarks","inverse_title":"Is
        bookmarked by","timestamp":"2016-03-21T15:05:04Z"},{"id":"cites","title":"Cites","inverse_title":"Is
        cited by","timestamp":"2016-03-21T15:05:03Z"},{"id":"compiles","title":"Compiles","inverse_title":"Is
        compiled by","timestamp":"2016-03-21T15:05:03Z"},{"id":"continues","title":"Continues","inverse_title":"Is
        continued by","timestamp":"2016-03-21T15:05:03Z"},{"id":"corrects","title":"Corrects","inverse_title":"Is
        corrected by","timestamp":"2016-03-21T15[...]
