---
http_interactions:
- request:
    method: post
    uri: https://profiles.datacite.org/api/claims
    body:
      encoding: UTF-8
      string: '{"claim":{"orcid":"0000-0001-8478-7549","doi":"10.6084/M9.FIGSHARE.1226424","source_id":"orcid_update"}}'
    headers:
      Authorization:
      - Token token=<VOLPINO_TOKEN>
  response:
    status:
      code: 401
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"401","title":"You are not authorized to access
        this page."}]}'
  recorded_at: Wed, 05 Oct 2016 20:06:14 GMT
[...]
- request:
    method: post
    uri: https://profiles.datacite.org/api/claims
    body:
      encoding: UTF-8
      string: '{"claim":{"orcid":"0000-0002-3546-1048","doi":"10.6084/M9.FIGSHARE.1008320","source_id":"orcid_update"}}'
    headers:
      Authorization:
      - Token token=<VOLPINO_TOKEN>
  response:
    status:
      code: 401
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"401","title":"You are not authorized to access
        this page."}]}'
  recorded_at: Wed, 05 Oct 2016 20:06:50 GMT
recorded_with: VCR 2.9.3
