---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/clients?query=california
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"d1f260a67ad0821ab41e1bee41bc986c"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"cdl.ucsdcca","type":"clients","attributes":{"name":"California
        Coastal Atlas","symbol":"CDL.UCSDCCA","year":2012,"contact-name":"Greg Janee","contact-email":"gjanee@ucop.edu","domains":"*","url":null,"is-active":true,"created":"2012-06-27T20:51:59Z","updated":"2018-02-26T01:30:29Z"},"relationships":{"provider":{"data":{"id":"csc","type":"providers"}}}},{"id":"tind.cal","type":"clients","attributes":{"name":"California
        Institute of Technology","symbol":"TIND.CAL","year":2016,"contact-name":"tech@tind.io","contact-email":"tech@tind.io","domains":"tind.io","url":null,"is-active":true,"created":"2016-10-25T15:16:46Z","updated":"2018-02-26T01:30:53Z"},"relationships":{"provider":{"data":{"id":"rice","type":"providers"}}}},{"id":"cdl.caltech","type":"clients","attributes":{"name":"California
       [...]
