---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/clients?query=california
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"7512bc8f37f709e68b892713b31958c1"
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"cdl.ucsdcca","type":"clients","attributes":{"name":"California
        Coastal Atlas","symbol":"CDL.UCSDCCA","year":2012,"contact-name":"Greg Janee","contact-email":"gjanee@ucop.edu","domains":"*","is-active":true,"password":"yes","created":"2012-06-27T20:51:59Z","updated":"2017-12-02T22:49:04Z"},"relationships":{"prefixes":{"meta":{}},"provider":{"data":{"id":"cdl","type":"providers"}},"repository":{"data":null}}},{"id":"tind.cal","type":"clients","attributes":{"name":"California
        Institute of Technology","symbol":"TIND.CAL","year":2016,"contact-name":"tech@tind.io","contact-email":"tech@tind.io","domains":"tind.io","is-active":true,"password":"yes","created":"2016-10-25T15:16:46Z","updated":"2017-12-02T22:49:14Z"},"relationships":{"prefixes":{"meta":{}},"provider":{"data":{"id":"tind","type":"providers"}},"repository":{"data":null}}},{"id":"cdl.caltech","type":"clients","attributes[...]
