---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/clients?page%5Bsize%5D=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"798bb5c0709f0f7fb40b97bc1a19739d"
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"ethz.ubasojs","type":"clients","attributes":{"name":"027.7
        - Zeitschrift für Bibliothekskultur","symbol":"ETHZ.UBASOJS","year":2013,"contact-name":"ETH-Bibliothek,
        Barbara Hirschmann","contact-email":"barbara.hirschmann@library.ethz.ch","domains":"0277.ch","is-active":true,"password":"yes","created":"2013-03-21T11:02:47Z","updated":"2017-12-02T22:49:05Z"},"relationships":{"prefixes":{"meta":{}},"provider":{"data":{"id":"ethz","type":"providers"}},"repository":{"data":null}}},{"id":"delft.datacent","type":"clients","attributes":{"name":"3TU
        Datacentrum","symbol":"DELFT.DATACENT","year":2011,"contact-name":"M.M.E.deSmaele@tudelft.nl","contact-email":"M.M.E.deSmaele@tudelft.nl","domains":"*","is-active":true,"password":"yes","created":"2011-09-30T09:18:16Z","updated":"2017-12-02T22:49:02Z"},"relationships":{"prefixes":{"meta":{}},"provider":{"data":{"id":"delft","type":"providers"}},"repository":{"data":null}}},{"id":"delft.data4tu","type":"clie[...]
