---
http_interactions:
- request:
    method: get
    uri: https://eventdata.test.datacite.org/api/registration_agencies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Amz-Request-Id:
      - 8CDF8EDADD1D6729
    body:
      encoding: UTF-8
      string: |
        <html>
        <head><title>404 Not Found</title></head>
        <body>
        <h1>404 Not Found</h1>
        <ul>
        <li>Code: NoSuchKey</li>
        <li>Message: The specified key does not exist.</li>
        <li>Key: api/registration_agencies</li>
        <li>RequestId: 8CDF8EDADD1D6729</li>
        <li>HostId: +XSix44qwFT0YKm72TA5oAm1KUU9zIaiy0AklA4/KFq7VipfTJN/hVSD7hRI9wwVC3NKtNSSPy0=</li>
        </ul>
        <hr/>
        <link rel='stylesheet' type='text/css' href='//assets.datacite.org/stylesheets/banner.css' />
           <script type='text/javascript' src='//assets.datacite.org/javascripts/banner.js'></script></body>
        </html>
  recorded_at: Thu, 20 Apr 2017 09:30:53 GMT
recorded_with: VCR 2.9.3
