---
http_interactions:
- request:
    method: get
    uri: https://eventdata.test.datacite.org/api/registration_agencies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Amz-Request-Id:
      - 8BFCC7DE582717F7
    body:
      encoding: UTF-8
      string: |
        <html>
        <head><title>404 Not Found</title></head>
        <body>
        <h1>404 Not Found</h1>
        <ul>
        <li>Code: NoSuchKey</li>
        <li>Message: The specified key does not exist.</li>
        <li>Key: api/registration_agencies</li>
        <li>RequestId: 8BFCC7DE582717F7</li>
        <li>HostId: pHWDdax8YsNjiBgEyAkHNLjjELWuXhaX+yk6P3gEguzwauCuL19mDhTVGzMaMip8Pauk4B1Z3mo=</li>
        </ul>
        <hr/>
        <link rel='stylesheet' type='text/css' href='//assets.datacite.org/stylesheets/banner.css' />
           <script type='text/javascript' src='//assets.datacite.org/javascripts/banner.js'></script></body>
        </html>
  recorded_at: Thu, 20 Apr 2017 09:30:51 GMT
recorded_with: VCR 2.9.3
