---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/clients/ETHZ.UBASOJS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"e9ee5c748b37c35c18cd15079fdb518e"
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ethz.ubasojs","type":"clients","attributes":{"name":"027.7
        - Zeitschrift für Bibliothekskultur","symbol":"ETHZ.UBASOJS","year":2013,"contact-name":"ETH-Bibliothek,
        Barbara Hirschmann","contact-email":"barbara.hirschmann@library.ethz.ch","domains":"0277.ch","is-active":true,"password":"yes","created":"2013-03-21T11:02:47Z","updated":"2017-12-02T22:49:05Z"},"relationships":{"prefixes":{"meta":{}},"provider":{"data":{"id":"ethz","type":"providers"}},"repository":{"data":null}}},"included":[{"id":"ethz","type":"providers","attributes":{"name":"ETH
        Zurich","symbol":"ETHZ","year":2010,"contact-name":"Angela Gastl","contact-email":"angela.gastl@library.ethz.ch","logo-url":"https://assets.datacite.org/images/members/ethz.png","is-active":true,"password":"yes","created":"2010-01-01T00:00:00.000Z","updated":"2017-12-02T22:48:26.000Z"},"relationships":{"clients":{"meta":{}},"prefixes":{"meta":{}}}}],"meta":{"dois":[]}}'
  recorded_at: Tue, 12 Dec 2017 21:11:02 GMT
recorded_with: VCR 2.9.3
