---
http_interactions:
- request:
    method: get
    uri: http://search.datacite.org/api?fl=doi,nameIdentifier,updated&fq=updated:%5B2013-09-04T00:00:00Z%20TO%202013-09-05T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=nameIdentifier:ORCID%5C:*&rows=0&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":111},"response":{"numFound":0,"start":0,"docs":[]}}

'
  recorded_at: Mon, 08 Feb 2016 01:26:45 GMT
[...]
- request:
    method: get
    uri: http://search.datacite.org/api?fl=doi,creator,title,publisher,publicationYear,resourceTypeGeneral,datacentre_symbol,relatedIdentifier,xml,updated&fq=updated:%5B2013-09-04T00:00:00Z%20TO%202013-09-05T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=relatedIdentifier:DOI%5C:*&rows=0&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":387},"response":{"numFound":1,"start":0,"docs":[]}}

'
  recorded_at: Mon, 08 Feb 2016 01:26:45 GMT
recorded_with: VCR 2.9.3
