---
http_interactions:
- request:
    method: post
    uri: https://eventdata.datacite.org/api/deposits
    body:
      encoding: UTF-8
      string: '{"deposit":{"subj_id":"http://orcid.org/0000-0001-8478-7549","obj_id":"http://doi.org/10.6084/M9.FIGSHARE.1226424","relation_type_id":null,"source_id":"datacite_orcid","publisher_id":"CDL.DIGSCI","subj":{},"obj":{"pid":"http://doi.org/10.6084/M9.FIGSHARE.1226424","DOI":"10.6084/M9.FIGSHARE.1226424","author":[{"family":"Cotta","given":"Carlos","ORCID":"http://orcid.org/0000-0001-8478-7549"},{"family":"Nogueras","given":"Rafael"}],"title":"Color
        mememaps of self-balancing strategies","container-title":"Figshare","published":"2015","issued":"2015-04-08T10:13:29Z","publisher_id":"CDL.DIGSCI","registration_agency_id":"datacite","tracked":true,"type":"graphic"},"message_type":"contribution","prefix":"10.6084","source_token":"da1c5f4b-d4bf-47dc-8d25-98f041cf483e","callback":"http://localhost:8040/api/callbacks"}}'
    headers:
      Authorization:
      - Token token=<LAGOTTO_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 202 Accepted
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"accepted","message-type":"deposit","message-version":"v7"},"deposit":{"id":"1f0b29f1-fc23-418d-978e-94d3776b1eeb","state":"waiting","message_type":"contribution","message_action":"create","source_token":"da1c5f4b-d4bf-47dc-8d25-98f041cf483e","callback":"http://localhost:8040/api/callbacks","prefix":"10.6084","subj_id":"http://orcid.org/0000-0001-8478-7549","obj_id":"http://doi.org/10.6084/M9.FIGSHARE.1226424","relation_type_id":"references","source_id":"datacite_orcid","publisher_id":"CDL.DIGSCI","total":1,"occurred_at":"2016-07-02T17:02:42Z","timestamp":"2016-07-02T17:02:42Z","subj":{},"obj":{"pid":"http://doi.org/10.6084/M9.FIGSHARE.1226424","author":[{"given":"Carlos","family":"Cotta","ORCID":"http://orcid.org/0000-0001-8478-7549"},{"given":"Rafael","family":"Nogueras"}],"title":"Color
        mememaps of self-balancing strategies","container-title":"Figshare","issued":"2015-04-08T10:13:29Z","published":"2015","DOI":"10.6084/M9.FIGSHARE.1226424","registration_agency_id":"datacite","publisher_id":"CDL.DIGSCI","type":"graphic","tracked":true}}}'
  recorded_at: Sat, 02 Jul 2016 17:02:52 GMT
[...]
