---
http_interactions:
- request:
    method: post
    uri: http://eventdata.labs.datacite.org/api/deposits
    body:
      encoding: UTF-8
      string: '{"deposit":{"subj_id":"http://orcid.org/0000-0001-8478-7549","obj_id":"https://doi.org/10.6084/M9.FIGSHARE.1226424","relation_type_id":null,"source_id":"datacite_orcid","publisher_id":"CDL.DIGSCI","subj":{},"obj":{"pid":"https://doi.org/10.6084/M9.FIGSHARE.1226424","DOI":"10.6084/M9.FIGSHARE.1226424","author":[{"literal":"Carlos
        Cotta","ORCID":"http://orcid.org/0000-0001-8478-7549"},{"literal":"Rafael
        Nogueras"}],"title":"Color mememaps of self-balancing strategies","container-title":"Figshare","published":"2015","issued":"2015-04-08T10:13:29Z","publisher_id":"CDL.DIGSCI","registration_agency_id":"datacite","tracked":true,"type":"graphic"},"message_type":"contribution","prefix":"10.6084","source_token":"86e24a4d-c858-4c55-9a1d-d5defc9cba85","callback":"http://localhost:8040/api/callbacks"}}'
    headers:
      Authorization:
      - Token token=<LAGOTTO_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"error","error":"You are not authorized to access
        this page."}}'
  recorded_at: Fri, 21 Oct 2016 17:28:16 GMT
[...]
- request:
    method: post
    uri: http://eventdata.labs.datacite.org/api/deposits
    body:
      encoding: UTF-8
      string: '{"deposit":{"subj_id":"http://orcid.org/0000-0003-3938-899X","obj_id":"https://doi.org/10.5284/1030449","relation_type_id":null,"source_id":"datacite_orcid","publisher_id":"BL.ADS","subj":{},"obj":{"pid":"https://doi.org/10.5284/1030449","DOI":"10.5284/1030449","author":[{"family":"Allen","given":"Martyn"},{"family":"Brindle","given":"Tom"},{"family":"Smith","given":"Alex"},{"family":"Richards","given":"Julian
        D","ORCID":"http://orcid.org/0000-0003-3938-899X"},{"family":"Evans","given":"Tim","ORCID":"http://orcid.org/0000-0002-2725-6730"},{"family":"Holbrook","given":"Neil"},{"family":"Fulford","given":"Michael"},{"family":"Blick","given":"Nathan"}],"title":"The
        Rural Settlement of Roman Britain: an online resource","container-title":"Archaeology
        Data Service","published":"2015","issued":"2015-04-08T08:54:57Z","publisher_id":"BL.ADS","registration_agency_id":"datacite","tracked":true,"type":"dataset"},"message_type":"contribution","prefix":"10.5284","source_token":"86e24a4d-c858-4c55-9a1d-d5defc9cba85","callback":"http://localhost:8040/api/callbacks"}}'
    headers:
      Authorization:
      - Token token=<LAGOTTO_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"error","error":"You are not authorized to access
        this page."}}'
  recorded_at: Fri, 21 Oct 2016 17:28:18 GMT
[...]
- request:
    method: post
    uri: http://eventdata.labs.datacite.org/api/deposits
    body:
      encoding: UTF-8
      string: '{"deposit":{"subj_id":"http://orcid.org/0000-0002-3546-1048","obj_id":"https://doi.org/10.6084/M9.FIGSHARE.779705","relation_type_id":null,"source_id":"datacite_orcid","publisher_id":"CDL.DIGSCI","subj":{},"obj":{"pid":"https://doi.org/10.6084/M9.FIGSHARE.779705","DOI":"10.6084/M9.FIGSHARE.779705","author":[{"literal":"Ann
        Mayo","ORCID":"http://orcid.org/0000-0002-3546-1048"}],"title":"Ants in the
        Grassland:their imortance and potential as indicators of ecosystem health","container-title":"Figshare","published":"2013","issued":"2013-08-22T04:04:35Z","publisher_id":"CDL.DIGSCI","registration_agency_id":"datacite","tracked":true,"type":"dataset"},"message_type":"contribution","prefix":"10.6084","source_token":"86e24a4d-c858-4c55-9a1d-d5defc9cba85","callback":"http://localhost:8040/api/callbacks"}}'
    headers:
      Authorization:
      - Token token=<LAGOTTO_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"error","error":"You are not authorized to access
        this page."}}'
  recorded_at: Fri, 21 Oct 2016 17:28:22 GMT
[...]
- request:
    method: post
    uri: http://eventdata.labs.datacite.org/api/deposits
    body:
      encoding: UTF-8
      string: '{"deposit":{"subj_id":"http://orcid.org/0000-0002-3546-1048","obj_id":"https://doi.org/10.6084/M9.FIGSHARE.1041547","relation_type_id":null,"source_id":"datacite_orcid","publisher_id":"CDL.DIGSCI","subj":{},"obj":{"pid":"https://doi.org/10.6084/M9.FIGSHARE.1041547","DOI":"10.6084/M9.FIGSHARE.1041547","author":[{"literal":"Ann
        Mayo","ORCID":"http://orcid.org/0000-0002-3546-1048"}],"title":"Jills of All
        Trades: Ant Diversity and Versatility in the Cross Timbers Ecoregion","container-title":"Figshare","published":"2014","issued":"2014-06-02T01:33:35Z","publisher_id":"CDL.DIGSCI","registration_agency_id":"datacite","tracked":true,"type":"dataset"},"message_type":"contribution","prefix":"10.6084","source_token":"86e24a4d-c858-4c55-9a1d-d5defc9cba85","callback":"http://localhost:8040/api/callbacks"}}'
    headers:
      Authorization:
      - Token token=<LAGOTTO_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"error","error":"You are not authorized to access
        this page."}}'
  recorded_at: Fri, 21 Oct 2016 17:28:23 GMT
[...]
- request:
    method: post
    uri: http://eventdata.labs.datacite.org/api/deposits
    body:
      encoding: UTF-8
      string: '{"deposit":{"subj_id":"http://orcid.org/0000-0002-3546-1048","obj_id":"https://doi.org/10.6084/M9.FIGSHARE.1008320","relation_type_id":null,"source_id":"datacite_orcid","publisher_id":"CDL.DIGSCI","subj":{},"obj":{"pid":"https://doi.org/10.6084/M9.FIGSHARE.1008320","DOI":"10.6084/M9.FIGSHARE.1008320","author":[{"literal":"Ann
        Mayo","ORCID":"http://orcid.org/0000-0002-3546-1048"}],"title":"Nest Distribution
        of the Comanche Harvester Ant","container-title":"Figshare","published":"2014","issued":"2014-04-28T13:12:45Z","publisher_id":"CDL.DIGSCI","registration_agency_id":"datacite","tracked":true,"type":"dataset"},"message_type":"contribution","prefix":"10.6084","source_token":"86e24a4d-c858-4c55-9a1d-d5defc9cba85","callback":"http://localhost:8040/api/callbacks"}}'
    headers:
      Authorization:
      - Token token=<LAGOTTO_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"error","error":"You are not authorized to access
        this page."}}'
  recorded_at: Fri, 21 Oct 2016 17:28:24 GMT
recorded_with: VCR 2.9.3
