---
http_interactions:
- request:
    method: get
    uri: https://eventdata.datacite.org/api/contributors/http://orcid.org/0000-0002-4000-4167
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"a96280ad7bed178451939b5505a485a8"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"contributor","message-version":"v7"},"contributor":{"id":"http://orcid.org/0000-0002-4000-4167","family":"Arend","given":"Peter","timestamp":"1970-01-01T00:00:00Z"}}'
  recorded_at: Tue, 04 Oct 2016 21:53:36 GMT
recorded_with: VCR 2.9.3
