---
http_interactions:
- request:
    method: get
    uri: https://eventdata.datacite.org/api/contributors?page=1&per_page=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"e0d7f7021645d72b67fde12325a35869"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"contributor-list","message-version":"v7","total":6461,"total_pages":130,"page":1},"contributors":[{"id":"https://github.com/mne-tools","timestamp":"1970-01-01T00:00:00Z"},{"id":"http://orcid.org/0000-0002-5164-0281","given":"Peyman","timestamp":"1970-01-01T00:00:00Z"},{"id":"https://github.com/Ehsanizadi","timestamp":"1970-01-01T00:00:00Z"},{"id":"https://github.com/bwringe","timestamp":"1970-01-01T00:00:00Z"},{"id":"https://github.com/pierriko","timestamp":"1970-01-01T00:00:00Z"},{"id":"https://github.com/OpenGeoscience","timestamp":"1970-01-01T00:00:00Z"},{"id":"https://github.com/cmbant","timestamp":"1970-01-01T00:00:00Z"},{"id":"https://github.com/sandraTL","timestamp":"1970-01-01T00:00:00Z"},{"id":"https://git[...]
