---
http_interactions:
- request:
    method: get
    uri: https://eventdata.datacite.org/api/contributors?page=1&per_page=25&q=0000-0002-4000-4167
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"a2d6797435bcbebd84871468f1308c32"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"ok","message-type":"contributor-list","message-version":"v7","total":1,"total_pages":1,"page":1},"contributors":[{"id":"http://orcid.org/0000-0002-4000-4167","family":"Arend","given":"Peter","timestamp":"1970-01-01T00:00:00Z"}]}'
  recorded_at: Sat, 02 Jul 2016 17:02:51 GMT
recorded_with: VCR 2.9.3
