---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/datacite/datacite/milestones?github_token=<GITHUB_PERSONAL_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token <GITHUB_PERSONAL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4879'
      X-Ratelimit-Reset:
      - '1537521488'
      Etag:
      - '"b91f75ff8a2b78f91c2395f3f85291d2"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - unknown, github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/datacite/datacite/milestones/19","html_url":"https://github.com/datacite/datacite/milestone/19","labels_url":"https://api.github.com/repos/datacite/datacite/milestones/19/labels","id":2564142,"node_id":"MDk6TWlsZXN0b25lMjU2NDE0Mg==","number":19,"title":"Status
        service improvements","description":"Study of the Service Status Portal to
        understand gaps. New procedures, reporting workflows and internal documentation/templates.","creator":{"login":"mfenner","id":23151,"node_id":"MDQ6VXNlcjIzMTUx","avatar_url":"https://avatars0.githubusercontent.com/u/23151?v=4","gravatar_id":"","url":"https://api.github.com/users/mfenner","html_url":"https://github.com/mfenner","followers_url":"https://api.github.com/users/mfenner/followers","following_url":"https://api.github.com/users/mfenner/following{/other_user}","gists_url":"https://api.github.com/users/mfenner/gists{/gist_id}","starred_url":"https://api.github.com/users/mfenner/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mfenner/subscriptions","organizations_url":"https://api.github.com/users/mfenner/orgs","repos_url":"https://api.github.com/users/mfenner/repos","events_url":"https://api.github.com/users/mfenner/events{/privacy}","received_events_url":"https://api.github.com/users/mfenner/received_events","type":"User","site_admin":false},"open_issues":6,"closed_issues":3,"state":"open","created_at":"2017-06-06T07:28:18Z","updated_at":"2018-04-08T05:15:39Z","due_on":null,"closed_at":null},{"url":"https://api.github.com/repos/datacite/datacite/milestones/22","html_url":"https://github.com/datacite/datacite/milestone/22","labels_url":"https://api.github.com/repos/datacite/datacite/milestones/22/labels","id":2564153,"node_id":"MDk6TWlsZXN0b25lMjU2NDE1Mw==","number":22,"title":"DOI
        Fabrica email reports","description":"Providers and clients will be able to
        configure regular emails with their DOI registration reports (e.g. number
        of DOIs registered last m[...]
