<% unless @flash.blank? %>
  <% @flash.each do |name, msg| %>
    <div class="alert alert-<%= name == "notice" ? "success" : "warning" %> landing-alert">
      <div class="container text-center">
        <%= content_tag :h5, msg, :id => "flash_#{name}" if msg.present? and msg.is_a?(String) %>
      </div>
    </div>
  <% end %>
<% end %>
