---
http_interactions:
- request:
    method: get
    uri: https://solr.test.datacite.org/api?q=doi:10.14454/terra%2Baqua/ceres/cldtyphist_l3.004&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":1,"start":0,"docs":[{"is_active":true,"created":"2018-05-21T07:53:28Z","prefix":"10.14454","dataset_id":"2216853","has_media":false,"datacentre_symbol":"DEMO.USERTEST","url":"https://eosweb.larc.nasa.gov/project/ceres/cldtyphist_ed4a","datacentre":"DEMO.USERTEST
        - User Testing University","datacentre_facet":"DEMO.USERTEST - User Testing
        University","allocator":"DEMO - DataCite Demo Provider","allocator_facet":"DEMO
        - DataCite Demo Provider","xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCAgICAgaHR0cDovL3NjaGVtYS5kYXRhY2l0ZS5vcmcvbWV0YS9rZXJuZWwtNC9tZXRhZGF0YS54c2QiPgogIDxpZGVudGlmaWVyIGlkZW50aWZpZXJUeXBlPSJET0kiPjEwLjE0NDU0L1RFUlJBQVFVQS9DRVJFUy9DTERUWVBISVNUX0wzLjAwNDwvaWRlbnRpZmllcj4KICA8Y3JlYXRvcnM+CiAgICA8Y3JlYXRvcj4KICAgICAgPGNyZWF0b3JOYW1lPldvbmcsVGFrbWVuZzwvY3JlYXRvck5hbWU+CiAgICA8L2NyZWF0b3I+CiAgPC9jcmVhdG9ycz4KICA8dGl0bGVzPgogICAgPHRpdGxlPkNFUkVTIExldmVsIDMgQ2xvdWQgVHlwZSBIaXN0b3JncmFtIFRlcnJhK0FxdWEgSERGIGZpbGUgLSBFZGl0aW9uNDwvdGl0bGU+CiAgPC90aXRsZXM+CiAgPHB1Ymxpc2hlcj5OQVNBIExhbmdsZXkgQXRtb3NwaGVyaWMgU2NpZW5jZSBEYXRhIENlbnRlciBEQUFDPC9wdWJsaXNoZXI+CiAgPHB1YmxpY2F0aW9uWWVhcj4yMDE2PC9wdWJsaWNhdGlvblllYXI+CiAgPHJlc291cmNlVHlwZSByZXNvdXJjZVR5cGVHZW5lcmFsPSJEYXRhc2V0Ii8+CjwvcmVzb3VyY2U+","has_metadata":true,"allocator_symbol":"DEMO","uploaded":"2018-05-21T07:53:28Z","namespace":"http://datacite.org/schema/kernel-4","checked":"2018-05-21T07:53:29Z","minted":"2018-05-21T08:00:47Z","state":"findable","updated":"2018-05-21T08:00:47Z","doi":"10.14454/TERRA+AQUA/CERES/CLDTYPHIST_L3.004","schema_version":"4","creator":["Wong,Takmeng"],"resourceTypeGeneral":"Dataset","publisher":"NASA
        Langley Atmospheric Science Data Center DAAC","publicationYear":"2016","title":["CERES
        Level 3 Cloud Type Historgram Terra+Aqua HDF file - Edition4"],"resourceType":"","_version_":1612198276838195200,"indexed":"2018-09-21T06:41:29.575Z"}]}}

'
  recorded_at: Fri, 21 Sep 2018 06:43:25 GMT
- request:
    method: get
    uri: https://schema.test.datacite.org/meta/kernel-4.1/include/datacite-resourceType-v4.1.xsd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 03 Jan 2018 12:59:26 GMT
      Etag:
      - '"6cc0617992b21daf1b6785c473f82b64"'
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <!-- Version 1.0 - Created 2011-01-13 - FZ, TIB, Germany
             2013-05 v3.0: Addition of ID to simpleType element; added values "Audiovisual", "Workflow" & "Other"; deleted value "Film"
             2017-10-23 v4.1: Addition of value "DataPaper" -->
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://datacite.org/schema/kernel-4" targetNamespace="http://datacite.org/schema/kernel-4" elementFormDefault="qualified">
          <xs:simpleType name="resourceType" id="resourceType">
            <xs:annotation>
              <xs:documentation>The general type of a resource.</xs:documentation>
            </xs:annotation>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Audiovisual"/>
              <xs:enumeration value="Collection"/>
              <xs:enumeration value="DataPaper"/>
              <xs:enumeration value="Dataset"/>
              <xs:enumeration value="Event"/>
              <xs:enumeration value="Image"/>
              <xs:enumeration value="InteractiveResource"/>
              <xs:enumeration value="Model"/>
              <xs:enumeration value="PhysicalObject"/>
              <xs:enumeration value="Service"/>
              <xs:enumeration value="Software"/>
              <xs:enumeration value="Sound"/>
              <xs:enumeration value="Text"/>
              <xs:enumeration value="Workflow"/>
              <xs:enumeration value="Other"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:schema>
  recorded_at: Fri, 21 Sep 2018 06:43:25 GMT
- request:
    method: get
    uri: https://app.test.datacite.org/clients/demo.usertest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"73eba05987b21926fc6de4c039cf1eea"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"demo.usertest","type":"clients","attributes":{"name":"User
        Testing University","symbol":"DEMO.USERTEST","year":2018,"contact-name":"Joseph
        Client","contact-email":"tech@datacite.org","domains":"*","url":null,"created":"2018-08-06T08:57:05.000Z","updated":"2018-08-26T01:31:14.000Z","is-active":true,"has-password":true},"relationships":{"provider":{"data":{"id":"demo","type":"providers"}},"prefixes":{"data":[{"id":"10.5072","type":"prefixes"},{"id":"10.33512","type":"prefixes"}]}}},"meta":{"dois":[{"id":2016,"title":2016,"count":1},{"id":2018,"title":2018,"count":46}]},"included":[{"id":"demo","type":"providers","attributes":{"name":"DataCite
        Demo Provider","symbol":"DEMO","website":null,"contact-name":"DataCite Support","contact-email":"tech@datacite.org","phone":null,"description":null,"region":null,"country":null,"logo-url":null,"institution-type":null,"is-active":true,"has-password":true,"joined":null,"created":"2010-01-01T00:00:00.000Z","updated":"2018-08-26T01:25:40.000Z"},"relationships":{"prefixes":{"data":[{"id":"10.5072","type":"prefixes"},{"id":"10.70032","type":"prefixes"},{"id":"10.70042","type":"prefixes"},{"id":"10.70043","type":"prefixes"},{"id":"10.70044","type":"prefixes"},{"id":"10.70049","type":"prefixes"},{"id":"10.25626","type":"prefixes"},{"id":"10.25625","type":"prefixes"},{"id":"10.25624","type":"prefixes"},{"id":"10.33512","type":"prefixes"},{"id":"10.33513","type":"prefixes"},{"id":"10.33514","type":"prefixes"}]}}}]}'
  recorded_at: Fri, 21 Sep 2018 06:43:25 GMT
recorded_with: VCR 3.0.3
