---
http_interactions:
- request:
    method: get
    uri: https://solr.test.datacite.org/api?defType=edismax&fq=doi:%2210.1098/rsif.2017.0030%22&q=10.1098/rsif.2017.0030&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":3},"response":{"numFound":0,"start":0,"docs":[]}}

'
  recorded_at: Tue, 19 Jun 2018 20:14:16 GMT
recorded_with: VCR 3.0.3
