---
http_interactions:
- request:
    method: get
    uri: https://solr.test.datacite.org/api?q=doi:10.1098/rsif.2017.0030&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":0,"start":0,"docs":[]}}

'
  recorded_at: Fri, 21 Sep 2018 08:57:47 GMT
recorded_with: VCR 3.0.3
