---
http_interactions:
- request:
    method: get
    uri: https://solr.test.datacite.org/api?bq=updated:%5BNOW/DAY-1YEAR%20TO%20NOW/DAY%5D&defType=edismax&f.minted.facet.range.end=2024-01-01T00:00:00Z&f.minted.facet.range.gap=%2B1YEAR&f.minted.facet.range.start=2004-01-01T00:00:00Z&facet=true&facet.field=minted&facet.limit=15&facet.mincount=1&facet.range=minted&fl=doi,url,title,creator,description,publisher,publicationYear,resourceType,resourceTypeGeneral,rightsURI,version,datacentre_symbol,allocator_symbol,schema_version,xml,media,minted,updated,checked&fq=has_metadata:true%20AND%20is_active:true&q=xxxx&rows=25&sort=score%20desc&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":2},"response":{"numFound":0,"start":0,"docs":[]},"facet_counts":{"facet_queries":{},"facet_fields":{"publicationYear":[],"datacentre_facet":[],"resourceType_facet":[],"schema_version":[],"minted":[]},"facet_dates":{},"facet_ranges":{"minted":{"counts":[],"gap":"+1YEAR","start":"2004-01-01T00:00:00Z","end":"2024-01-01T00:00:00Z"}}}}

'
  recorded_at: Thu, 22 Nov 2018 13:48:38 GMT
recorded_with: VCR 3.0.3
